
.search-box {
  margin-top: 5rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: center;
}
.blogMainImg {
  width: 100%; /* Adjust based on container */
  max-width: 600px; /* Optional: limit the max width of the container */
  margin: 0 auto; /* Center the container if it's smaller than the page width */
}

.blogMainImg img {
  width: 100%; 
  height: auto; 
  display: block; 
}

form {
  display: flex;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 50vw;
}

button[type="submit"] {
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/* blog card */

.blog-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 4rem;
}

.blog-container .card-container .blog-card{
  display: block;
  width: 300px;
  height: 350px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-decoration: none;
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  padding: 15px;
}

.blog-container .card-container img {
  width: 100%;  /* Make the image take up the full width of the card */
  height: 60%; /* Maintain aspect ratio */
  display: block; /* Remove any extra space below the image */
}


.blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

 /* see more button functionality */
 #see-more-button {
  display: block;
  margin: 5rem auto;
  padding: 5px 10px;
  background-color: #333333;
  color: #ffffff;
  border: none;
  width: 7.5rem;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

 #see-more-button:hover {
  background-color: #555555;
}


