
.main_post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h2 {
  align-self: center;
  color: var(--colorOnBackgroundColor);
}

.showPost {
  display: flex;
}

.postDetail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: clamp(1rem, 2vw, 3rem) auto;
  max-width: 100%;
  overflow: hidden;
}

.postDetail .writer {
  margin: 4rem 0 0 0;
}

.postDetail .userImg {
  width: clamp(40px, 3vw, 60px);
  height: clamp(40px, 3vw, 60px);
  border-radius: 50%;
  position: relative;
}

.postDetail .postContent .p {
  font-weight: 400 clamp(12px, 2vw, 24px) 'Roboto', sans-serif;
  color: var(--colorOnBackgroundColor);
  line-height: 1.5;
  text-align: justify;
}

.postDetail .postImg {
  position: relative;
  width: 100%;
  height: auto;
  align-self: center;
  margin: 2rem 0;
}

.cardContent .creater-detail {
  display: inline-flex;
}

@media screen and (max-width: 867px) {

  .main_post {
    width:100%
  }

  .showPost {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  
  .postDetail .postImg {
    max-width: 100%;
    height: auto;
  }

  .postDetail .postContent,
  .postDetail .postContent picture img {
    max-width: 100%;
    height: auto;
  }

}

