.create-blog {
    padding: var(--navheight);
    border-radius: 10px;
    box-shadow: var(--boxshadowwithopacity)
  }

  .create-blog .create-blog-img {
    width: 100%; 
    max-width: 600px; 
    margin: auto; 
  }
  
  .create-blog .create-blog-img img {
    width: 100%; 
    height: auto; 
    display: block; 
  }
  
  .create-blog form {
    display: flex;
    flex-direction: column;
    box-shadow: var(--boxshadowwithopacity);
    padding: 5px;
  }
  
  .create-blog input,
  .create-blog textarea {
    padding: 0.5rem;
    border-radius: 5px;
    font-size: 1rem;
    color: var(--backgroundColor);
  }
  
  .create-blog textarea {
    height: 200px;
  }
  
  .create-blog .button-container button {
    background-color: var(--background);
    color: var(--text);
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
  }
  
  .create-blog .button-container button:hover {
    background-color: var(--hoverColor);
  }
  
  @media screen and (max-width: 480px) {

    .create-blog {
      padding: var(--navheight) 5px;
    }
  }