
.myWork {
  padding-top: var(--navheight);
}

.search-box {
  margin-top: 5rem;
  margin-bottom: 4rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  gap: clamp(10px, 4vw, 20px);
}

.myWork .search-box > a {
  display: inline-flex;
  gap: clamp(10px, 4vw, 20px);
  color: var(--textColor);  
  position: sticky;
  top: 10px;
  z-index: 10;
}

.myWork .search-box > a > i {
  color: var(--text);
  display: block;
  padding: 5px;
  margin: 0 auto;
  background-color: var(--background);
  border-radius: 5px;
  transition: position 0.3s ease-in-out;
}

.myWork .fixed {
  position: fixed;
  top: 10px;
  left: 10px; /* Adjust as needed */
  z-index: 10;
}


.myWork .blogMainImg {
  width: 100%; 
  max-width: 600px; 
  margin: 0 auto; 
}

.myWork .blogMainImg img {
  width: 100%; 
  height: auto; 
  display: block; 
}

.myWork form {
  display: flex;
  align-items: center;
}

.myWork input[type="text"] {
  padding: 10px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 50vw;
}

.myWork button[type="submit"] {
  padding: 10px;
  background-color: var(--background);
  color: var(--text);
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

/* blog card */

.myWork .blog-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
  gap: 4rem;
}

.myWork .blog-container .card-container .blog-card{
  display: block;
  width: 300px;
  height: 350px;
  background-color: var(--background);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-decoration: none;
  /* transition: transform 0.2s ease-out, box-shadow 0.2s ease-out; */
  box-shadow: var(--boxshadowwithopacity);
  transition: transform 0.2s ease-out, box-shadow 0.2s ease-out;
  color: var(--text);
  padding: 15px;
}

.myWork .blog-container .card-container img {
  width: 100%; 
  height: 60%; 
  display: block; /* Remove any extra space below the image */
}


.myWork .blog-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

 /* see more button functionality */
 .myWork #see-more-button {
  display: block;
  margin: 5rem auto;
  padding: 5px 5px;
  background-color: var(--background);
  color: var(--text);
  border: none;
  width: 7.5rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.myWork #see-more-button:hover {
  background-color: var(--hoverColor);
}


