<link rel="stylesheet" href="/css/btnsOnPost.css">

<section class="btns">
    <div class="button-container">
        <a onclick="window.location.href='/blogs'" class="go-back">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        <% if(userExist) { %>
            <a class="" href="/project/<%= blogpost._id %>/edit">
                <i class="fa fa-edit" aria-hidden="true"></i>
            </a>
            <form method="POST" action="/project/<%= blogpost._id %>?_method=DELETE">
                <button type="submit" class="btn">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </form>
            <% } %>
                <a class="like" href="#writeCommentOnPost">
                    <i class="fa fa-comment" aria-hidden="true"></i>
                    <ins>
                        <%= blogpost.comments.length %>
                    </ins>
                </a>
                <div id="postCard" blog-post-id="<%= blogpost._id %>">
                    <!-- <a href="#" class="btn">
          <i class=" iconColor fas fa-thumbs-up" aria-hidden="true"></i>
          </a> -->
                </div>
    </div>
</section>