<link rel="stylesheet" href="/css/btnsOnPost.css">

<section class="btns">
    <div class="button-container">
        <a onclick="window.location.href='/readAll'" class="go-back">
            <i class="fa fa-arrow-left" aria-hidden="true"></i>
        </a>
        <% if(userExist) { %>
            <a class="" href="/project/<%= blogpost._id %>/edit">
                <i class="fa fa-edit" aria-hidden="true"></i>
            </a>
            <form method="POST" action="/project/<%= blogpost._id %>?_method=DELETE">
                <button type="submit" class="btn">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                </button>
            </form>
            <% } %>
                <a class="like" href="#writeCommentOnPost">
                    <i class="fa fa-comment" aria-hidden="true"></i>
                    <ins>
                        <%= blogpost.comments.length %>
                    </ins>
                </a>
                <div id="postCard" blog-post-id="<%= blogpost._id %>">
                </div>
    </div>
</section>

<script>
  var postCard = document.getElementById('postCard')
  var id = postCard.getAttribute('blog-post-id');
  //console.log('id===', id);
  axios.get('/readLikes/' + id).then(res => {
    // console.log("e=====", res.data.post)
    var User = res.data.user;
    var post = res.data.post;

    var likers = post.likers;
    // console.log('likers===', likers);
    var isLiked = false;
    for (var j = 0; j < post.likers.length; j++) {
      if (post.likers[j].userid == User._id) {
        isLiked = true;
        break;
      }
    }
    //console.log('isLiked', isLiked);
    var className = "";
    if (isLiked) {
      className = "like";
    } else {
      className = "unlike";
    }
    var html = ''
    html += '<span class="' + className + ' " onclick="toggleLikePost(this)" id="' + post._id + '">'
    html += '<i class=" mr-1 fa fa-thumbs-up"></i>'
    html += '<ins>' + post.likers.length + '</ins>'
    html += '</span>'
    //  console.log(html)
    document.getElementById('postCard').innerHTML = html;
  });

  function toggleLikePost(self) {
    //  console.log(self.id);
    axios.post('/like/' + self.id).then(res => {
      //    console.log(res.data)
      if (res.data.status == 'success') {
        self.className = "like";
        var likes = parseInt(self.querySelector("ins").innerHTML);
        likes++;
        self.querySelector("ins").innerHTML = likes;
      }
      if (res.data.status == 'unliked') {
        self.className = "unlike";
        var likes = parseInt(self.querySelector("ins").innerHTML);
        likes--;
        self.querySelector("ins").innerHTML = likes;
      }
      if (res.data.status == 'error') {
        if (res.data.redirect) {
                const currentUrl = window.location.href; // Get the current URL
                window.location.href = res.data.redirect + `?redirect=${encodeURIComponent(currentUrl)}`;
            }
      }
    });
  }
</script>