<footer class=" hidden footer">
  <section class="footer-container">
    <div class="cell">
      <img class="logo_image" id="footer-light-logo" src="/img/light-logoDeeDev.svg" alt="Light Logo" style="display: none;">
      <img class="logo_image" id="footer-dark-logo" src="/img/logoDeeDev.svg" alt="Dark Logo" >

      <div>
        <p>Dee Dhillon</p>
        <p>Freelance Developer & Consultant</p>
        <p>High Quality is our first priority</p>
      </div>

      <div>
          <a href="https://www.facebook.com/">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://www.linkedin.com/">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://www.instagram.com/">
            <i class="fab fa-instagram"></i>
          </a>
      </div>
    </div>
      <div class="cell">
          <h3>Website Links</h3>
          <a href="/quote">Quote</a>
          <a href="/process">Process</a>
          <a href="/privacy">Privacy Policy</a>
          <a href="/faq">FAQs</a>
          <a href="/sitemap">Site map</a>
      </div>
      <!-- <div class="divider"></div> -->
      <div class="cell">
          <h3>Services</h3>
          <a href="#">
            Mobile app development for IOS and Android
          </a>
          <a href="#">
            Website design and development
          </a>
          <a href="#">
            Search Engine Optimisation
          </a>
          <a href="#">
            Google Ads Management
          </a>
          <a href="#">
            Logo design
          </a>
          <a href="#">
            Future maintenance
          </a>          
      </div>
      <div class="cell">
          <h3>Contact</h3>
          <a href="mailto:info@deedeveloper.com">
            <i class="fa fa-envelope"></i> info@deedeveloper.com
          </a>
          <a href="tel:+61432000123">
            <i class="fa fa-phone"></i> +61432000123
          </a>          
      </div>
    <!-- <img src="../img/shape1.svg" alt="Thinking"> -->
  </section>
    <p >All rights reserved &copy; 2024</p>
</footer>

<script>
  const backToTopButton = document.querySelector('.back-to-top');
  window.addEventListener('scroll', () => {
    if (window.pageYOffset > 100) { // adjust the threshold as needed
      backToTopButton.classList.add('visible');
    } else {
      backToTopButton.classList.remove('visible');
    }
  });
  backToTopButton.addEventListener('click', () => {
    window.scrollTo({ top: 0, behavior: 'smooth' }); // smooth scroll to top of page
  });
</script>