<!-- <template> -->

  <head>
    <meta charset="utf-8" />
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no, maximum-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Be digital with deedeveloper</A></title>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

    <!-- Main CSS and Additional Styles -->
    <link href="/css/styles.css" rel="stylesheet" />
    <link href="/css/navbar.css" rel="stylesheet" />
    <link href="/css/footer.css" rel="stylesheet" />

    <% let styleFiles=style ? style.split(',').map(file=> file.trim()) : [];
    %>
      <% if (styleFiles && styleFiles.length> 0) { %>
        <% for (let file of styleFiles) { %>
          <link rel="stylesheet" href="/css/<%= file %>" />
          <% } %>
            <% } %>

          <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">
          <script src="https://kit.fontawesome.com/a81368914c.js"></script>

          <!-- Summernote Lite CSS -->
          <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/summernote@0.9.0/dist/summernote-lite.min.css">

          <!-- axios -->
          <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
          <!-- recaptcha -->
          <script src="https://www.google.com/recaptcha/api.js" async defer></script>
          <!-- jquery -->
          <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <!-- <template> -->
