<header>
  <div class="nav_bar">
  <img class="logo_image" id="light-logo" src="/img/light-logoDeeDev.svg" alt="Light Logo">
  <img class="logo_image" id="dark-logo" src="/img/logoDeeDev.svg" alt="Dark Logo" style="display: none;">

  <nav class="nav">
    <ul class="nav_list">
      <li>
        <a href="/">
          <i class="fas fa-home"></i>Home
        </a>
      </li>
      <li>
        <a href="/#aboutSection">
          <i class="fas fa-user"></i>About
        </a>
      </li>
      <li>
        <a href="/#servicesSection">
          <i class="fas fa-clone"></i>Services
        </a>
      </li>
      <li>
        <a href="/#testimonial">
          <i class="fas fa-comment"></i>Testimonial
        </a>
      </li>
      <li>
        <a href="/#contactSection">
          <i class="fas fa-phone"></i>Contact
        </a>
      </li>
      <li class="blog" onclick="toggleBlogMenu(event)">
        <a href="#">
          Blog
          <!-- <i class="fa toggle-icon"></i>           -->
          <span class="toggle-icon">+</span>
        </a>
        <ul class="blog-menu">
          <li>
            <a href="/blogs">Home</a>
          </li>
          <li class='write-review'>
            <a href="/posts/new">Write blog</a>
          </li>
        </ul>
      </li>
      <% if(!isAuthenticated) {%>
        <li id="loggedIn">
          <a href="/auth/login">
            <i class="fas fa-sign-in-alt"></i>Sign In
          </a>
        </li>
        <li id="reg">
          <a href="/auth/newuser">
            <i class="fas fa-user-plus"></i>Sign Up
          </a>
        </li>
        <% } else{ %>
          <li id="loggedOut">
            <a href="/auth/logout">
              <i class="fas fa-sign-out-alt"></i>Sign Out
            </a>
          </li>
          <li class="profileImage">
            <a href="/auth/profile">
              <img href="#" src="<%- user.image %>" alt="" style="width:40px; border-radius: 100%;" />
            </a>
          </li>
          <% } %>
    </ul>
  </nav>

  <button class="toggle-btn">
    <i class="far fa-moon"></i>
    <i class="far fa-sun"></i>
  </button>

  <div class="hamburger-menu">
    <div class="bar"></div>
  </div>
</div>
</header>
<script>

function toggleBlogMenu(event) {  
    const blog = event.currentTarget;
    // const blogMenu = blog.nextElementSibling;
    const blogMenu = document.querySelector('.blog-menu');
    const toggleIcon = blog.querySelector(".toggle-icon");
    console.log('toggleBlogMenu==', toggleIcon);
    if (blogMenu.style.maxHeight) {
        blogMenu.style.maxHeight = null;
    } else {
        blogMenu.style.maxHeight = blogMenu.scrollHeight + "px";
    }

    toggleIcon.classList.toggle("open");
    toggleIcon.textContent = blogMenu.style.maxHeight ? "-" : "+";
}
</script>