<header>
  <div class="nav_bar">
    <img class="logo_image" id="light-logo" src="/img/light-logoDeeDev.svg" alt="Light Logo" style="display: none;">
    <img class="logo_image" id="dark-logo" src="/img/logoDeeDev.svg" alt="Dark Logo">

    <nav>
      <a href="/">
        <i class="fas fa-home in_navBar"></i>Home
      </a>
      <a class="navAbout" onclick="toggleAboutMenu(event)" href="#">
        Portfolio
        <span class="toggle-icon">+</span>
        <li class="about-menu">
          <a href="/portfolio">About Me</a>
          <a href="/blogs">My Work</a>
          <a href="/#servicesSection">Services</a>
        </li>
      </a>
      <!-- <a id="Testimonial" href="/#testimonial">
            <i class="fas fa-comment"></i>Testimonial
          </a> -->
      <a href="/#contactSection">
        <i class="fas fa-phone"></i>Contact
      </a>
      <!-- <a class='write-review' href="/posts/new">Write a Blog</a> -->

      <!-- <a class="blog" onclick="toggleBlogMenu(event)" href="#">
            Blog
            <span class="toggle-icon">+</span>
            <li >
              <a class="blog-menu" href="/blogs">Home</a>
              <a class='write-review' href="/posts/new">Post</a>
          </li>
          </a>
           -->
      <% if(!isAuthenticated) {%>
        <a id="loggedIn" href="/auth/login">
          <i class="fas fa-sign-in-alt"></i>
          <span>Sign In</span>
        </a>
        <a id="reg" href="/auth/newuser">
          <i class="fas fa-user-plus"></i>Sign Up
        </a>
        <% } else{ %>
          <a id="loggedOut" href="/auth/logout">
            <i class="fas fa-sign-out-alt"></i>Sign Out
          </a>
          <a class="profileImage" href="/auth/profile">
            <img src="<%= user && user.image ? user.image : '/img/person.png' %>" alt=" "
              style="width:40px; border-radius: 100%;" />
          </a>
          <% } %>
    </nav>

    <button class="toggle-btn">
      <i class="far fa-moon"></i>
      <i class="far fa-sun"></i>
    </button>

    <div class="hamburger-menu">
      <div class="bar"></div>
    </div>
  </div>
</header>

<script>

  function toggleAboutMenu(event) {
    const about = event.currentTarget;
    const aboutMenu = document.querySelector('.about-menu');
    const toggleIcon = about.querySelector(".toggle-icon");
    const TestimonialElement = document.getElementById('Testimonial');

    if (aboutMenu.style.maxHeight) {
      aboutMenu.style.maxHeight = null;
      TestimonialElement.style.marginTop = null;
      about.style.maxHeight = '2em';
    } else {
      about.style.maxHeight = aboutMenu.scrollHeight + "px";
      aboutMenu.style.maxHeight = aboutMenu.scrollHeight + "px";
      if (window.matchMedia("(max-width: 768px)").matches) { // Mobile break at 768px
        TestimonialElement.style.marginTop = aboutMenu.scrollHeight + "px";
      }
    }
    toggleIcon.classList.toggle("open");
    toggleIcon.textContent = aboutMenu.style.maxHeight ? "-" : "+";
  }
</script>