<section id="banner">
    <div class="container">
        <h1 class="text-info">Web design &amp; development process</h1>
    </div>
</section>
<hr />
<div class="container">
    <ul class="list">
        <li>
            <div class="content-split">
                <div class="content-lhs"><span>01</span></div>
                <div class="content-rhs">
                    <h3>Research</h3>
                    <div class="content">
                        <p>Our process starts with hours of research. We ask who
                            your
                            competitors are and take a look at their websites who rank
                            highly on Google.
                            We research the design and
                            content to merge the best design ideas in our new website.
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="content-split">
                <div class="content-rhs"><span>02</span></div>
                <div class="content-lhs">
                    <h3>Strategic Planning</h3>
                    <div class="content">
                        <p>This is where we determine the structure of your website –
                            the sitemap.
                            Using information about your products and services, we plan
                            the order of
                            the pages, sub-menu pages and news categories for your
                            website.
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="content-split">
                <div class="content-lhs"><span>03</span></div>
                <div class="content-rhs">
                    <h3>Search Engine Optimisation - SEO</h3>
                    <div class="content">
                        <p> We make sure to use the most-searched keywords relevant to
                            your products
                            and services and combine these with your main geographic
                            location. We optimise
                            individual pages by adding specific keywords to the metadata
                            and content
                            on every single page. </p>
                    </div>
                </div>
            </div>
        </li>
        <!-- <li>
                                <div class="content-split">
                                    <div class="content-rhs"><span>04</span></div>
                                    <div class="content-lhs">
                                        <h3>Copywriting</h3>
                                        <div class="content">
                                            <p>One of GOOP Digital’s strengths is its team of professional copywriters,
                                                who all have journalism, public relations and marketing backgrounds. Our
                                                copywriters are trained in SEO and understand how to add and write new
                                                content so your website ranks on Google. We keep up with the latest
                                                Google algorithm changes that affect how we write our sites. One of the
                                                most important tasks when writing a website is making sure the content
                                                is genuine, relevant and unique.</p>
                                        </div>
                                    </div>
                                </div>
                            </li> -->
        <li>
            <div class="content-split">
                <div class="content-rhs"><span>04</span></div>
                <div class="content-lhs">
                    <h3>Design</h3>
                    <div class="content">
                        <p>While we always incorporate certain elements for
                            functionality, we use your business logo
                            as well as any
                            promotional material to design a website that reflects the
                            look and feel of your brand.</p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="content-split">
                <div class="content-lhs"><span>05</span></div>
                <div class="content-rhs">
                    <h3>Development</h3>
                    <div class="content">
                        <p>Then we take all the ingredients we’ve gathered and
                            put them together, take the
                            design concept and bring it to life using
                            technical skill.</p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="content-split">
                <div class="content-rhs"><span>06</span></div>
                <div class="content-lhs">
                    <h3>Social Media</h3>
                    <div class="content">
                        <p>Everybody wants social media integration with their website,
                            and Social media is an integral part of your
                            website and online marketing, so we incorporate social
                            media features into our website designs and functionality.
                        </p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="content-split">
                <div class="content-lhs"><span>07</span></div>
                <div class="content-rhs">
                    <h3>Google Analytics</h3>
                    <div class="content">
                        <p> We adds unique Google Analytics code to every
                            website it creates as standard practice. Analytics are essential in
                            monitoring your website. You can track which pages people are landing on,
                            how long they are staying for, what devices people use to view your site
                            and much more.</p>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <div class="content-split">
                <div class="content-rhs"><span>08</span></div>
                <div class="content-lhs">
                    <h3>Launch</h3>
                    <div class="content">
                        <p> AppOnpress doesn’t only research, plan, design, write and
                            develop your website, we also ensure it has a smooth entry into the world wide web.
                            We handle and closely supervise the online changes, updates and other
                            details that are part of a new website going live. So you dont have to worry
                            about a thing.</p>
                    </div>
                </div>
            </div>
        </li>
        <!-- <li>
                                <div class="content-split">
                                    <div class="content-lhs"><span>09</span></div>
                                    <div class="content-rhs">
                                        <h3>Hosting</h3>
                                        <div class="content">
                                            <p>At GOOP Digital we ensure your website is working at peak performance,
                                                and our hosting ensures you have sufficient bandwidth for your
                                                requirements, that your CMS is regularly updated and backed-up and that
                                                our Australian-based servers are under constant surveillance. There’s no
                                                set and forget when it comes to a GOOP Digital website. We pride
                                                ourselves on our maintenance, assistance and hosting because we know our
                                                reputation and your website depend on it.</p>
                                        </div>
                                    </div>
                                </div>
                            </li> 
                            <li>
                                <div class="content-split">
                                    <div class="content-lhs"><span>11</span></div>
                                    <div class="content-rhs">
                                        <h3>Reporting</h3>
                                        <div class="content">
                                            <p>Our accountability for a website’s ranking in Google is one of the
                                                elements that sets GOOP Digital apart from other web developers. We
                                                don’t just design, build and launch websites, we then track their
                                                performance and make sure they achieve prominence in Google for their
                                                keywords. If a website doesn’t reach the prominence we’ve promised our
                                                clients, then we keep working on the site until it achieves the required
                                                Google rankings. Our goal is to make your website prominent for what it
                                                is you do, where you do it, and we provide regular reports on your
                                                site’s ranking performance until it achieves the agreed benchmark.
                                                That’s what comes with getting GOOPED!</p>
                                        </div>
                                    </div>
                                </div>
                            </li> -->
    </ul>
</div>