:root {
  --footer-padding: 1em 0 0 0;
  --footer-gap: 2em;
  --footer-img-width: 20em;
  --footer-img-height: 4em;
  --footer-font-family: "Roboto";
  --footer-font-weight-bold: 600;
  --footer-font-weight-regular: 500;
  --footer-font-size-regular: 0.8em;
  --footer-font-size-bold: 1em;
  --footer-color: var(--colorOnBackgroundColor);
  --footer-social-icon-gap: 2em;
  --footer-social-icon-font-size: 2em;
  --footer-social-icon-margin: 1.5rem;
  --footer-bg-img-opacity: 0.1;
  --footer-copyright-font-size: 0.5em;
  --footer-media-max-width: 768px;
  --footer-media-padding: 2em 0 0 0;
  --footer-media-logo-height: 1em;
  --footer-media-width: 60%;
  --hover-color: #17a2b8;
}
