<section class="login_wrapper">
    <div class="sub_login_wrapper">
        <h1>Account confirmed!</h1>
        <div class="login-error">
            <p>
              <%= error %>
            </p>
          </div>
          <div class="login-success">
            <p>
              <%= success %>
            </p>
          </div>
        <form id="verifyAccount" method="post" action="/auth/verifyEmail/<%= token %>?_method=POST"
            contenttype="application/json">
            <input type="hidden" name="token" value="<%= token %>" id="token" />
            <button type="submit">Be active</button>
        </form>
    </div>
</section>