/* Base styles that apply globally
:root {
    --pageWidth: 1440px;
    --navbarHeight: 5em;  
    --footerHeight: 10rem;
    --buttonBackGround: #9EBDFF;
    --buttonHover: #ffe09e;

    --headingSize: clamp(1.75rem, 5vw, 2.25rem);
    --headingFamily: 'Raleway', sans-serif;
    --headingColor: #0462A6;
    --headingWeight: 600;

    --heading2Size: clamp(1.50rem, 3vw, 1.75rem);
    --heading2Family: 'Raleway', sans-serif;
    --heading2Color: #0462A6;
    --heading2Weight: 500;

    --heading3Size: clamp(1.10rem, 2.25vw, 1.25rem);
    --heading3Family: 'Raleway', sans-serif;
    --heading3Color: #0462A6;
    --heading3Weight: 600;

    --textSize: clamp(1rem, 2vw, 1.15rem);
    --textFamily: Georgia, 'Times New Roman', Times, serif;
    --textColor: #000000;
    --textWeight: 300;
}

h1 {
    color: var(--headingColor);
    font-family: var(--headingFamily);
    font-size: var(--headingSize);
    font-weight: var(--headingWeight);
}

h2 {
    color: var(--heading2Color);
    font-family: var(--heading2Family);
    font-size: var(--heading2Size);
    font-weight: var(--heading2Weight);
}

h3 {
    color: var(--heading3Color);
    font-family: var(--heading3Family);
    font-size: var(--heading3Size);
    font-weight: var(--heading3Weight);
}

p {
    color: var(--textColor);
    font-family: var(--textFamily);
    font-size: var(--textSize);
    font-weight: var(--textWeight);
} */

section {
    margin: 2em 0;
}


/* https://learnlayout.com/box-sizing */
* {
    -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
    position: relative;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-color: rgba(255, 224, 158, 0.1); 
    font-family: Georgia, 'Times New Roman', Times, serif; 
    font-size: 18px; 
    line-height: 1.5; 
    letter-spacing: 2px; 
}

.main-section {
    transition: var(--navbarHeight) 0.3s ease;
    width: 100%;
    max-width: var(--pageWidth);
    margin: 0 auto;
    padding: 0px;
}


/* Index */
.index-section {
    display: flex;
    position: relative;
}

.index-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../img/profileImages/HomeBackGroundImage.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    opacity: 0.15; 
}

.left-section, .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: relative; 
}

.right-section {
    flex: 1; 
    display: flex;
    flex-direction: column; 
    position: relative;
}

.right-section .top-image, .right-section .bottom-text {
    flex: 1; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 20px; 
}

.content {
    box-shadow: 0px 8px 32px 0px rgba(0,0,0,0.2);
    background-color: rgba(255, 224, 158, 0.5);  ;
}

.content:hover{
    background-color: #FFE09E;
    opacity: 0.6;
}

.content, .text-content {
    margin: auto;
    text-align: center;
    width: 80%; 
    padding: 20px;
}

.top-image {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.top-image h3{
margin: auto;
text-align: center;
}
.top-image img {
    width: 60%;
    height: 80%;
    display: block; 
}

.bottom-text {
    flex-grow: 1;
    display: flex;
    align-items: center; 
    justify-content: center; 
}

/* contact */

.contact-section {
    max-width: var(--pageWidth);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 40px;
    margin-bottom: 20px;
}

.contact-section .section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-section .section .subsection1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    margin-right: 20px;
}

.contact-section .subsection2 img {
    display: block;
    width: 100%;
}

.contact-section .subsection1 input[type="text"],
.contact-section .subsection1 input[type="email"],
.contact-section .subsection1 textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.contact-section .subsection1 input[type="submit"] {
    background-color: var(--buttonBackGround);
    color: var(--textColor);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

.success {
    padding: 10px;
    background-color: #4CAF50; 
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

.error {
    padding: 10px;
    background-color: #f44336; 
    color: white;
    text-align: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* internship */
.internship {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.internship > p {
    align-self: center;
}
.company1, .company2, .company3 {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    border-bottom: solid gray 1px;
}

.company1, .company3 {
    flex-direction: row;
}

.company2 {
    flex-direction: row-reverse;
}

.aboutCompany {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content:center;
    align-items: center;  
}

.aboutCompany > img {
    width: 60%;
    height: auto;
}

.internDescription {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content:center;
    align-items: center;    
}

.internDescription > p {
    flex: 1;
    padding: 20px;
}

.internDescription .details {
    flex: 1;
    text-align: right;
    padding: 20px;
}

.detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: solid 1px black;
}

.detail strong {
    color: #666666;
}

/* skill */
/* https://youtu.be/EoN_4fv3T7A?si=g54lQRQ2I8IidY3c */

.skill-section {
    position: relative;
    overflow: hidden;
    background-color: var(--background);
}

.skill-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-image: url('https://images.unsplash.com/photo-1546410531-bb4caa6b424d?q=80&w=3271&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.3; /* Adjust the opacity value as needed */
}

.skill-section h1{
    text-align: center;
    color: var(--colorOnBackground);
}

.skill-section p {
    color: #fff;
    text-transform: uppercase;
    margin: 5px;
    font-size: var(--textSize);
}

.skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* flex-wrap: wrap; */
    margin: 30px auto;
    padding: 20px;
}

.skill .software {
    flex:1;
}

.skill .languages {
    background-color: turquoise;
    flex:1;
}

.skill .frameworks {
    background-color: #4CAF50;
    flex:1;
}

.skill span {
    color: #fff;
}

.skill li {
    margin: 20px 0;
    padding: 10px;
    list-style-type: none; 
}

.skill-section .bar {
    background: #353b48;
    display: block;
    height: 27px;
    border: 1px solid rgba(0,0,0,0.22);
    border-radius: 10px;
    overflow-y: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic bezier(.25, .8, .25, 1);
}

.skill-section .bar:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.skill-section .bar span {
    height: 27px;
    float: left;
    background: linear-gradient(135deg, #0462A6 0%, #9EBDFF 100%);
}

.html {
    width: 70%;
    animation: html 3s;
}

.css {
    width: 70%;
    animation: css 3s;
}
.javascript {
    width: 60%;
    animation: javascript 3s;
}

.python {
    width: 55%;
    animation: python 3s;
}

.jquerry {
    width: 60%;
    animation: jquerry 3s;
}

.react {
    width: 60%;
    animation: react 3s;
}

.reactnative {
    width: 60%;
    animation: reactnative 3s;
}

.express {
    width: 65%;
    animation: express 3s;
}

@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
} 

@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
} 

@keyframes javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
} 

@keyframes python {
    0% {
        width: 0%;
    }
    100% {
        width: 55%;
    }
} 

@keyframes jquerry {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
} 

@keyframes react {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
} 

@keyframes reactnative {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
} 

@keyframes rxpress {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
} 


/* Styles for testimonial page */

    .testimonial-container {
        position: relative;
        max-width: var(--pageWidth);
        margin: 0 auto;
        padding: 20px;   
        width: 100%;
        overflow: hidden;
    }
    
    .testimonial-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('https://media.istockphoto.com/id/1317094068/photo/5-stars-lying-on-a-wooden-board-dutch-angle-quality-concept.jpg?s=2048x2048&w=is&k=20&c=PaTKJjg0XydkZvZ5w3YxDR5g8IFsELdzhXZ9-utmdfg=');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.3; 
        z-index: -1;
    }
    
    .testimonial-container .content {
        position: relative;
        z-index: 1;
    }
    
    .testimonial-container p {
        color: var(--textColor);
        text-transform:none;
    }

    .testimonial-container header {
      text-align: center;
      margin-bottom: 30px;
    }
    
    .testimonial-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }
    
    .testimonial-container .card {
      display: flex;
      flex-direction: column;
      width: calc(33.33% - 20px);
      min-height: 250px;
      margin-bottom: 20px;
      border: 1px solid #ccc;
      padding: 15px;
      background-color: #FFE09E;    
      opacity: 0.8;
    }
  
    .testimonial-container .card:hover {
      background-color: var(--buttonBackGround);
      box-shadow: 0px 8px 32px 0px rgba(0,0,0,0.2);
    }
  
    .testimonial-container .card img {
      width: 4em;
      height: 4em;
      border-radius: 50px;
    }
  
    .testimonial-container .card .user-info {
      display: flex;
      flex-direction: row;
      justify-content:flex-start;
      align-items: center;    
      gap: 10px;
      margin-top: auto;
    }
    
    .testimonial-container .load-more {
      text-align: center;
      margin-top: 30px;
    }


@media (max-width: 1120px) {
    .nav-links .nav-sublinks li {
        margin: 0;
        padding: 0;
    }
}
@media (min-width: 768px) and (max-width: 990px) {

    .navbar {
        padding: 0 5px;
    }
    .nav-links .nav-sublinks li {
        padding: 0;
    }
    .nav-links .nav-sublinks li a {
        padding: 0;
    }

}

@media (max-width: 768px) {

    html {
        font-size: 14px;
    }
    .main-section {
        padding: 10px;
    }

     /* navbar */

     .logo {
        width: 20vw; 
    }

    .nav-links {
        display: none; 
    }

    .navbar {
        padding: 5px;
    }

    .nav-button button {
        width: 100vw; 
    }

    .navbar.active {
        background-color: #0462A6;
    }

    .nav-links.active {
        display: flex; 
        flex-direction: column;
        align-items: flex-start; 
        width: 100%; 
        position: absolute;
        background: linear-gradient(360deg, rgba(153,134,95,1) 0%, rgba(255,224,158,1) 70%);
        top: 100%; 
        left: 0; 
        z-index: 10; 
        padding: 20px;
        margin: 0;
    }

    .nav-links.active .dropdown-content {
        background: none;
        position: relative;    
    }
    .nav-links.active .dropdown-content > div:first-child {
        flex-direction: column; 
        align-items: flex-start;
        padding: 0 0 0 40px;
        gap: 1em;
    }

    .nav-links.active .nav-sublinks {
        flex-direction: column;
        gap: 5px
    }

    .burger {
        display: block; 
    }

    /* index */
    .index-section, .left-section, .right-section {
        flex-direction: column; 
    }

    .top-image img {
        width: 50%;
        height: auto; 
    } 
    
    .bottom-text {
        width: 100%; 
    }

    /* contact */

    .contact-section{
        padding: 0 10px;
    }

    .contact-section .section {
        flex-direction: column;
    }

    .contact-section .section img {
        display: none;
    }

    /* internship */
    .company1, .company2, .company3 {
        flex-direction: column;
    }

    .aboutCompany > img {
        width: 100%;
    }

    /* Gallery and travel */


    /* Styles for testimonial page */
    .testimonial-container .testimonial-cards {
        flex-direction: column;
      }
      .testimonial-container .card {
        width: 90%;
      }
}

@media (max-width: 480px) {

    html {
        font-size: 12px;
    }

/* Index */
    .content, .text-content {
        width: 100%; 
    }

    .top-image img {
        width: 80%; 
        height: auto; 
    }


    /* contact */

    /* skill */
    .skill {
        flex-direction: column;
        width: 100%;
    }

}


/* sitemap */
.sitemap-container {
    max-width: 800px;
    min-height: calc( 100vh - var(--navbarHeight) - var(--footerHeight));
    margin: 0 auto;
    padding: 20px;
}

.sitemap-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.sitemap-container ul {
    list-style-type: none;
    padding: 0;
}

.sitemap-container ul li {
    margin-bottom: 10px;
}

.sitemap-container ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sitemap-container ul li a:hover {
    text-decoration: underline;
    color: #007BFF;
}