section {
    margin: 2em 0;
}

.main-section {
    transition: var(--navbarHeight) 0.3s ease;
    width: 100%;
    max-width: var(--pageWidth);
    margin: 0 auto;
    padding: 0px;
}


/* Index */
.index-section {
    display: inline-flex;
    flex-grow: 1;    
}

.index-section::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../img/profileImages/HomeBackGroundImage.png'); 
    background-size: contain; 
    background-repeat: no-repeat; 
    background-position: center;
    opacity: 0.15; 
}

.left-section, .right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.left-section .about-me-icons {
    display: inline-flex;
    flex-wrap: wrap;
    gap: 20px;
}

.left-section .about-me-icons div {
    padding: 0 4px;
    color: var(--text);
    background-color: var(--background);
}

.right-section img {
    width: 60%;
    height: auto;
}


.content {
    box-shadow: var(--boxshadowwithopacity);
    background-color: rgba(255, 224, 158, 0.5);  ;
}

.content:hover{
    background-color: var(--hoverColor);
    opacity: 0.6;
}

.content, .text-content {
    margin: auto;
    text-align: center;
    width: 80%; 
    padding: 20px;
}

/* contact */

.contact-me-box {
    background: var(--backgroundwithopacity);
    max-width: 850px;
    border-radius: 5px;
    box-shadow: var(--boxshadowwithopacity);
    margin: 4em auto;
  }
  
  .sub-contact-me-box {
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    padding: 2rem;
  }
  
  .contact-me-box .contact-button {
    align-self: flex-start;
    background: var(--background);
    font: 500 clamp(14px, 3vw, 24px) 'Roboto';
    padding: 7.5px 30px;
    text-transform: uppercase;
    user-select: none;
    border-radius: 5px;
    color: var(--text);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
  
  .contact-me-box .contact-button:hover {
    background: var(--hoverColor);
  }

/* internship */
.internship {
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: solid var(--background) 1px;
}

.internship > p {
    align-self: center;
}
.company1, .company2, .company3 {
    display: flex;
    flex-grow: 1;
    padding: 20px;
    border-bottom: solid var(--background) 1px;
}

.company1, .company3 {
    flex-direction: row;
}

.company2 {
    flex-direction: row-reverse;
}

.aboutCompany {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content:center;
    align-items: center;  
}

.aboutCompany > img {
    width: 60%;
    height: auto;
}

.internDescription {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content:center;
    align-items: center;    
}

.internDescription > p {
    flex: 1;
    padding: 20px;
}

.internDescription .details {
    flex: 1;
    text-align: right;
    padding: 20px;
}

.internDescription .details .detail {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: solid var(--background) 1px;
}

.internDescription .details .detail strong,
.internDescription .details .detail span {
    color: var(--textColor);
}
/* skill */
/* https://youtu.be/EoN_4fv3T7A?si=g54lQRQ2I8IidY3c */

.skill-section {
    position: relative;
    overflow: hidden;
    width: auto;
    background-color: var(--backgroundwithopacity);
    padding: 2em 0;
}

.skill-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-image: url('https://images.unsplash.com/photo-1546410531-bb4caa6b424d?q=80&w=3271&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.3; 
}

.skill-section h1{
    text-align: center;
}

.skill-section p {
    text-transform: uppercase;
}

.skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    flex-grow: 1;
    margin: 30px auto;
    padding: 20px;
    width: 100%;
}

.skill .software {
    flex:1;
    margin: auto;
    width: 100%;
}

.skill .languages,
.skill .frameworks {
    flex:1;
    margin: auto;
    width: 100%;
    padding: 1em;
}

.skill > li {
    flex: 1;
    top:0;
    margin: 20px 0;
    padding: 10px;
    list-style-type: none; 
}

.skill-section .bar {
    background: #353b48;
    display: block;
    height: 27px;
    border: 1px solid rgba(0,0,0,0.22);
    border-radius: 10px;
    overflow-y: hidden;
}

.skill-section .bar:hover {
    box-shadow: var(--boxshadowwithopacity);
}

.skill-section .bar span {
    height: 27px;
    float: left;
    background: var(--hoverColor);
}

.html {
    width: 70%;
    animation: html 3s;
}

.css {
    width: 70%;
    animation: css 3s;
}
.javascript {
    width: 60%;
    animation: javascript 3s;
}

.python {
    width: 55%;
    animation: python 3s;
}

.jquerry {
    width: 60%;
    animation: jquerry 3s;
}

.react {
    width: 60%;
    animation: react 3s;
}

.reactnative {
    width: 60%;
    animation: reactnative 3s;
}

.express {
    width: 65%;
    animation: express 3s;
}

@keyframes html {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
} 

@keyframes css {
    0% {
        width: 0%;
    }
    100% {
        width: 70%;
    }
} 

@keyframes javascript {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
} 

@keyframes python {
    0% {
        width: 0%;
    }
    100% {
        width: 55%;
    }
} 

@keyframes jquerry {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
} 

@keyframes react {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
} 

@keyframes reactnative {
    0% {
        width: 0%;
    }
    100% {
        width: 60%;
    }
} 

@keyframes rxpress {
    0% {
        width: 0%;
    }
    100% {
        width: 65%;
    }
} 


/* Styles for testimonial page */

    .testimonial-container {
        position: relative;
        max-width: var(--pageWidth);
        margin: 0 auto;
        padding: 20px;   
        width: 100%;
        overflow: hidden;
    }
    
    .testimonial-container::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('https://media.istockphoto.com/id/1317094068/photo/5-stars-lying-on-a-wooden-board-dutch-angle-quality-concept.jpg?s=2048x2048&w=is&k=20&c=PaTKJjg0XydkZvZ5w3YxDR5g8IFsELdzhXZ9-utmdfg=');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        opacity: 0.3; 
        z-index: -1;
    }
    
    .testimonial-container .content {
        position: relative;
        z-index: 1;
    }
    
    .testimonial-container p {
        color: var(--textColor);
        text-transform:none;
    }

    .testimonial-container header {
      text-align: center;
      margin-bottom: 30px;
    }
    
    .testimonial-cards {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
    }

    .testimonial-cards .stars {
        color: orange;
    }
    
    .testimonial-container .card {
      display: flex;
      flex-direction: column;
      width: calc(33.33% - 20px);
      min-height: 250px;
      margin-bottom: 20px;
      border: 1px solid var(--background);
      padding: 15px;
      /* background-color: #FFE09E;     */
      opacity: 0.8;
    }
  
    .testimonial-container .card:hover {
      background-color: var(--hoverColor);
      box-shadow: var(--boxshadowwithopacity);
    }
  
    .testimonial-container .card img {
      width: 4em;
      height: 4em;
      border-radius: 50px;
    }
  
    .testimonial-container .card .user-info {
      display: flex;
      flex-direction: row;
      justify-content:flex-start;
      align-items: center;    
      gap: 10px;
      margin-top: auto;
    }
    
    .testimonial-container .load-more {
      text-align: center;
      margin-top: 30px;
    }


@media (max-width: 768px) {

    /* index */
    .index-section {
        text-align: center;
        flex-direction: row-reverse;
    }

    .index-section, .left-section, .right-section {
        flex-direction: column; 
    }
    
    .index-section::before {
        background-image: none;
    }

    .right-section img {
        width: 50%;
        height: auto; 
    } 

    /* skill */
    .skill {
        flex-direction: column;
    }

    .skill  li {
        width: 100%;
    }

    /* internship */
    .company1, .company2, .company3 {
        flex-direction: column;
    }

    .aboutCompany > img {
        width: 100%;
    }

    /* Gallery and travel */


    /* Styles for testimonial page */
    .testimonial-container .testimonial-cards {
        flex-direction: column;
      }
      .testimonial-container .card {
        width: 90%;
      }
}

@media (max-width: 480px) {

/* Index */
    .content, .text-content {
        width: 100%; 
    }

    .top-image img {
        width: 80%; 
        height: auto; 
    }


    /* contact */

    /* skill */
    .skill {
        flex-direction: column;
        width: 100%;
    }

}


/* sitemap */
.sitemap-container {
    max-width: 800px;
    min-height: calc( 100vh - var(--navbarHeight) - var(--footerHeight));
    margin: 0 auto;
    padding: 20px;
}

.sitemap-container h1 {
    text-align: center;
    margin-bottom: 20px;
}

.sitemap-container ul {
    list-style-type: none;
    padding: 0;
}

.sitemap-container ul li {
    margin-bottom: 10px;
}

.sitemap-container ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.sitemap-container ul li a:hover {
    text-decoration: underline;
    color: #007BFF;
}