<section class="H hidden">
  <h1 class="english">Looking to address your business challenges?</h1>
  <h1 class="punjabi">ਤੁਹਾਡੇ ਵਪਾਰ ਦੀਆਂ ਚੁਣੌਤੀਆਂ ਨੂੰ ਹੱਲ ਕਰਨ ਦੀ ਭਾਲ ਵਿੱਚ ਹੋ?</h1>
  <div class="home">
    <div class="home1">
    <p class="english">Start exploring now and find solutions that can help you overcome obstacles and achieve your
      goals.</p>
    <p class="punjabi">ਹੁਣ ਤੱਕ ਖੋਜ ਸ਼ੁਰੂ ਕਰੋ ਅਤੇ ਉਹ ਹੱਲ ਲੱਭੋ ਜੋ ਤੁਹਾਨੂੰ ਰੁਕਾਵਟਾਂ ਨੂੰ ਦੂਰ ਕਰਨ ਅਤੇ ਆਪਣੇ ਉਦੇਸ਼ ਨੂੰ ਪ੍ਰਾਪਤ
      ਕਰਨ ਵਿੱਚ ਮਦਦ ਕਰ ਸਕਦੇ ਹਨ।</p>
    </div>
    <div class="home2">
    <p class="english">Let me help you uncover your business challenge and solve it as quickly as possible.</p>
    <p class="punjabi">ਮੈਂ ਤੁਹਾਡੇ ਵਪਾਰ ਦੀ ਚੁਣੌਤੀ ਨੂੰ ਪਛਾਣ ਕਰਵਾਉਣ ਵਿੱਚ ਤੁਹਾਡੀ ਮਦਦ ਕਰਦਾ ਹਾਂ ਅਤੇ ਇਸਨੂੰ ਜਲਦੀ ਤੋਂ ਜਲਦੀ ਹੱਲ
      ਕਰਨ ਵਿੱਚ ਮਦਦ ਕਰਦਾ ਹਾਂ।</p>
    </div>
  </div>

  <!-- <img src="../img/person.svg" alt="Home"> -->

  <div class="quote-me-box">
    <div class="sub-quote-me-box">
      <h2>Dont shy🙈 ! Share your thoughts. </h2>
      <p>I will provide you with all of the information, answer all your questions, and finally, will get you a free
        quote.</p>
      <a class="quote-button" href="/quote">Get your free Quote</a><br>
    </div>
  </div>

</section>

<section class="A hidden" id="aboutSection">
  <div class="about">
    <img src="../img/hello.svg" alt="About Me">
    <div class="sub-about">
      <h1>About me</h1>
      <h2>Dee Dhillon - Freelance Developer & Consultant</h2>
      <div class="sub-sub-about">
        <p>Hello, my name is Dee. I am a Developer & Consultant from Melbourne, Australia.</p>
        <p>I specilize in&nbsp;<strong>"React, Node.js & TypeScript"</strong>&nbsp;application development.
        </p>
        <span class="about-me-icons">
          <i class="fab fa-react"> React</i>
          <i class="fab fa-node-js"> Node.js</i>
          <i class="fab fa-js"> TypeScript</i>
        </span>
        <p>I have over 4 years of experience in application development.</p>
      </div>
      <p>
        As a professional software developer, I am equipped to assist you in growing your business through the
        creation of full stack software applications that are capable of running on both mobile and desktop devices.
        My services are designed to help small businesses achieve significant online success by establishing an
        effective online presence and increasing their visibility. I am committed to delivering exceptional software
        development solutions that are tailored to meet your specific needs and objectives, and to help you achieve
        your business goals.
      </p>
      <p>You can send me a message <span><a href="#contactSection">here</a></span> </p>
      <div class="aboiut-me-social-icons">
        <a href="https://www.facebook.com/">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="https://www.linkedin.com/">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://www.instagram.com/">
          <i class="fab fa-instagram"></i>
        </a>
      </div>
    </div>
  </div>
</section>


<section class="S hidden" id="servicesSection">
  <div class="services">
    <div class="services-div1">
      <h1>
        👉 As a Freelance Developer specialized in The Development Of
        <span style="text-decoration: underline">Modern Web Applications</span>
        using React & Node.js
      </h1>
      <ul>
        <li>
          ✅ Fast Application Development 💪
        </li>
        <li>
          ✅ Save Your Time And Money 💸
        </li>
        <li>
          ✅ 100% Satisfaction Guaranteed 😁
        </li>
      </ul>   
       <a class="contact-button" href="#contactSection">Send me an Email</a><br>   
      <span class="services-icons">
        <i class="fab fa-react"></i>
        <i class="fab fa-node-js"></i>
        <i class="fab fa-js"></i>
      </span>
    </div>   
    <div class="services-div2">
      <img src="../img/services.png" alt="About Me">
    </div>    
  </div>

  <div class="contact-me-box">
    <div class="sub-contact-me-box">
      <h2>
        Let's build your dream project together. 🤝 </h2>
      <p>
        Schedule a free call with me to discuss your project. I will answer all your questions and concerns and provide
        you with a quote adjusted to your budget. </p>
      <a class="contact-button" href="#contactSection">book your free call</a><br>
    </div>
  </div>

  <div class="skill">
    <p>WHY ME</p>
    <h2>I possess all the skills for building your next web application. 🙏 </h2>
    <div class="skill-box">
      <div class="child">
        <div class="sub-child">
          <h2>✅ An Experienced Developer</h2>
          <p>I have over six years of experience in application development.</p>
        </div>
      </div>
      <div class="child">
        <div class="sub-child">
          <h2>✅ Save Your Time And Money</h2>
          <p>My previous expertise will save you a lot of time and money.</p>
        </div>
      </div>
      <div class="child">
        <div class="sub-child">
          <h2>✅ Your Quote in 24h</h2>
          <p>You will get your quote & prototype in 24h or less.</p>
        </div>
      </div>
      <div class="child">
        <div class="sub-child">
          <h2>✅ Latest Technologies</h2>
          <p>Your app will be written using the latest technologies.</p>
        </div>
      </div>
      <div class="child">
        <div class="sub-child">
          <h2>✅ 2 weeks of FREE support</h2>
          <p>After the deployment, I offer two weeks of free support to fix bugs.</p>
        </div>
      </div>
      <div class="child">
        <div class="sub-child">
          <h2>✅ On-Time Delivery</h2>
          <p>I guarantee the delivery date to which we agreed.</p>
        </div>
      </div>
    </div>
  </div>


  <div class="testimonial" id="testimonial">
    <% if(error) {%>
      <p style="color:red"><%- error -%></p>
      <%} else {%>
        <p style="color:green"><%- success -%></p>
        <% } %>
          <h2>I guarantee 100% satisfaction to my clients. 🤩 </h2>
          <div id="reviewCard"></div>
          <a id="write-review-button">
            <span>Write Review</span> <i class="fas fa-pencil-alt"></i>
          </a>
          <button id="see-more-button"></button>
  </div>
</section>


<!-- reviews -->
<script src="/js/home/reviews.js"></script>

<!-- write review modal -->
<script src="/js/home/writeReviewModal.js"></script>

<!-- edit review modal -->
<script src="/js/home/editReviewModal.js"></script>

<!-- toggle like button -->
<script src="/js/home/toggleReviewLikeBtn.js"></script>

<!-- delete review -->
<script>
  function deleteReview(self) {
    axios.delete('/reviews/' + self.id).then(res => { console.log(res) })
    window.location.reload();
  }
</script>

<section class="C hidden" id="contactSection"> 
  <div class="contact">      
    <h1>Contact me</h1>   
    <form id="contact-form" method="post">
      <p>I will get back to you as soon as possible</p>
      <div class="form-group">
        <label for="name"><i class="fa fa-user"></i> Name:</label>
        <input type="text" id="name" name="name" placeholder="Enter your name" required>
      </div>
      <div class="form-group">
        <label for="email"><i class="fa fa-envelope"></i> Email:</label>
        <input type="email" id="email" name="email" placeholder="Enter your email" required>
      </div>
      <div class="form-group">
        <label for="message"><i class="fa fa-comment"></i> Message:</label>
        <textarea id="message" name="message" placeholder="Enter your message" required></textarea>
      </div>
      <button id="submit-button" class="btnn" type="submit">Submit</button>
    </form>
    <div class="contact-img">
      <img src="../img/contact.png" alt="ContactImage" />
    </div>    
  </div>
</section>

<!-- contact-form -->
<script src="/js/home/contactForm.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    contactMe();
  });
</script>

<section class="F hidden" id="faq-section">
  <div class="faq">
    <h1>F.A.Q.</h1>
    <h2>Here are answers to the most frequently asked questions.</h2>
    <div class="faq-item">
      <div class="faq-question" onclick="toggleFaq(event)">
        <span>How much does it cost to build a web application?</span>
        <span class="toggle-icon">+</span>
      </div>
      <div class="faq-answer">
        <div class="sub-faq-answer">
          <p>It depends. A web application can cost between: <strong>4,000$ and 50,000$.</strong></p>
          <p>A very big application can cost even more.</p>
          <em>Everything</em>
          <em> depends on your needs and the scope of the project.</em>
          <p>The best way to get a fair estimate of the cost of your application is to book a free consultation
            with me or to send me a message.</p>
        </div>
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-question" onclick="toggleFaq(event)">
        <span>What is your process of web application development?</span>
        <span class="toggle-icon">+</span>
      </div>
      <div class="faq-answer">
        <div class="sub-faq-answer">
          <p>Here is a brief description of the process:</p>
          <ol style="margin-left: 30px">
            <li>Free Consultation & quote</li>
            <li>Discovery & competitor analysis</li>
            <li>High-level planning</li>
            <li>Architecture of the application (database, sitemap)</li>
            <li>UI/UX design</li>
            <li>Prototyping</li>
            <li>Development (Front-end, Back-end)</li>
            <li>QA Testing</li>
            <li>Deployment & launch</li>
            <li>Maintenance & support</li>
          </ol>
          <p>The process is the same for single-page applications and cross-platform web applications.</p>
        </div>
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-question" onclick="toggleFaq(event)">
        <span>What programming languages & technologies do you use to build applications?</span>
        <span class="toggle-icon">+</span>
      </div>
      <div class="faq-answer">
        <div class="sub-faq-answer">
          <p>I use a variety of languages & web technologies to build applications.</p>
          <ul style="margin-left: 25px">
            <li>On the front-end, I use React with TypeScript.</li>
            <li>On the back-end, I use Node.js.</li>
            <li>For the database, I use either MariaDB, MySQL, or MongoDB.</li>
            <li>For the infrastructure, I use docker, docker-compose, and Kubernetes.</li>
            <li>For cross-platform applications, I use Electron.</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="faq-item">
      <div class="faq-question" onclick="toggleFaq(event)">
        <span>What are the different types of web applications that you make?</span>
        <span class="toggle-icon">+</span>
      </div>
      <div class="faq-answer">
        <div class="sub-faq-answer">
          <p>I can create single-page applications, dynamic applications, and cross-platform applications using
            Electron.</p>
        </div>
      </div>
    </div>

    <!-- Add more FAQ items as needed -->
  </div>
</section>
<!-- faq -->
<script src="/js/home/faq.js"></script>

<section class="map hidden" id="mapSection">
  <h1>Location</h1>
  <iframe style="border:0" loading="lazy" allowfullscreen referrerpolicy="no-referrer-when-downgrade" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyB0JGlpuvMu3U3qDgcBH4n6XQ97qKzWmAM
    &q=Geelong,Vic,Aus">
  </iframe>
</section>

<script>
  // smooth scroll
  document.addEventListener('DOMContentLoaded', () => {
    smoothScroll();
  });
</script>