
<style>
    h2 {
        font-size: 1rem;
        text-transform:none;
        letter-spacing: normal;
    }

    .privacy {
        padding-left: 2rem;
        padding-right: 1rem;
    }

    .privacy p {
        font-size: 0.9rem;
    }

</style>

<div class="privacy">

    <h1>Privacy Policy</h1>

    <hr />
    <h2> What we are: </h2>
        <p>
            https://www.apponpress.com.au is the URL of our website. </p>
            <span>Comments</span>
        <p>
            We gather the information provided in the comments form, the visitor's IP address, and the user agent string
            from their browser when they leave comments on our site in order to assist stop spam.
        </p>
        <p>
            The Gravatar service may get an encrypted string (also known as a hash) made from your email address in
            order to determine whether you are utilising it. You can access the Gravatar service's privacy statement at
            . Once your comment has been approved, the whole public can see your profile
            image next to it. <span> Media</span>
            If you upload photographs to the website, you should refrain from uploading any that have EXIF GPS contained
            in them. Website visitors can download and extract any location data from the website's photos. <span> Cookies </span>
        <p>
            You can choose whether or not to have your name, email address, and website saved in cookies whenever you
            leave a comment on our website. These are provided for your convenience so that you won't have to enter your
            information again when you make additional comments. The shelf life of these cookies is one year. </p>
        <p>
            If you go to our login page, we'll temporarily store a cookie to see if your browser permits them. This
            cookie is deleted when your browser is closed and does not contain any personal information. </p>

        <p> We will also create a number of cookies when you log in to save your login details and screen display
            preferences. Screen option cookies last a year, whereas login cookies are only valid for two days. Choosing
            "Remember Me" will keep your login active for two weeks. The cookies for your login will be deleted after
            you log out of your account. </p>
        <p>
            In your browser, a new cookie will be saved if you edit or publish an article. This cookie just contains the
            post ID of the article you just edited and contains no personal information. It runs out after a day. 
            information from other websites that has been embedded
         This website's articles may contain embedded content (such as videos, photographs, articles, etc.). When
            another website's content is embedded, it operates exactly as if the visitor had really visited the other
            website. </p>
        <p>
            These websites may gather information about you, utilise cookies, incorporate extra third-party tracking,
            and keep track of how you engage with the embedded material, including how you interact with it if you have
            an account and are logged in to the website.
        </p>
        <h2> How long we keep your information</h2> 
        <p> If you post a comment, both the comment and any associated
            information are kept forever. This allows us to recognise and approve any subsequent comments without having
            to hold them in a moderation queue. </p>
            <p>
                In the event that any users register on our website, we additionally retain the personal data they
                supply in their user profile. Whenever, any user may access, amend, or delete their personal information
                (except they cannot change their username). Administrators of the website can also access and modify
                that data. </p>
            <h2> What rights do you have in relation to your data? You have the option to request to receive an exported
                file of the personal data we possess about you, along with any data you have given us, if you have an
                account on our website or have left comments. You can also ask us to delete any personal information we
                may have about you. This does\s not include any data we are compelled to preserve for administrative,\s
                legal, or security purposes. </p>
                <h2> Where your data is sent</h2> 
                <p> An automatic spam detection service may be used to review visitor
                    comments. </p>
                    <p>
                        Your privacy is respected by Infinite Dancing Studios, and this commitment is taken seriously.
                        As a result, we go above and beyond to only use any personal information received through our
                        website in accordance with this Privacy Policy. </p>
                    <p>
                        This website may gather information about your visit, including the name of your internet
                        service provider, the IP address you use to access the internet, the date and time you access
                        the site, the pages you browse while there, and the URL of the website you came directly from.
                    </p>
                    <p> The data gathered on this website belongs exclusively to Infinite Dance Studios. We never sell,
                        share, or rent personal information to anyone else in methods other than those described in the
                        privacy statement that is included below. This data is never used to send you unsolicited email
                        and is only used to manage our website, spot trends, and generally help us make it better.
                    </p>

                    Information gleaned from site visitors
                </h2> <p> Like other websites, Infinite Dancing Studios stores information in log files on its web
                    server, including the visitor's IP address, browser type, referring URL, and time of visit. In order
                    to remember visitor preferences when they interact with the website, cookies may be utilised. This
                    data is in no way connected to a visitor's unique personal identify. </p>
                <p>
                    Email addresses and other information submitted on our enquiry form won't be rented, sold, or
                    otherwise transferred to outside parties.
                </p>
                <p>
                    When registering, the server may retain the visitor's username and email address. Email addresses
                    won't be rented, leased, or sold to outside parties. </p>

                <h2>Cookies </h2> <p> A cookie is a little piece of data that is saved on a visitor's computer's hard
                    disc and contains details about the visitor. Cookies and tracking technologies are helpful for
                    obtaining data such as browser and operating system kinds, monitoring website traffic, and learning
                    how users interact with the websites they visit.
                    This data can be used to tailor a website to certain people.
                    Infinity Dancing Studios typically only utilises cookies to make login easier.
                </p>

                <h2>Links </h2>
                <p>
                    Only Infinite Dancing Studios is covered by this privacy statement. Different privacy policies on
                    external websites that are linked to or from ours may not be known to us or be our fault. </p>
                <h2>
                    alterations to our policy
                </h2>
                <p>
                    This policy may occasionally need to be updated in order to address fresh concerns and reflect
                    changes to our website. Please review this policy frequently. </p>
                <p>
                    <em>
                        You agree to our Privacy Policy if you use the Infinite Dancing Studios website in the future.
                    </em>
                </p>
</div>