/* about me */

  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    padding: clamp(0, 2vw, 1rem);
  }
  
  .about picture {
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  
  .about picture img {
    max-width: 100%;
    height: auto;
  }
  
  
  .about h1 {
    font: 600 clamp(24px, 2vw, 32px) "Roboto";
    text-transform: uppercase;
    text-align: start;
    line-height: 1.5;
    color: var(--colorOnBackgroundColor);
    margin: 2rem 0;
  }
  
  .about h2 {
    font: 600 clamp(20px, 2vw, 28px) 'Roboto';
    margin-bottom: 20px;
    line-height: 30px;
    line-height: 1.5;
    color: var(--colorOnBackgroundColor);
  }
  
  .about p {
    font: 500 clamp(14px, 2vw, 18px) 'Roboto';
    line-height: 26px;
    margin: 15px 0;
    line-height: 1.5;
    text-align: left;
    color: var(--colorOnBackgroundColor);
  }
  
  .about-me-icons {
    display: flex;
    gap: 10px;
    font: 400 clamp(14px, 2vw, 18px) 'Roboto';
    flex-wrap: wrap; /* Add this if you want the icons to wrap in smaller screens */
}

.about-me-icons div {
    display: flex;
    align-items: center; 
    background-color: #17a2b8;
    padding: 5px;
    color: #fff;  
    gap: 5px; 
}

  .about-me-social-icons {
    display: inline-flex;
    gap: 25px;
  }
  
  .about-me-social-icons a {
    font-size: clamp(20px, 2vw, 30px);
    text-decoration: none;
    color: var(--background);
  }
  
  .about-me-social-icons a:hover {
    color: #17a2b8;
  }
  
  @media screen and (max-width: 867px) {

    .about {
     grid-template-columns: 1fr;
    }
  
    .about p, .about h1, 
    .about h2, .about { 
      text-align: center;
    }
    
  }
  
  @media screen and (max-width: 576px) {

  }  