/* about me */

  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
  }
  
  .about picture img {
    max-width: 100%;
    height: auto;
  }
  
  .about h1 {
    text-align: start;
  }

  .about-me-social-icons {
    display: inline-flex;
    gap: 25px;
  }
  
  .about-me-social-icons a {
    font-size: clamp(20px, 2vw, 30px);
    color: var(--textColor);
  }
  
  .about-me-social-icons a:hover {
    color: var(--hoverColor);
  }
  
  @media screen and (max-width: 768px) {

    .about {
     grid-template-columns: 1fr;
    }
  
    .about p, .about h1, 
    .about h2, .about { 
      text-align: center;
    }
    
  }
  