/* about me */

.A {
    display: flex;
    align-items: center;
    min-height: 60vh;
  }
  
  .about {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    justify-content: space-between;
  }
  
  .about img {
    width: 100%;
    align-self: center;
  }
  
  .about h1 {
    font: 600 1.5em "Roboto";
    text-transform: uppercase;
    text-align: start;
    line-height: 1.5;
    color: var(--colorOnBackgroundColor);
    margin: 2rem 0;
  }
  
  .about h2 {
    font: 600 1.3em 'Roboto';
    margin-bottom: 20px;
    line-height: 30px;
    line-height: 1.5;
    color: var(--colorOnBackgroundColor);
  }
  
  .about p {
    font: 500 1.2em 'Roboto';
    line-height: 26px;
    margin: 15px 0;
    line-height: 1.5;
    text-align: left;
    color: var(--colorOnBackgroundColor);
  }
  
  .about-me-icons {
    display: inline-flex;
    gap: 10px;
    font: 400 1.3vmax 'Roboto';
  }
  
  .about-me-icons .fa-react,
  .about-me-icons .fa-node-js,
  .about-me-icons .fa-js {
    background-color: #17a2b8;
    padding: 5px;
    color: #fff;  
  }
  
  .about-me-social-icons {
    display: inline-flex;
    gap: 25px;
  }
  
  .about-me-social-icons a {
    font-size: 30px;
    text-decoration: none;
    color: var(--background);
  }
  
  .about-me-social-icons a:hover {
    color: #17a2b8;
  }
  
  @media screen and (max-width: 867px) {

    .A {
      min-height: 100vh;
    }
  
    .about {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .about h1 {
      font: 600 1.5em 'Roboto';
    }
  
    .about h2 {
      font: 600 1.3em 'Roboto';
    }
  
    .about p {
      font: 500 1.2em 'Roboto';
    }
  
    .about p, .about h1, 
    .about h2 { 
      text-align: center;
    }
      .about {
      text-align: center;
    }
  
    .about-me-icons {
      font: 400 1vmax 'Roboto';
    }

  }
  
  @media screen and (max-width: 576px) {

    .about h1 {
      font: 600 1.3em 'Roboto';
    }
  
    .about h2 {
      font: 600 1em 'Roboto';
    }
  
    .about p {
      font: 500 0.8em 'Roboto';
    }  
  }  