
.F {
    min-height: 70vh;
  }
  
  .faq {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
  }
  
  .faq em, .faq ol, .faq p, .faq ul li {
    color: var(--text);
    line-height: 1.5;
    padding: 1em;
  }
  
  .faq .faq-item {
    border-bottom: 0.5px solid var(--background);
    margin: 1rem 0;
  }
  
  .faq .faq-question {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  
  .faq .faq-answer {
    max-height: 0;
    overflow: hidden;
    background: var(--background);
    transition: max-height 0.4s ease-in-out;
    margin-top: 1rem;
    border-radius: 5px;
  }
  
  .faq .faq-answer.open {
    max-height: 10em;
  }
  
  .faq .toggle-icon {
    font-size: 1.2rem;
    color: var(--textColor);
    transition: transform 0.3s ease-in-out;
  }
  
  .faq .toggle-icon.open {
    transform: rotate(180deg);
  }

  