.H {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .H h1 {
    font: 800 clamp(18px, 3vw, 36px) "Roboto";
    line-height: 1.5;
    color: var(--colorOnBackgroundColor);
    margin: clamp(1rem, 5vw, 2rem) 0;
    text-align: center;
    text-transform: uppercase;
  }
  
  .home {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  
  .home .home1, .home .home2 {
    height: auto;
    padding: 10px;
  }
  
  .home p {
    font: 400 clamp(14px, 3vw, 28px) "Roboto";  
    line-height: 1.5;
    color: var(--colorOnBackgroundColor);
  }
  
  .home .home1 {
    border-right: 1px solid var(--colorOnBackgroundColor);
  }
  
  .home::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background-image: url("../img/person.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    opacity: 0.08;
    z-index: -1;
  }
  
  
  .quote-me-box {
    width: 50%;
    min-height: 30vh;
    border-radius: 10px;
    box-shadow: 
    0px 0px 0px 2px var(--background),
    0px 0px 0px 4px rgb(255, 0, 0),   /* red */
    0px 0px 0px 6px rgba(0, 255, 0, 0.5), /* semi-transparent green */
    0px 0px 0px 8px rgb(0, 0, 255),  /* blue */
    0px 0px 0px 10px rgb(255, 255, 0),  /* yellow */
    0px 0px 0px 12px rgb(255, 165, 0),  /* orange */
    0px 0px 0px 14px rgb(128, 0, 128),  /* purple */
    0px 0px 0px 16px rgb(255, 192, 203); /* pink */
    margin: clamp(4rem, 10vw, 5rem);
}

  
  .sub-quote-me-box {
    padding: 2rem;
  }
  
  .quote-me-box .sub-quote-me-box h2 {
    font: 800 clamp(18px, 3vw, 36px) 'Roboto';
    margin-bottom: 2rem;
    line-height: 1.5;
    color: var(--colorOnBackgroundColor);
  }
  
  .quote-me-box .sub-quote-me-box p {
    font: 400 clamp(14px, 3vw, 28px) 'Roboto';
    margin-bottom: 2rem;
    line-height: 1.5;
    color: var(--colorOnBackgroundColor);
  }
  
  .quote-me-box .quote-button {
    background: var(--background);
    font: 500 clamp(14px, 3vw, 28px) 'Roboto';
    height: auto;
    padding: 7.5px 30px;
    text-transform: uppercase;
    user-select: none;
    color: var(--colorOnBackground);
    border-radius: 25px;
    border: none;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
  }
  
  .quote-me-box .quote-button:hover {
    background: var(--hoverColor);
  }
  
  
  @keyframes blink-animation {
    50% {
      opacity: 0;
    }
  }

  @media screen and (max-width: 867px) {
  
    .home>p:first-child {
      border-right: none;
    }
  
    .home p,
    .home>p:first-child,
    .sub-quote-me-box {
      text-align: center;
    }

    .quote-me-box {
      width: 70%;
    }
  }

  @media screen and (max-width: 576px) {

    .home {
       grid-template-columns: 1fr;
      }
    
      .home .home1 {
        border-right: none;
      }
    
      .quote-me-box {
        width: 95%;        
      }
    
  }