
.map {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: 1rem;
    justify-content: center;
    background-color: black;
  }

  .map h1 {
    color: white;
  }
  
  .map iframe {
    height: 80%;
    width: 100%;
    text-align: center;
  }
  
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  
  @media screen and (max-width: 768px) {
  
    .map iframe {
      height: 50vh;
      width: 100%;
    }
  
  }
  