/* services */

.S {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    padding: 2rem;
  }
  
  .services {
   display: flex;
   justify-content: space-around;
    align-items: center;  
  }
  
  .services-div1 {
    display: flex;
    flex-direction: column;
     padding: 5px;
  }
  
  .services-div1 ul li {
    margin-bottom: 20px;
    line-height: 1.5;
    font: 500 clamp(14px, 3vw, 20px) 'Roboto';
    color: var(--textColor);
  }
  
  .S .services .services-div1 .contact-button,
  .contact-me-box .contact-button {
    align-self: flex-start;
    background: var(--background);
    font: 500 clamp(12px, 4vw, 20px) 'Roboto';
    padding: 10px 10px;
    text-transform: uppercase;
    user-select: none;
    border-radius: 5px;
    color: var(--text);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
  
  .services-div1 .contact-button:hover {
    background: var(--hoverColor);
  }
  
  .services-div1 .services-icons {
    display: inline-flex;
    gap: 50px;  
  }
  
  .services-div1 .services-icons i {
    font-size: 4rem;
    opacity: 0.3;
    color: var(--textColor);
    line-height: 1.5;
  }
  
  .services img {
    width: 100%;
  }
  
  .contact-me-box {
    /* background: var(--backgroundwithopacity); */
    max-width: 850px;
    border-radius: 5px;
    /* border: solid var(--background) 1px; */
    box-shadow: var(--boxshadowwithopacity);
    margin: 8rem 0;
    color: var(--textColor);
    padding: 1rem;
    text-align: center;
  }
  
  .contact-me-box .contact-button {
    background: var(--background);
    color: var(--text);
    font-size: clamp(12px, 2vw, 16px);
    padding: 4px;
  }
  
  .contact-me-box .contact-button:hover {
    background: var(--hoverColor);
  }
  
  .skill {
    display: block;
  }
  
  .skill-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;
    min-height: 40vh;
  }
  
  .skill-box .child {
    border: 1px dotted var(--background);
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }
  
  .skill-box .sub-child h3,
  .skill-box .sub-child p {
    text-align: left;
  }
  

@media screen and (max-width: 768px) {
  
    .services {
     flex-direction: column;
    }
  
    .services-div1 {
      justify-content: center;
      align-items: center;
    }
  
    .skill-box {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }

    .services-div1 .services-icons i {
      font-size: 3rem; 
    }
  
    .contact-me-box .sub-contact-me-box{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  
    .contact-me-box .sub-contact-me-box h2,
    .contact-me-box .sub-contact-me-box p {      
      text-align: center;
    } 
  
    .contact-me-box .contact-button {
      padding: 4.5px 20px;
      align-self: center;
    }
}

@media screen and (max-width: 480px) {

    .S .services .services-div1 .contact-button,
    .contact-me-box .sub-contact-me-box .contact-button {      
      align-self: center;
    }
  
    .services-div1 .services-icons i {
      font-size: 2rem; 
    }
    .skill-box {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }
  
}