/* services */

.S {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
  }
  
  .services {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    align-items: center;
  }
  
  .services-div1 {
    display: flex;
    flex-direction: column;
   padding: 5px;
  }
  
  .services-div1 h1 {
    font: 600 clamp(18px, 3vw, 22px) "Roboto";
    color: var(--colorOnBackgroundColor);
    line-height: 1.5;
    margin: 2rem 0;
  }
  
  .services-div1 ul {
    list-style-type: none;
  }
  
  .services-div1 ul li {
    margin-bottom: 20px;
    line-height: 1.5;
    font: 500 clamp(14px, 3vw, 20px) 'Roboto';
    color: var(--colorOnBackgroundColor);
  }
  
  .S .services .services-div1 .contact-button {
    align-self: flex-start;
    background: var(--background);
    font: 500 clamp(14px, 3vw, 24px) 'Roboto';
    padding: 7.5px 30px;
    text-transform: uppercase;
    user-select: none;
    border-radius: 5px;
    color: var(--colorOnBackground);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
  
  .services-div1 .contact-button:hover {
    background: var(--hoverColor);
  }
  
  .services-div1 .services-icons {
    display: inline-flex;
    gap: 50px;  
  }
  
  .services-div1 .services-icons i {
    font-size: 4rem;
    opacity: 0.3;
    color: var(--colorOnBackgroundColor);
    line-height: 1.5;
  }
  
  .services img {
    width: 100%;
  }
  
  .contact-me-box {
    background: var(--backgroundColor);
    max-width: 850px;
    border-radius: 5px;
    box-shadow: 0px 0px 15px 2px var(--colorOnBackgroundColor);
    margin: 8rem 0;
  }
  
  .sub-contact-me-box {
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    padding: 2rem;
  }
  
  .contact-me-box .sub-contact-me-box h2 {
    font: 800 clamp(16px, 3vw, 22px) 'Roboto';
    margin-bottom: 2rem;
    color: var(--colorOnBackgroundColor);
    line-height: 1.5;
  }
  
  .contact-me-box .sub-contact-me-box p {
    font: 400 clamp(14px, 3vw, 20px) 'Roboto';
    margin-bottom: 2rem;
    color: var(--colorOnBackgroundColor);
    line-height: 1.5;
  }
  
  .contact-me-box .contact-button {
    align-self: flex-start;
    background: var(--background);
    font: 500 clamp(14px, 3vw, 24px) 'Roboto';
    padding: 7.5px 30px;
    text-transform: uppercase;
    user-select: none;
    border-radius: 5px;
    color: var(--colorOnBackground);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }
  
  .contact-me-box .contact-button:hover {
    background: var(--hoverColor);
  }
  
  .skill {
    display: block;
  }
  
  .skill p {
    color: var(--colorOnBackgroundColor);
    font: 500 clamp(14px, 3vw, 20px) "Roboto";
    line-height: 1.5;
  }
  
  .skill h2 {
    color: var(--colorOnBackgroundColor);
    font: 500 clamp(16px, 3vw, 22px) "Roboto";
    margin: 2rem 0;
    line-height: 1.5;
  }
  
  .skill-box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    width: 100%;
    min-height: 40vh;
  }
  
  .skill-box .child {
    border: 1px dotted var(--colorOnBackgroundColor);
    /* background: var(--background); */
    padding: 10px;
    text-align: center;
    border-radius: 5px;
  }
  
  .skill-box .sub-child h2 {
    font: 800 clamp(16px, 3vw, 22px) 'Roboto';
    color: var(--colorOnBackgroundColor);
    text-align: left;
    line-height: 1.5;
  }
  
  .skill-box .sub-child p {
    font: 400 clamp(14px, 3vw, 18px) 'Roboto';
    color: var(--colorOnBackgroundColor);
    text-align: left;
    line-height: 26px;
    line-height: 1.5;
  }


@media screen and (max-width: 867px) {

    .Container {
      padding: calc(var(--navheight) + 2rem) 0.5rem 0 0.5rem;
    }
  
    .S{
      min-height: 100vh;
    }
  
    .services {
     grid-template-columns: 1fr;
    }
  
    .services-div1 {
      justify-content: center;
      align-items: center;
    }
  
    .skill-box {
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, 1fr);
    }
  
    .contact-me-box .sub-contact-me-box{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
    }
  
    .contact-me-box .sub-contact-me-box h2,
    .contact-me-box .sub-contact-me-box p {      
      text-align: center;
    } 
  
    .contact-me-box .contact-button {
      padding: 4.5px 20px;
      align-self: center;
    }
}

@media screen and (max-width: 576px) {

    .S .services .services-div1 .contact-button,
    .contact-me-box .sub-contact-me-box .contact-button {      
      align-self: center;
    }
  
    .skill-box {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(6, 1fr);
    }
  
}