.why-me {
   position: relative;
    /* background: bisque; */
}

.project-sub-section .h2 {
    font: 700 clamp(16px, 2vw, 36px) 'Roboto';
    color: var(--colorOnBackgroundColor);  
}

.project-sub-section {
    /* background: cadetblue; */
    position: relative;
    margin-inline: auto;
    padding: clamp(0, 2vw, 1em);
    max-width: 1200px;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
  }
  
  .project-grid-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    grid-gap: clamp(1rem,calc(3vw + 1vh), 3rem);
    margin: 2rem 0;
  }

.project-img {
    position: relative;
    background-color:blue;
    margin: clamp(1px, 2vw, 5px);
    border-radius: 10px;
    height: 400px;    
}

.project-img img:nth-child(1) {
    position:absolute;
    top:0;
    left:0;
    width: 50%;
    height: 50%;
    padding:0.5rem;
}
.project-img img:nth-child(2) {
    position:absolute;
    top:10%;
    left:40%;
    width: 30%;
    height: 45%;
    transform: rotate(45deg);
}

.project-img img:nth-child(3) {
    position:absolute;
    top:3%;
    left:70%;
    width: 30%;
    height: 45%;
    transform: rotate(-5deg);
    box-shadow: 2px 1px 5px 2px var(--colorOnBackgroundColor);
}

.project-grid-item:nth-child(odd) .project-detail {
    order: 1;
}

.project-detail {
    position: relative;
    /* background-color:blueviolet; */
    margin: 5px;
}

.project-subtitle {
    font: 300 clamp(10px, 2vw, 20px) 'Roboto';
    color: var(--colorOnBackgroundColor);  
}

.project-title {
    font: 800 clamp(12px, 2vw, 24px) 'Roboto';
    margin: 1rem 0 1.5rem 0;
    color: var(--colorOnBackgroundColor);  
}

.project-content {
    font: clamp(14px, calc(1vw + 1vh), 20px) 'Roboto';
    line-height: 1.5;
    color: var(--colorOnBackgroundColor);  
}

.project-technologies {
    margin: 1rem 0;
    display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    gap: 5px;
}

.project-technologies div:nth-child(n) {
    background-color: #fff;    
    border-radius: 4px;    
    background-color: var(--background);
}

.project-technologies div:nth-child(n) .p {   
    font: 400 clamp(10px, 2vw, 20px) 'Roboto';
    margin: clamp(10px, 1vh, 20px) clamp(10px, 2vw, 10px); 
    color: var(--colorOnBackground);
}

.project-url {
    margin: clamp(0rem, 2vh, 1rem) 0;    
}

.project-url button {
    font: 300 clamp(12px, 2vw, 24px) 'Roboto';
    color: var(--colorOnBackgroundColor);  
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 867px) {
    
    .project-grid-item {
        grid-template-columns: 1fr;
    }

     .project-detail{
        order: 1;
    }
}

