<div class="login_wrapper">
    <div class="sub_login_wrapper">
        <h1>Forgot Password</h1>
        <p>Password Reset Token will be sent to your entered email address.</p>
        <div class="login-error">
            <p style="text-align: center;">
                <%= error %>
            </p>
        </div>
        <div class="login-success">
            <p>
                <%= success %>
            </p>
        </div>

        <form id="loginForm" method="post" action="/auth/login" content-type="application/json">
            <div class="email">
                <i class="fas fa-envelope icon"></i>
                <input name="email" type="email" required id="email" placeholder="Email Address *" />
            </div>

            <button class="login-btn" id="send" type="submit">Send</button>

            <div id="sending">
                <button>
                    <i class="fa fa-circle-o-notch fa-spin"></i>Sending
                </button>
            </div>
            <div id="success">
                <button class="btn bg-success">
                    Sent
                </button>
            </div>
            <div id="error">
                <button class="btn bg-danger">
                    Error
                </button>
            </div>
            <div>
                <p>
                    <a href="/auth/login" class="link-danger">Back</a>
                </p>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#sending').hide();
        $('#success').hide();
        $('#error').hide();

        $('#loginForm').on('submit', function (e) {
            e.preventDefault();
            $('#sending').show();
            $('#send').hide();
            const email = $('#email').val();

            $.ajax({
                url: '/auth/password/forgot',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ email: email }),
                success: function (data) {
                    if (data.success) {
                        $('#send').hide();
                        $('#sending').hide();
                        $('#success').show();
                        // alert(data.message);
                        location.reload();
                    } else {
                        $('#send').hide();
                        $('#sending').hide();
                        $('#error').show();
                        // alert(data.msg);
                        location.reload();
                    }
                }
            });
        });
    });
</script>