<div class="login_wrapper">
  <div class="sub_login_wrapper">
    <h1>Reset Password</h1>
    <div class="login-error">
      <p>
        <%= error %>
      </p>
    </div>
    <div class="login-success">
      <p>
        <%= success %>
      </p>
    </div>
    <form id="resetpassword" method="POST" action='/auth/password/reset/<%= token %>?_method=PUT'
      content-type="application/json" required>
      <div class="password">
        <span class="icon">
          <i id="locked" class="fas fa-lock icon"></i>
          <i id="unlocked" class="fas fa-lock-open icon"></i>
        </span>
        <input name="password" id="password" type="password" required placeholder="New Password" />
      </div>
      <div class="password">
        <span class="icon">
          <i id="confirmlocked" class="fas fa-lock icon"></i>
          <i id="confirmunlocked" class="fas fa-lock-open icon"></i>
        </span>
        <input name="confirmpassword" id="confirmpassword" type="password" class="form-control" required
          placeholder="Confirm Password" />
      </div>

      <input type="hidden" name="token" value="<%= token %>" id="token" />
      <div class="password">
        <input type="checkbox" id="showPassword" name="showPassword" onclick="showresetpassword()" />
        <label for="showPassword">
          Show Passwords
        </label>
      </div>
      <button type="submit" class="btn">Update</button>
      <p>Back to
        <a href="/auth/login">Login</a>
      </p>
    </form>
  </div>
</div>

<script type="text/javascript">
  document.getElementById("unlocked").style.display = 'none';
  document.getElementById("confirmunlocked").style.display = 'none';
  function showresetpassword() {
    document.getElementById("locked").style.display = 'none';
    var x = document.getElementById("password");
    var y = document.getElementById("confirmpassword");
    if (x.type === "password") {
      x.type = "text";
      document.getElementById("unlocked").style.display = 'block';
    } else {
      x.type = "password";
      document.getElementById("unlocked").style.display = 'none';
      document.getElementById("locked").style.display = 'block';
    }
    if (y.type === "password") {
      y.type = "text";
      document.getElementById("confirmunlocked").style.display = 'block';
      document.getElementById("confirmlocked").style.display = 'none';
    } else {
      y.type = "password";
      document.getElementById("confirmunlocked").style.display = 'none';
      document.getElementById("confirmlocked").style.display = 'block';
    }
  }
</script>