<section class="passwordReset">
<div class="login_wrapper">
  <div class="sub_login_wrapper">
    <h1>Reset Password</h1>

    <div class="login-error" id="loginError" style="display: none;">
      <p></p>
    </div>
    <div class="login-success" id="loginSuccess" style="display: none;">
      <p></p>
    </div>

    <form id="resetPasswordForm" content-type="application/json">
      <div class="password">
        <span class="icon">
          <i id="locked" class="fas fa-lock icon"></i>
          <i id="unlocked" class="fas fa-lock-open icon"></i>
        </span>
        <input name="password" id="password" type="password" required placeholder="New Password" />
      </div>
      <div class="password">
        <span class="icon">
          <i id="confirmlocked" class="fas fa-lock icon"></i>
          <i id="confirmunlocked" class="fas fa-lock-open icon"></i>
        </span>
        <input name="confirmpassword" id="confirmpassword" type="password" required placeholder="Confirm Password" />
      </div>

      <input type="hidden" name="token" value="<%= token %>" id="token" />

      <div class="password">
        <input type="checkbox" id="showPassword" onclick="showresetpassword()" />
        <label for="showPassword">Show Passwords</label>
      </div>

      <button class="login-btn" type="button" class="btn" onclick="resetPassword()">Update</button>
      <p>Back to <a href="/auth/login">Login</a></p>
    </form>
  </div>
</div>
</section>

<script type="text/javascript">
  document.getElementById("unlocked").style.display = 'none';
  document.getElementById("confirmunlocked").style.display = 'none';

  function showresetpassword() {
    const passwordField = document.getElementById("password");
    const confirmPasswordField = document.getElementById("confirmpassword");
    const lockIcon = document.getElementById("locked");
    const unlockIcon = document.getElementById("unlocked");
    const confirmLockIcon = document.getElementById("confirmlocked");
    const confirmUnlockIcon = document.getElementById("confirmunlocked");

    if (passwordField.type === "password") {
      passwordField.type = "text";
      unlockIcon.style.display = 'block';
      lockIcon.style.display = 'none';
    } else {
      passwordField.type = "password";
      unlockIcon.style.display = 'none';
      lockIcon.style.display = 'block';
    }

    if (confirmPasswordField.type === "password") {
      confirmPasswordField.type = "text";
      confirmUnlockIcon.style.display = 'block';
      confirmLockIcon.style.display = 'none';
    } else {
      confirmPasswordField.type = "password";
      confirmUnlockIcon.style.display = 'none';
      confirmLockIcon.style.display = 'block';
    }
  }

  async function resetPassword() {
    const password = document.getElementById("password").value;
    const confirmpassword = document.getElementById("confirmpassword").value;
    const token = document.getElementById("token").value;

    // Reset display messages
    document.getElementById("loginError").style.display = "none";
    document.getElementById("loginSuccess").style.display = "none";

    try {
      const response = await fetch(`/auth/password/reset/${token}`, {
        method: "PUT",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ password, confirmpassword })
      });

      const data = await response.json();

      if (data.success) {
        document.getElementById("loginSuccess").style.display = "block";
        document.getElementById("loginSuccess").querySelector("p").textContent = data.message;
        setTimeout(() => {
          window.location.href = "/auth/login";
        }, 2000); // Redirect after success message
      } else {
        document.getElementById("loginError").style.display = "block";
        document.getElementById("loginError").querySelector("p").textContent = data.message;
      }
    } catch (error) {
      console.error("Error:", error);
      document.getElementById("loginError").style.display = "block";
      document.getElementById("loginError").querySelector("p").textContent = "An error occurred. Please try again.";
    }
  }
</script>
