<section class="A hidden" id="aboutSection">
    <div class="about">
      <img src="../img/hello.svg" alt="About Me">
      <div class="sub-about">
        <h1>About me</h1>
        <h2>Dee Dhillon - Freelance Developer & Consultant</h2>
        <div class="sub-sub-about">
          <p>Hello, my name is Dee. I am a Developer & Consultant from Melbourne, Australia.</p>
          <p>I specilize in&nbsp;<strong>"Next.js, Express.js, React Native & TypeScript"</strong>&nbsp;application
            development.
          </p>
          <span class="about-me-icons">
            <i class="fab fa-react"> Next.js</i>
            <i class="fab fa-node-js"> Express.js</i>
            <i class="fab fa-react"> React Native</i>
            <i class="fab fa-js"> TypeScript</i>
          </span>
          <p>I have over 4 years of experience in application development.</p>
        </div>
        <p>
          As a professional software developer, I am equipped to assist you in growing your business through the
          creation of full stack software applications that are capable of running on both mobile and desktop devices.
          My services are designed to help small businesses achieve significant online success by establishing an
          effective online presence and increasing their visibility. I am committed to delivering exceptional software
          development solutions that are tailored to meet your specific needs and objectives, and to help you achieve
          your business goals.
        </p>
        <p>You can send me a message <span><a href="#contactSection">here</a></span> </p>
        <div class="about-me-social-icons">
          <a href="https://www.facebook.com/">
            <i class="fab fa-facebook"></i>
          </a>
          <a href="https://www.linkedin.com/">
            <i class="fab fa-linkedin"></i>
          </a>
          <a href="https://www.instagram.com/">
            <i class="fab fa-instagram"></i>
          </a>
        </div>
      </div>
    </div>
  </section>