<section class="A hidden" id="aboutSection">
  <div class="about">
    <picture>
      <source media="(min-width:768px)" srcset="../img/hello.svg" loading="lazy">
      <source media="(min-width:480px)" srcset="../img/hello.svg" loading="lazy">
      <img src="../img/hello.svg" alt="About Me" loading="lazy">
    </picture>
    <div>
      <h1>About me</h1>
      <h2>Dee Dhillon - Freelance Full Stack Developer and Consultant</h2>
      <p>
        <!-- As a professional software developer, I create full stack applications for both mobile and desktop to help your
        business grow. -->
        <br>Wanna know more about me? <span> 👉 <a href="/portfolio"> Click here</a></span>
      </p>
      <div class="about-me-social-icons">
        <!-- <a href="https://www.facebook.com/">
            <i class="fab fa-facebook"></i>
          </a> -->
        <a href="https://www.linkedin.com/in/dee-dhillon-15b8b3259/">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/deep-dot">
          <i class="fab fa-git-alt"></i>
        </a>
        <a href="#contactSection">
          <i class="fas fa-envelope"></i>
        </a>
      </div>
    </div>
  </div>
</section>
