
<section class="faq">
  <h1>F.A.Q.</h1>
  <h2>Here are answers to the most frequently asked questions.</h2>
</section>

<script>
  function toggleFaq(event) {
      const questionElement = event.currentTarget;
      const answerElement = questionElement.nextElementSibling;
      const toggleIcon = questionElement.querySelector(".toggle-icon");

      if (answerElement.style.maxHeight) {
          answerElement.style.maxHeight = null;
      } else {
          answerElement.style.maxHeight = answerElement.scrollHeight + "px";
      }

      toggleIcon.classList.toggle("open");
      toggleIcon.textContent = answerElement.style.maxHeight ? "-" : "+";
  }

  function renderFaqs() {

      const faqs = [
            {
            question: "How much does it cost to build a web application?",
            answer: `<p>It depends. A web application can cost between: <strong>$4,000 and $50,000.</strong><br>
           A very big application can cost even more.<br><em>Everything</em> depends on your needs and the scope of the project.<br>
           The best way to get a fair estimate of the cost of your application is to book a free consultation with me or to send
           me a message <a href="#contactSection">here.</a></p>`
            },
          {
              question: "What is your process of web application development?",
              answer: `<p>Here is a brief description of the process:<br><ol style="margin-left: 30px"><li>Free Consultation & quote</li><li>Discovery & competitor analysis</li><li>High-level planning</li><li>Architecture of the application (database, sitemap)</li><li>UI/UX design</li><li>Prototyping</li><li>Development (Front-end, Back-end)</li><li>QA Testing</li><li>Deployment & launch</li><li>Maintenance & support</li></ol>`
          },
        //   {
        //       question: "What programming languages & technologies do you use to build applications?",
        //       answer: `<p>I use a variety of languages & web technologies to build applications.</p>
        //       <p> <ol style="margin-left: 25px">
        //       <li>On the front-end, I use React with TypeScript or Next.js </li>
        //       <li>On the back-end, I use Express.js or Python.</li>
        //       <li>For the database, I use either MariaDB, MySQL, or MongoDB.</li>
        //       <li>For the infrastructure, I use docker, docker-compose.</li>
        //     </ol></p>`
        //   },
          {
              question: "What are the different types of applications that you make?",
              answer: `<p>Web development: I can create single-page applications, dynamic applications.</p><p>Mobile app development: I can create cross-platform apps for Android & IOS.</p>`
          },
          {
              question: "Where are you and where do you service?",
              answer: `<p>I am physically based in Geelong but i provide services Australia-wide! You do not have to live in or near Geelong to take advantage of our web and mobile app development. Online goes everywhere and that is the beauty of what i do. My focus is small businesses in regional areas. We can meet on Google meet or can use any other adequate service</p>`
          },
          {
              question: "I know I want a website but I don’t know what should be in it or how it should look. Can you help?",
              answer: `<p>As part of our website development process I work with you to gather as much information as i can about what it is you do and where you do it. I then analyse all that information to create the structure of your website, from design and pages, through to key search words and content.</p>`
          },
          {
              question: "What if I want to add more features to my project after I approve the estimate?",
              answer: `<p>If you need to add new elements to your website, it can certainly be done, particularly if the features you’re adding are consistent with our overall plan and design. But if you’re heading off on a different tangent from what we’ve discussed and planned, then i’ll need to talk to you about additional fees for the extra work involved. Sorry, but i invest weeks of labour in your website and out-of-scope work can quickly blow the budget. Think long and hard about what you want from your website.</p>`
          },
          {
              question: "I’ve already got a website but it’s useless. Can you fix it?",
              answer: `<p>No, But i can produce a website that will look like your original site if you really want, but i’ll do it from scratch.</p>`
          },
          {
              question: "What are your payment terms?",
              answer: `<p>I require a deposit of 50% upon your acceptance of the contract and the balance at the completion of the project.</p>`
          },
          {
              question: "I know you answer the phones during working hours, but what if my website has problems out of hours?",
              answer: `<p>Send an email with all detailed problem. If the emergency is the result of something i’ve done – and that’s unlikely – then i’ll cover the cost. But if the problem with your website is something you’ve done – and that’s also unlikely but not impossible – i will have to charge for the repairs, as well as an out-of-hours fee if the repairs are urgent and outside traditional working hours.</p>`
          }
      ];
      const faqContainer = document.querySelector('.faq');
      faqs.forEach(faq => {
          const faqItem = document.createElement('div');
          faqItem.classList.add('faq-item');

          faqItem.innerHTML = `
          <div class="faq-question" onclick="toggleFaq(event)">
              <h3>${faq.question}</h3>
              <p class="toggle-icon">+</p>
          </div>
          <div class="faq-answer">
              ${faq.answer}                             
          </div>
      `;

          faqContainer.appendChild(faqItem);
      });
  }

  document.addEventListener('DOMContentLoaded', renderFaqs);
</script>
  
  <script src="/js/home/faq.js"></script> 