<section class="H hidden">
    <h1 class="english">Looking to address your business challenges?</h1>
    <div class="home">
      <div class="home1">
        <p class="english">Start exploring now and find solutions that can help you overcome obstacles and achieve your
          goals.</p>
      </div>
      <div class="home2">
        <p class="english">Let me help you uncover your business challenge and solve it as quickly as possible.</p>
      </div>
    </div>
  
    <!-- <img src="../img/person.svg" alt="Home"> -->
  
    <div class="quote-me-box">
      <div class="sub-quote-me-box">
        <h2>Dont shy🙈 ! Share your thoughts. </h2>
        <p>I will provide you with all of the information, answer all your questions, and finally, will get you a free
          quote.</p>
        <a class="quote-button" href="/quote">Get your free Quote</a><br>
      </div>
    </div>
  
  </section>