<section class="H hidden">
    <h1 class="english">Looking to address your business challenges?</h1>
    <p>Start exploring now and let me help you in find solutions.</p>
  
    <div class="quote-me-box">
      <h2>Dont shy🙈 ! Share your thoughts. </h2>
      <p>I will provide you with all of the information, answer all your questions, and finally, will get you a free
        quote.</p>
      <a class="quote-button" href="/quote">Get your free Quote</a><br>
    </div>
</section>