<link rel="stylesheet" href="/css/writer-detail.css">

<div class="written-by">
  <picture>
    <source srcset="https://res.cloudinary.com/dedqid79f/image/upload/v1642646586/samples/bike.jpg"
      type="image/cloudinary">
    <img src="https://lh3.googleusercontent.com/a/AGNmyxYKP7KlSgpMYZ1EngEaDDBvDyjCH97coxhOrCmiaA=s96-c"
      alt="KuldeepDhillon" title="KuldeepDhillon" width="125px" height="125px" loading="lazy">
      <p>Written by <br> Kuldeep Dhillon <br><br>
        Hello! I am Kuldeep Dhillon, a Freelance Developer &
        Consultant from Melbourne, Australia.I specialize in website and cross platform application design and development.
        If you need help on a project, please reach out, and let’s work together.</p>
        <a class="contact-me" href="/#contactSection">CONTACT ME </a>
  </picture>  
</div>