
/* Footer */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 2rem;
  position:sticky;
  bottom:0;
  left:0;    
  width: 100%;
  min-height: var(--footerHeight);
  background: linear-gradient(50deg, rgba(91,172,223) 100%, rgba(42,70,87) 0%);;
  /* background-color: rgba(255,224,158,1); */
}

.footer .footer-container {
  display: flex;
  flex-direction: row;  
  padding: 2rem 0 2rem 0;
  justify-content: space-between;
  width: 90%;  
}

/* background image opacity */
.footer-container::before {
  content: "";
  position: absolute;
  top: 15%;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../img/shape1.svg");
  background-repeat: no-repeat;
  background-size: contain;  
  background-position: center;
  opacity: 0.1;
  z-index: -1;
}

.footer .footer-container .cell:nth-child(1){
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.footer .footer-container .cell:nth-child(1) img {
  width: 250px;
  height: 80px;
}

.footer .footer-container .cell:nth-child(1) p {
  font: 500 1vmax "Roboto";
  color: var(--colorOnBackgroundColor);
}

.footer .footer-container .webMain,
.footer .footer-container .serviceMain,
.footer .footer-container .contactMain {
  font: 600 1.5vmax "Roboto";
  margin: 1rem 0;
  color: var(--colorOnBackgroundColor);
}

.footer .footer-container .webLinks a,
.footer .footer-container .servicesLinks div:not(.serviceMain),
.footer .footer-container .contactLinks div:not(.contactMain) {
  font: 500 1vmax "Roboto";
  margin-bottom: 0.6rem;
  color: var(--colorOnBackgroundColor);
}

.footer .footer-container .cell:nth-child(1) .social-icons {
  display: inline-flex;
}

.footer .footer-container .cell:nth-child(1) .social-icons a,
.footer .footer-container .contactLinks i {
  color: var(--colorOnBackgroundColor);
  text-decoration: none;
  cursor: pointer;
}

.footer .footer-container .webLinks a:hover,
.footer .footer-container .cell:nth-child(1) .social-icons a:hover {
  color: #17a2b8;
}

.footer .footer-container .cell:nth-child(1) .social-icons i {
  font-size: 2rem;
  margin: 1.5rem
}

.footer .footer-container .webLinks,
.footer .footer-container .servicesLinks,
.footer .footer-container .contactLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

p {
  font-size: 1em;
  align-self: center;
  color: var(--colorOnBackgroundColor);
}

@media screen and (max-width: 768px) {

  .footer .footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 2rem 0;
  }

  .footer .footer-container .cell:not(:first-child) {
    width:60%;
  }


.footer .footer-container .cell:nth-child(1) p {
  font: 500 1.5vmax "Roboto";
}

.footer .footer-container .webMain,
.footer .footer-container .serviceMain,
.footer .footer-container .contactMain {
  font: 600 2vmax "Roboto";
  margin: 1rem 0;
}

.footer .footer-container .webLinks a,
.footer .footer-container .servicesLinks div:not(.serviceMain),
.footer .footer-container .contactLinks div:not(.contactMain) {
  font: 500 1.7vmax "Roboto";
  margin-bottom: 0.6rem;
}

.footer .footer-container .cell:nth-child(1) .social-icons i {
  font-size: 2rem;
  margin: 1.5rem
}
}
