.A,
.H,
.S,
.T,
.C,
.M {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  min-height: 100vh;
}

.H h1,
.T h1,
.C h1,
.M h1 {
  font: 800 3vmax "Roboto";
  align-self: center;
  color: #17a2b8;
}


.home,
.about,
.services,
.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  justify-content: space-between;
}

.home p {
  font: 400 2vmax "Roboto";
  text-align: left;
  line-height: 1.5;
  color: var(--colorOnBackgroundColor);
}

.about img,
.services img,
.testimonial img,
.contact img,
.map img {
  width: 100%;
  align-self: center;
}

.home-img {
  width: 50%;
  align-self: center;
}

.home>p:first-child {
  border-right: 1px solid var(--lightOne);
  padding: 0 2rem 0 0;
  text-align: justify;
}

.quote {
  text-align: center;
  width: 7rem;
  background: darkorchid;
  color: #fff;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  animation: blink-animation 2s infinite;
}

@keyframes blink-animation {
  50% {
    opacity: 0;
  }
}

.about h1 {
  font: 300 1.1em "Roboto";
  text-transform: uppercase;
  text-align: start;
  color: var(--colorOnBackgroundColor);
  margin: 2rem 0;
}

.about h2 {
  font: 600 1.5em 'Roboto';
  margin-bottom: 20px;
  line-height: 30px;
  color: var(--colorOnBackgroundColor);
}

.about p {
  font-size: 1em;
  line-height: 26px;
  margin: 15px 0;
  text-align: left;
  color: var(--colorOnBackgroundColor);
}

.about-me-icons {
  display: inline-flex;
  gap: 10px;
}

.about-me-icons .fa-react,
.about-me-icons .fa-node-js,
.about-me-icons .fa-js {
  background-color: #17a2b8;
  padding: 5px;
  color: #fff;
}

.aboiut-me-social-icons {
  display: inline-flex;
  gap: 25px;
}

.aboiut-me-social-icons a {
  font-size: 30px;
  text-decoration: none;
  color: var(--background);
}

.aboiut-me-social-icons a:hover {
  color: #17a2b8;
}


.services h1 {
  font: 500 2.2em "Roboto";
  text-align: start;
  color: var(--colorOnBackgroundColor);
  margin: 2rem 0;
}

.services ul {
  list-style-type: none;
}

.services ul li {
  margin-bottom: 20px;
  font: 500 1.6em 'Roboto';
  color: var(--colorOnBackgroundColor);
}

.services .contact-button {
  position: relative;
  background: var(--background);
  font-size: 1.6em;
  font-weight: bold;
  height: auto;
  padding: 7.5px 30px;
  text-transform: uppercase;
  user-select: none;
  margin-top: 20px;
  color: var(--colorOnBackground);
  border-radius: 5;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  line-height: 40px;
}

.services .contact-button:hover {
  background: var(--hoverColor);
}

.services .services-icons {
  display: inline-flex;
  gap: 30px;
  margin-top: 2rem;
}

.services .services-icons i {
  font-size: 5rem;
  opacity: 0.1;
}


.contact-me-box {
  background: var(--background);
  width: 100%;
  min-height: 30vh;
  border-radius: 10px;
  border: 5px solid rgb(23, 162, 184);
  box-shadow: 0px 0px 5px 5px var(--colorOnBackgroundColor);
  margin: 8rem 0;
}

.sub-contact-me-box {
  padding: 2rem;
}

.contact-me-box .sub-contact-me-box h2 {
  font: 800 1.5em 'Roboto';
  margin-bottom: 2rem;
  color: var(--colorOnBackground);
}

.contact-me-box .sub-contact-me-box p {
  font: 400 1em 'Roboto';
  margin-bottom: 2rem;
  color: var(--colorOnBackground);
}

.contact-me-box .contact-button {
  position: relative;
  background: var(--backgroundColor);
  font-size: 1.6em;
  font-weight: bold;
  height: auto;
  padding: 7.5px 30px;
  text-transform: uppercase;
  user-select: none;
  margin-top: 20px;
  color: var(--colorOnBackgroundColor);
  border-radius: 5;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  line-height: 40px;
}

.contact-me-box .contact-button:hover {
  background: var(--hoverColor);
}


.skill p {
  color: var(--colorOnBackgroundColor);
  font: 400 1.5vmax 'Roboto';
}

.skill h2 {
  color: var(--colorOnBackgroundColor);
  font: 900 2vmax 'Roboto';
  margin: 2rem 0;
}

.skill-box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 20px;
  width: 100%;
  min-height: 40vh;
}

.skill-box .child {
  border: none;
  background: var(--background);
  padding: 10px;
  text-align: center;
  border-radius: 5px;
}

.skill-box .sub-child h2 {
  font: 800 1.3em 'Roboto';
  color: var(--colorOnBackground);
  text-align: left;
}

.skill-box .sub-child p {
  font: 400 1em 'Roboto';
  color: var(--colorOnBackground);
  text-align: left;
  line-height: 26px;
}

@media (max-width: 768px) {

  .about h2 {
    font: 500 1em 'Roboto';
  }

  .skill-box {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .contact-me-box .contact-button {
    font-size: 1em;
  }

  .services div h1 {
    font: 500 1.2em "Roboto";
  }
  
  .services ul li {
    font: 500 0.8em 'Roboto';
  }
}

@media (max-width: 480px) {
  .skill-box {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }
  .contact-me-box .contact-button {
    font-size: 1em;
  }
}



.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#reviewCard {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.testimonial p {
  font-size: 16px;
  margin-bottom: 20px;
  text-align: left;
  letter-spacing: 0rem;
}

.testimonial h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.testimonial img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
  object-fit: cover;
}

#see-more-button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

#see-more-button:hover {
  background-color: #555555;
}

.testimonial #testimonial {
  position: relative;
}

.testimonial #write-review-button:hover {
  background-color: #555555;
}

.testimonial #write-review-button {
  background-color: tomato;
  display: block;
  margin: 4rem auto;
  padding: 10px 20px;
  color: var(--colorOnBackground);
  border: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.testimonial #write-review-button i {
  display: none;
}


.Modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  max-width: 700px;
  width: 95%;
  text-align: center;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Modal-content .close {
  position: relative;
  font-size: 28px;
  font-weight: bold;
  color: #aaa;
  padding: 5px;
  cursor: pointer;
}

.close:hover {
  color: black;
}

.Modal-content form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Modal-content label {
  margin-top: 10px;
  font-size: 18px;
  display: block;
}

.Modal-content select,
.Modal-content textarea {
  margin-top: 5px;
  font-size: 16px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  box-sizing: border-box;
  resize: none;
}

.Modal-content button {
  margin-top: 10px;
  font-size: 16px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.Modal-content button:hover {
  background-color: #3e8e41;
}


.Modal-content ul {
  display: flex;
  list-style: none;
  color: gray;
}

.Modal-content ul li i {
  font-size: 15px;
}

.Modal-content ul li {
  margin-left: 7px;
}

.orange {
  color: orange;
}

.clicked {
  color: orange;
}

.Modal-content .Output {
  color: gray;
}



.contact form p {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.contact form {
  background-color: #f2f2f2;
  padding: 20px;
  border-radius: 5px;
}

.contact .form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.contact label {
  margin-bottom: 5px;
  font-weight: bold;
  text-align: start;
}

input[type="text"],
input[type="email"],
textarea {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
  outline: none;
  box-shadow: 0 0 5px #4CAF50;
}

.contact button {
  background-color: #4CAF50;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.contact button:hover {
  background-color: #3e8e41;
}

.contact #submit-button.loading:before {
  content: "Sending...";
  display: inline-block;
  margin-right: 5px;
  font-weight: bold;
}

.contact #submit-button.loading:after {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 3px solid #ccc;
  border-top-color: #333;
  animation: spin 0.8s linear infinite;
  vertical-align: middle;
  margin-top: -2px;
  margin-right: 5px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.map iframe {
  height: 60vh;
  width: 80vw;
}

/* 
@media screen and (min-width: 480px) and (max-width: 867px) {

  .Container {
    padding: calc(var(--navheight) + 2rem) 0 0 0;
  }

  .H h1 {
    font: 800 4vmax "Roboto";
  }

  .A h1,
  .S h1,
  .T h1,
  .C h1,
  .M h1 {
    margin: 8rem 0 4rem 0;
    font: 800 4vmax "Roboto";
  }

  .home img {
    width: 100%;
  }

  .home p,
  .about p,
  .services p {
    font-size: 0.9rem;
  }

  .home>p:first-child {
    padding: 0;
    text-align: justify;
  }

  .testimonial p {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }

  .testimonial h3 {
    font-size: 9px;
    margin-bottom: 5px;
  }

  .testimonial #write-review-button {
    padding: 7px 15px;
    font-size: 13px;
  }

   #see-more-button {
    padding: 5px 10px;
    font-size: 1rem;
  }

  .contact form {
    position: relative;
    width: 100%;
  }

  .M iframe {
    height: 80vh;
    width: 80vw;
  }

} */

@media screen and (max-width: 1000px) {

  .Container {
    padding: calc(var(--navheight) + 2rem) 0.5rem 0 0.5rem;
  }

  .home,
  .about,
  .services,
  .testimonial,
  .contact,
  .map {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .home>p:first-child {
    border-right: none;
  }

  .H h1 {
    font: 800 2vmax "Roboto";
  }

  .A h1,
  .S h1,
  .T h1,
  .C h1,
  .M h1 {
    font: 800 2vmax "Roboto";
  }

  .home p,
  .about p,
  .services p {
    font-size: 0.9rem;
    text-align: justify;
    padding: 0;
  }

  .services p {
    text-align: center;
  }

  .home>p:first-child {
    border-right: none;
    padding: 0;
    text-align: justify;
  }

  .home img {
    width: 100%;
  }

  .testimonial p {
    font-size: 0.7rem;
    margin-bottom: 10px;
  }

  .testimonial h3 {
    font-size: 9px;
    margin-bottom: 5px;
  }

  .testimonial #write-review-button {
    padding: 5px 10px;
    font-size: 10px;
  }

  #write-review-button span {
    display: none;
  }

  #write-review-button i {
    display: block;
  }


  .contact form {
    min-width: 95vw;
  }

  button[type="submit"] {
    background-color: #f6d365;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 1rem;
  }

  .map iframe {
    height: 50vh;
    width: 100vw;
  }

}












#ReviewPage {
  min-width: 90vw;
  min-height: 100vh;
}

.like {
  float: right;
  color: blue;
  font-size: 15px;
  cursor: pointer;
  padding: 0.3rem 1rem;
  border-radius: 16px;
  text-transform: capitalize;
  transition: 0.3s;
}

.unlike {
  float: right;
  color: green;
  font-size: 15px;
  cursor: pointer;
  padding: 0.3rem 1rem;
  border-radius: 16px;
  text-transform: capitalize;
  transition: 0.3s;
}

.btnn {
  float: right;
  font-size: 15px;
  cursor: pointer;
  padding: 0.3rem 1rem;
  border-radius: 16px;
  border: none;
  background-color: transparent;
  text-transform: capitalize;
  transition: 0.3s;
}

.stars {
  display: flex;
  list-style: none;
  color: grey;
}

.stars i {
  font-size: 15px;
}

.star {
  margin-left: 7px;
}

.orange {
  color: orange;
}

.clicked {
  color: orange;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 33.33%;
  padding: 10px;
  box-sizing: border-box;
  width: 350px;
  min-height: 100px;
  border-radius: 5px;
  background: #c7d8e3;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-auto-rows: auto;
  grid-gap: 10px;
}

.card:hover {
  transition: 0.5s;
  box-shadow: 1px -8px 12px 1px rgba(77, 71, 77, 1);
}

.card::before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  border: 20px solid transparent;
  border-top: 20px solid #17e78c;
  border-right: 20px solid #17e78c;
}

.card .morelessmore {
  position: relative;
  padding: 3px 5px;
  background: #17e78c;
  cursor: pointer;
  font-size: 8px;
  letter-spacing: 2px;
  color: #383838;
  text-transform: uppercase;
  border-radius: 5px;
  width: 25%;
}

.card .morelessmore::before {
  content: 'Read more';
}

.card.active .morelessmore {
  background: #bd4033;
  color: #fff;
}

.card.active .morelessmore::before {
  content: 'Read less';
}

.card.active::before {
  border-top: 20px solid #bd4033;
  border-right: 20px solid #bd4033;
}

.card .reviewcontent {
  position: relative;
  height: 25px;
  overflow: hidden;
}

.card.active .reviewcontent {
  height: auto;
}

.card.active .reviewcontent::before {
  display: none;
}

.card .reviewcontent::before {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
}

.cardRow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.cardRow div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card .reviewDesc {
  display: flex;
  align-items: flex-start;
}

.blockquote {
  color: wheat;
  font-style: italic;
  line-height: 0.6;
  font-size: 1em;
  position: relative;
  padding: 0px 0px;
}

.blockquote::before {
  content: open-quote;
  font-size: 20px;
  font-weight: bold;
  top: 0;
  left: 0;
}

.blockquote::after {
  content: close-quote;
  font-size: 20px;
  font-weight: bold;
  bottom: 0;
  right: 0;
}