.login_wrapper {
    position: relative;
    box-shadow: 0px 0px 5px 0 var(--background);
    margin: 2rem auto; 
    border-radius: 5px;
    max-width: 1000px;
}

.login_wrapper .sub_login_wrapper {
    padding: 2rem 1rem 2rem 1rem;
}

.login_wrapper .sub_login_wrapper h1 {
    margin: 2rem 0 2rem 0;
    font: 800 3vmax "Roboto";
    color: var(--colorOnBackgroundColor);
}

.login_wrapper .sub_login_wrapper h2 {
    margin: 2rem 0 2rem 0;
    font:500 2rem 'Roboto';
    align-self: center;
    color: var(--colorOnBackgroundColor);
}

.login_wrapper_grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    grid-gap: 2rem;
    padding: 1rem;
}

 .facebook, 
 .google {
    padding: 1rem;
    border-radius: 5px;
    text-align: center;
}

.facebook {
    background-color: cornflowerblue;
}

.google {
    background-color: crimson;
}

.facebook a, .google a {
    align-self: center;
    color: white;
    font:500 2rem 'Roboto';
}

.login-error p {
    color: red;
}

.login-success p {
    color: green;
}

.loginForm {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
}

.loginForm .email {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.fa-envelope,
.fa-lock,
.fa-unlock, .fa-user, .fa-id-card, 
.fa-home, .fa-battery-full, .fa-edit, 
.fa-trash, .fa-user-circle {
    color: var(--colorOnBackgroundColor);
    font:500 1.5rem 'Roboto';
}


input[type="file"], input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    margin-bottom: 2rem;
    height: 2rem;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid var(--colorOnBackgroundColor);
    color: var(--colorOnBackgroundColor);
}

input[type="file"] { 
    margin-top: 1rem;
}

.loginForm .password {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.showPass {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input[type="checkbox"] {
    margin-right: 1rem;
}

.showPass a, label {
    color: var(--colorOnBackgroundColor);
}

.g-recaptcha {
    margin-top: 2rem;
}

.login-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font: 500 1.5rem 'Roboto'; 
    margin: 2rem 0 2rem 0;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #3e8e41; 
  }

  /* sign up */

  #registerForm {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
  }

  #registerForm .signUpElements1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

   #registerForm .signUpElements2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }

  /* profile */
  
  .profileDetail{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .profileimg{
    align-self: center;
    border-radius: 50%;
  }

  .profileBtns{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .profileBtns form button {
    background-color: transparent;
    border: none;
  }

  .profileIconandInput  {
    display: block;
  }

@media screen and (max-width: 867px) {

    .login_wrapper .sub_login_wrapper h1, h2 {
        text-align: center;
    }

    .login_wrapper .sub_login_wrapper {
        padding: 2rem 1rem 2rem 1rem;
    }
    .login_wrapper .sub_login_wrapper .login_wrapper_grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .facebook, .google {
        width: 100%;
    }

    .showPass {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
    }

    .showPass a {
        margin-top: 1rem;
    }

   /* profile */

   .profileDetail {
    grid-template-columns: 1fr;
    gap: 0;
    }

      .profileBtns{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
      }

        /* sign up */

    #registerForm {
        grid-template-columns: 1fr;
        gap: 0;
    }

    #registerForm .signUpElements1,
    #registerForm .signUpElements2 {
        width: 100%;
        
    }

}

@media screen and (max-width: 467px) {

    .login_wrapper_grid {
        grid-template-columns: 1fr;
        padding:0;
    }

    .login_wrapper .sub_login_wrapper {
        padding: 1rem;
    }

    .facebook, .google {
        width: 100%;
    }
  
    .facebook a, .google a {
        position: relative;
        font:500 1.3rem 'Roboto';
    }

    .fa-envelope,
    .fa-lock,
    .fa-unlock, .fa-user, .fa-id-card, 
    .fa-home, .fa-battery-full, 
    .fa-edit, .fa-trash, .fa-user-circle {
        font:500 1.2rem 'Roboto';
        }

    .login-btn {
        font: 500 1.2rem 'Roboto'; 
      }
    
}
