
:root {
  --navheight: 11vh;
 --mobileNavHeight: 50vh;

  --nav-bg-color: rgb(21, 21, 21);
  --toggle-color: rgb(221, 221, 221);
  --toggle-bg-color: rgb(40 40 40);
  --nav-link-bg-color-01: rgb(50 50 50);
  --nav-link-bg-color-02: rgb(30 30 30);
  --nav-link-bg-color-03: rgb(15 15 15);
  --nav-link-color: hsl(0 0% 90%);
  --nav-secondary-color: rgb(255, 193, 7);
  --nav-caret-color: var(--nav-secondary-color);
  --nav-hover-color: hsl(0 0% 90%);
  --nav-bg-hover-color-01: rgb(209, 59, 45);
  
  --calc-height: auto;
  --calc-transition-delay: 500ms; 
  --dropdown-indent: 0px;
  --burger-width: 40px;
  --mobile-break: 768px;
}


 #accordion {
  display: none;
}
.activeNavElement {
  text-decoration: none;
  text-transform: uppercase;
  background: tomato;
  border-radius: 10px;
}

/* hide when scroll up */
header.hidden {
  transform: translateY(-100%);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  height: var(--navheight);
  background: var(--background);  
}

.nav_bar{
  max-width: 1440px;
  margin: auto;
  /* transition: all 0.3s ease-in-out; */
  transform: translateY(0);
  background: var(--background);  
  height: inherit;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav_bar .logo_image {
  height: inherit;
  width: 175px;
  padding: 0;
}

#nav4Large {
  display: flex;  
  padding: 0 20px 0 20px;
  height: inherit;
  background: var(--background);    
}

#nav4Large ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1.5em;
}

/* 
#nav4Large ul li:nth-of-type(1),
#nav4Large ul li:nth-of-type(7) {
  margin-left: auto;
} 

#nav4Large ul li:nth-of-type(8) {  
  margin-right: auto;
} */

#nav4Large ul li {
  font: 400 1em "Roboto";
  border-bottom: 0.2 solid black;  
  text-decoration: none;
  text-transform: uppercase;
}

#nav4Large ul a{
  color: var(--colorOnBackground);
  display: block;
}

#nav4Large ul i {
  margin-right: 10px;
  color: var(--mainColor);
}

.blog .blog-menu {
  display: block;
  max-height: 0;
  position: absolute;
  overflow: hidden;
  top: var(--navheight);
  transition: max-height 0.4s ease-in-out;
  background-color: var(--background); 
}

#nav4Large ul .blog .blog-menu li {  
  padding: 10px;
  text-align: left;
  border-bottom: 1px dotted var(--colorOnBackground);
  border-radius: 0;
}

#nav4Large ul .blog .blog-menu li:last-child {
  border-bottom: none;
}
/* 
.blog > a {
  display: flex;
  justify-content: center;
  align-items: center;
} */

#nav4Large ul #loggedIn a,
#nav4Large ul #loggedOut a,
#nav4Large ul #reg a{
  background-color: var(--backgroundColor);
  color: var(--colorOnBackgroundColor);
  border:none;
  border-radius: 20px;
  padding: 0.5em 1em;
}

#nav4Large ul #loggedIn a:hover,
#nav4Large ul #loggedOut a:hover,
#nav4Large ul #reg a:hover{
  background-color: var(--mainColor);
}

#nav4Large ul .fa-user-plus,
#nav4Large ul .fa-sign-in-alt,
#nav4Large ul .fa-sign-out-alt {
  color: var(--colorOnBackgroundColor);
}

.toggle-btn {
  cursor: pointer; 
  border: none;
  background-color: var(--backgroundColor);
  color: var(--colorOnBackgroundColor);
  outline: none;
  cursor: pointer;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 1rem;
  transition: 0.3s;
}

.toggle-btn i {
  line-height: 35px;
}

.toggle-btn:hover {
  background: var(--hoverColor);
}

.main-wrapper.light .toggle-btn i:last-child,
.main-wrapper.dark .toggle-btn i:first-child {
  display: none;
}

.main-wrapper.light .toggle-btn i:first-child,
.main-wrapper.dark .toggle-btn i:last-child {
  display: block;
} 

@media screen and (max-width: 768px) {

  #nav4Large {
    display: none;
  }

  #accordion {
    display: flex;
    position: relative;
  }

  #accordion {
    width: 100%;
    max-width: var(--mobile-break);
    height: fit-content;
    color: var(--nav-link-color);
    font-size: var(--fs-300);
  }

  #accordion .burger {
    margin: .15rem 0;
  }

  #accordion a {
    text-align: left;
    display: block;
    padding: 0.75rem 0;
    font-family: var(--ff-nav);
    color: var(--nav-link-color);
    transition: color 150ms, background-color 150ms;
  }

  #accordion .bi {
    margin-right: 5px;
  }

  #accordion .toggle:checked + .toggle-button .bi {
    color: var(--nav-secondary-color);
  }

  #accordion .lvl-1 a,
  #accordion .lvl-1 .toggle-button {
    padding-left: 1.5rem;
  }

  #accordion .lvl-2 a,
  #accordion .lvl-2 .toggle-button {
    padding-left: 2.5rem;
  }

  #accordion .lvl-3 a {
    padding-left: 3.5rem;
  }

  #accordion [hidden] {
    margin: 0;
  }

  #accordion ul > li > a {
    background-color: var(--nav-link-bg-color-01);
  }

  #accordion ul ul > li > a {
    background-color: var(--nav-link-bg-color-02);
  }

  #accordion ul ul ul > li > a {
    background-color: var(--nav-link-bg-color-03);
  }

  #accordion ul > li > a:hover {
    color: var(--nav-hover-color);
    background-color: var(--nav-bg-hover-color-01);
  }

  #accordion .toggle-button {
    display: block;
    padding: 0.75rem 1rem;
    color: var(--toggle-color);
    background-color: var(--toggle-bg-color);
    cursor: pointer;
    user-select: none;
  }

  #accordion .dropdown-menu {
    position: relative;
    height: 0;
    overflow: hidden;
    padding-left: var(--dropdown-indent);
    transition: height var(--calc-transition-delay);
  }

  #accordion .toggle:checked ~ .dropdown-menu {
    height: var(--calc-height);
  }

  #accordion .caret:after {
    content: '\25BC';
    font-size: .9rem;
    line-height: 1;
    display: inline-block;
    color: var(--nav-caret-color);
    transform: rotate(-90deg);
    transition: transform 150ms linear;
  }

  #accordion .toggle:checked + .caret:after {
    transform: rotate(0deg);
  }

  #accordion .burger {
    display: grid;
    place-content: center;
    width: var(--burger-width);
    height: calc(var(--burger-width) * .8);
    border: 2px solid var(--nav-secondary-color);
    border-radius: 4px;
    cursor: pointer;
  }

  #accordion .burger [class^='line'] {
    width: 26px;
    height: 2px;
    margin-bottom: 5px;
    background-color: var(--nav-secondary-color);
    transition: transform .2s ease-out;
  }

  #accordion .burger .line3 {
    margin-bottom: 0;
  }

  #accordion .burger:hover .line1 {
    transform: translate(0, 2px);
  }

  #accordion .burger:hover .line3 {
    transform: translate(0, -2px);
  }

  .burger-toggle:checked + .toggle-button .burger .line1 {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .burger-toggle:checked + .toggle-button .burger .line2 {
    opacity: 0;
  }

  .burger-toggle:checked + .toggle-button .burger .line3 {
    transform: rotate(-45deg) translate(5px, -5px);
  }
}
