
.activeNavElement {
  text-decoration: none;
  text-transform: uppercase;
  background: tomato;
  border-radius: 10px;
}

/* hide when scroll up */
header.hidden {
  transform: translateY(-100%);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
  background: var(--background);  
  /* background: #858282; */
  z-index: 20;
  height: var(--navheight);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding: 0 20px 0 20px;
  margin-right:auto;
  height: inherit;
  background: #858282;
}

.nav_list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  flex-grow: 1;
  gap: 1.5em;
  margin: 0;
  padding: 0;
}

.nav .nav_list {
  margin-left: auto;
}

.nav .nav_list li:nth-of-type(1),
.nav .nav_list li:nth-of-type(7) {
  margin-left: auto;
}

.nav .nav_list li:nth-of-type(8) {  
  margin-right: auto;
}

.nav_list li {
  font: 400 1vmax "Roboto";
  font-weight: bold;  
  text-decoration: none;
  text-transform: uppercase;
}

.nav_list a{
  color: var(--colorOnBackground);
}

.nav_list a:hover,
.nav_list a:focus {
  text-decoration: none;
  color: var(--hoverColor);
  transform: scale(1.05);
}

.nav_list i {
  margin-right: 10px;
  color: var(--mainColor);
}

.nav_list .blog-menu {
  color: var(--hoverColor);
  position: absolute;
  top: var(--navheight);
  /* width: 100%; */
  background: var(--background);
  list-style: none;
  box-shadow: 2px 2px 0px rgb(23, 162, 184)
}

.nav_list .blog-menu li {
  padding: 10px;
  text-align: left;
  border-bottom: 1px dotted var(--colorOnBackground);
  border-radius: 0;
}

.nav_list .blog-menu li:last-child {
  border-bottom: none;
}

.blog > a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav_list #loggedIn a,
.nav_list #loggedOut a,
.nav_list #reg a{
  background-color: var(--backgroundColor);
  color: var(--colorOnBackgroundColor);
  border:none;
  border-radius: 20px;
  padding: 0.5em 1em;
}

.nav_list #loggedIn a:hover,
.nav_list #loggedOut a:hover,
.nav_list #reg a:hover{
  background-color: var(--mainColor);
}

.nav_list .fa-user-plus,
.nav_list .fa-sign-in-alt,
.nav_list .fa-sign-out-alt {
  color: var(--colorOnBackgroundColor);
}

@media screen and (min-width: 768px) and (max-width: 1250px) {

  header {
    height: calc(var(--navheight) + 1rem);    
  }

  header .logo_image {
    width: 120px;
  }

  .nav_list {
    display: flex;
  } 

  .nav_list li {
    font: 400 0.8 vmax "Roboto";
  }
  
  .nav_list i {
    margin-right: 5px;
  }

  .nav_list .blog {
    position: static;
  }

}

@media screen and (max-width: 768px) {

  .nav {
    display: none;
  }

  .nav.active {
    display: flex;  
    padding: none;
    width: 50vw;
  }

  .hamburger-menu {
    z-index: 99;
    width: 1.5rem;
    cursor: pointer;  
  }

.hamburger-menu .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--backgroundColor);
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before,
.bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--backgroundColor);
  border-radius: 3px;
  transition: 0.5s;
}

.bar::before {
  transform: translateY(-8px);
}

.bar::after {
  transform: translateY(8px);
}

.main-wrapper.active .hamburger-menu .bar {
  background-color: transparent;
}

.main-wrapper.active .bar::before {
  transform: translateY(0) rotate(-45deg);
}

.main-wrapper.active .bar::after {
  transform: translateY(0) rotate(45deg);
}

    .nav_list .profileImage {
      position: fixed;
      top:30%;
      right:40%;
    }

    .nav_list > li:not(.profileImage) {
      display: none;
    }
    
    .main-wrapper.active .nav_list > li {
      display: block;      
    }

  .main-wrapper.active .nav_list {
    display: block;
    height: auto;
    margin-top: var(--navheight);     
    padding: 1rem 2rem 3rem 2rem;
    width: 100vw;
    transition: 1s;
    background: var(--background);    
  }

  .main-wrapper.active .nav_list a {
    font: 600 2.5vmax "Roboto";
    color: var(--colorOnBackground);
  }

  .main-wrapper.active .nav_list #loggedIn a,
  .main-wrapper.active .nav_list #loggedOut a,
  .main-wrapper.active .nav_list #reg a{
  background-color: var(--background);
  padding: 0;
  color: var(--colorOnBackground);
}

  .main-wrapper.active .nav_list li:not(:last-child),
  .main-wrapper.active .nav_list .blog-menu li {
    margin-bottom: 3em;
    border-bottom: 0.5px dotted var(--colorOnBackground);
  }

  .main-wrapper.active .nav_list li{
    text-align: center;
  }

  .main-wrapper.active .nav_list li i:not(.fa-caret-down) {
    display: none;
  }

  .nav .blog {
    list-style: none;
    margin-top: 0;
    box-shadow: none;  
  }
  
  .blog > a i {
    margin-right: 10px;
    transform: rotate(90deg);
  }

  .nav_list .blog-menu {
    margin-top: 0;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--backgroundColor);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

  .main-wrapper.active .overlay {
    pointer-events: all;
    opacity: 1;
  }

}

@media screen and (max-width: 480px) {

    .nav_list .profileImage {
      right:30%;
    }

}