#processPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: var(--navheight);
}

#processPage ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#processPage ul li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    border-bottom: solid var(--textColor) 1px;
}

#processPage ul li p:nth-child(1) {
    flex: 1;
    text-align: center;
    font-size: clamp(40px, 4vw, 60px);
    font-weight: bold;
}

#processPage ul li div {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    text-align:left;
}

#processPage ul li:nth-child(even) {
    flex-direction: row-reverse;
}

@media screen and (max-width: 768px) {
    #processPage {
        padding: calc(var(--navheight)/2) 5px;
    }
}

