
    /* For WebKit browsers (Chrome, Safari, etc.) */
    .contents::-webkit-scrollbar {
        display: none;
    }

    /* For Firefox */
    .contents {
        scrollbar-width: none;
        -ms-overflow-style: none;
        /* For Internet Explorer and Edge */
    }

    .project {
        display: block;
        max-width: 1600px;
        margin: auto;
        overflow: scroll;
    }

    .title-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .logo_image {
        height: clamp(50px, 5vh, 150px);
        width: clamp(130px, 13vw, 200px);
        background-color: #000;
        border-radius: 5px;
    }

    .title-sub-section {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .project-title {
        font: 600 clamp(30px, 2vw, 40px) 'Roboto';
        margin: 10px 0;
    }

    .profileImage {
        margin: 10px 0 20px 10px;
    }

    .profileImage img {
        width: clamp(80px, 2vw, 100px);
        height: clamp(80px, 2vh, 100px);
        border-radius: 50%;
    }

    .profile-desc {
        margin: 0 20px;
    }

    .profile-desc .name {
        font: 400 clamp(10px, 2vw, 20px) 'Roboto';
        margin: 5px 0;
    }

    .profile-desc .reading-time,
    .profile-desc .reading-time .fas {
        font: 100 clamp(10px, 2vw, 20px) 'Roboto';
        opacity: 0.4;
        margin-right: 5px;
    }

    .menulist {
        display: inline-flex;
        margin: 2rem 0;
        gap: 20px;
    }

    .project-container {
        display: grid;
        grid-template-columns: 80% 20%;
    }

    .project-detail {
        display: flex;
        flex-direction: column;        
    }

    .project-detail .more-contents {
        position: relative;
        display: flex;
        flex-direction: row;
        width: 100%;
        gap: 10px;
    }

    .image-container {
        position: relative;
        background-color:blue;
        margin: clamp(1px, 2vw, 5px);
        border-radius: 10px;
        height: 400px;  
    }

    .image-container:nth-child(n) {
        background-color: #b3d9ff;
        width: 50%;
    }

    .image-container img:nth-child(1) {
        position:absolute;
        top:0;
        left:0;
        width: 50%;
        height: 50%;
        padding:0.5rem;
    }
    .image-container img:nth-child(2) {
        position:absolute;
        top:10%;
        left:40%;
        width: 30%;
        height: 45%;
        transform: rotate(45deg);
    }

    .contents:nth-child(n) {
        /* background-color: #ffb3b3; */
        min-height: 300px;
        width: 50%;
    }

    .project-detail .contents p {
        font: 400 1rem 'Roboto';
        padding: clamp(1em, 2vw, 3em);
        color: rgb(23, 27, 30);
        line-height: 1.5;
        text-align: justify;
    }

    .page-contents {
        display: block;
        position: fixed;
        top:5%;
        right: 1%;
        max-width: 250px;
        max-height: 300px;
        /* background-color: #4897e7; */
        padding: 2rem;
        margin-left: 10px;
    }

    .page-contents .content-heading {
        margin: 15px 0;
        font: 500 clamp(10px, 2vw, 16px) 'Roboto';
        text-decoration: underline;
        text-transform: uppercase;
    }

    .page-contents ol li::before {
        color: #000;
    }

    .page-contents ol .list-text {
        font: 300 clamp(12px, 2vw, 18px) 'Roboto';
        margin: 5px 0;
        color: rgb(167, 47, 26);
        cursor: pointer;
    }

    .written-by {
        display: flex;
        border: 0.2px dotted var(--colorOnBackgroundColor);
        padding: 1em;
        max-width: 600px;
    }

    .written-by picture img {
        border-radius: 50%;
        width: clamp(80px, 2vw, 100px);
        height: clamp(80px, 2vh, 100px);
    }

    .written-by .writer-detail {
        margin-left: 20px;
    }

    .written-by .writer-detail h3 {
        text-transform: uppercase;
        font-weight: 300;
    }

    .written-by .writer-detail .bio {
        white-space: pre-line;
        line-height: 22px;
        margin-bottom: 10px;
    }

    .written-by .writer-detail .contact-me a {
        display: inline-block;
        margin-top: 10px;
        background: transparent;
        border: 2px solid tomato;
        border-radius: 5px;
        color: var(--colorOnBackgroundColor);
        padding: 10px 25px;
        cursor: pointer;
        vertical-align: top;
        margin-right: 10px;
        text-decoration: none;
    }


    .project-technologies {
        margin: 1rem 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 0.3em;
    }

    .project-technologies div:nth-child(n) {
        background-color: #fff;
        border-radius: 4px;
        background-color: var(--background);
    }

    .project-technologies div:nth-child(n) .p {
        font: 400 clamp(10px, 2vw, 16px) 'Roboto';
        padding: clamp(4px, 1vh, 6px) clamp(4px, 2vw, 6px);
        color: var(--colorOnBackground);
    }


    @media screen and (max-width: 800px) {

        .project-container {
            grid-template-columns: 1fr;
        }

        .project-detail .more-contents {
            flex-direction: column-reverse;

        }

        .image-container:nth-child(n),
        .contents:nth-child(n) {
            width: 100%;
        }

        .page-contents {
            order: -1;
            position: relative;
            width: 100%;
            height: auto;
            /* background-color: #4897e7; */
            margin:0 1rem 5rem 0;
            padding: 0 10px;
        }

        .written-by {
            display: block;
        }
    }