
   
    .project-detail {
        display: block;
        max-width: 1400px;
        margin: auto;
        overflow: scroll;
        padding: 20px
    }

    .project-detail .logo_image {
        height: clamp(50px, 5vh, 150px);
        width: clamp(130px, 13vw, 200px);
        background-color: #000;
        border-radius: 5px;
    }

    .project-detail .title {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .project-detail picture {
        width: clamp(80px, 2vw, 100px);
        height: clamp(80px, 2vh, 100px);
        border-radius: 50%;
    }

    .project-detail .reading-time,
    .project-detail .reading-time .fas {
        font: 100 clamp(10px, 1vw, 20px) 'Roboto';
        opacity: 0.4;
        margin-right: 5px;
    }

    .project-detail .menulist {
        display: inline-flex;
        margin: 2rem 0;
        gap: 10px;
    }

    .project-detail {
        position: sticky;
        margin-right: auto;
        display: flex;
        flex-direction: column;  
        justify-content: space-between;
        gap:10px;   
    }

    .project-detail .more-contents {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }

    .project-detail .more-contents .contents {
        position: relative;
        height: auto;
    }

    .project-detail .more-contents .image-container {
        display: flex;
        position: relative;
        border-radius: 10px;
    }

   .project-detail .image-container:nth-child(n) {
        width: 50%;
    }

   .project-detail .image-container img:nth-child(1) {
        position:absolute;
        top:10%;
        left:0;
        width: 100%;
        box-shadow: var(--boxshadowwithopacity);
        padding:0.5rem;
    }
   .project-detail .image-container img:nth-child(2) {
        position:absolute;
        top:45%;
        width: 50%;
        height: 30%;
        transform: rotate(0deg);
    }
   .project-detail .image-container img:nth-child(3) {
        position:absolute;
        top:65%;
        left:50%;
        width: 50%;
        height: 30%;
        transform: rotate(0deg);
    }

    .project-detail .contents:nth-child(n) {
        height: auto;
        width: 100%;
        margin: auto;
        margin: 10px 0;
    }

    .project-detail .page-contents {
        position: fixed;
        top:15%;
        right: 5%;
        width: 18%;
    }

    .project-detail .page-contents .tech {
        display: inline-flex;
        flex-wrap: wrap;
        background-color: var(--background);
        border-radius: 4px;
        color: #fff;
        font-size: clamp(10px, 4vw, 16px);
        margin: 2px;
        padding: 0 5px;
    }

    .project-detail .page-contents li {
        color: var(--text);
    }

    @media screen and (max-width: 768px) {

        .project-detail .contents:nth-child(n) {
            width: 100%;
        }

        .project-detail .more-contents:nth-child(n) {
            gap: 2rem;
            flex-direction: column-reverse;
        }

       .project-detail .image-container:nth-child(n),
        .contents:nth-child(n) {          
            width: auto;
            height: auto;
        }

       .project-detail .image-container:nth-child(n) img:nth-child(1) {
           position: relative;
           top:0;
        }

       .project-detail .image-container:nth-child(n) img:nth-child(2),
       .project-detail .image-container:nth-child(n) img:nth-child(3) {
            width: 20%;
            height: 40%;   
            top: 60%;         
         }

        .project-detail .image-container:nth-child(n) img:nth-child(2) {
            left:58%;            
         }

        .project-detail .image-container:nth-child(n) img:nth-child(3) {
            left: 0;          
         }
        .project-detail .image-container:nth-child(n) img:nth-child(4) {
            left:80%;  
            bottom: 0;          
         }

        .page-contents {
            display: none;
        }
    }