
.container {
    overflow-y: auto;
    min-height: 100vh;
}

.review-show {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap:5rem;
    padding-top: 4rem;
}

.review {
    width: 100%;
}

.comment-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

.title {
    font-size: 1.5rem;
}

.comment-form-btns {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.comment-form-btns button {
    border: none;
    background-color: green;
    color: #fff;
    border-radius: 4px;
    padding: 5px 10px;
}

.cancel {
    display: inline-block;
    background-color: #f44336;
    padding: 5px 10px;
    border-radius: 4px;
    text-decoration: none;
    margin-left: 5rem;
  }
  
  .cancel:hover {
    background-color: #d32f2f; 
  }
  
  .cancel a {
    color: #fff; 
    text-decoration: none;
  }

  .cancel a span {
    font-size: 10px;
  }
  

.comment form button {
    border: none;
    background-color: tomato;
    color: #fff;
    border-radius: 5px;
    padding: 5px; 
}

@media screen and (max-width: 867px) {

    .container {
        height: 100%;
    }

    .review-show {
        grid-template-columns: 1fr;
        grid-gap:2rem;
        padding-top: 5rem;
    }

    .title {
        font-size: 1.3rem;
    }

    .comment-form-btns {
        margin-top: 0.5rem;
    }
    
}