<style>
    /* Add this to your existing CSS file */

    /* For WebKit browsers (Chrome, Safari, etc.) */
    .contents::-webkit-scrollbar {
        display: none;
    }

    /* For Firefox */
    .contents {
        scrollbar-width: none;
        -ms-overflow-style: none;
        /* For Internet Explorer and Edge */
    }

    .title-section {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .logo_image {
        height: clamp(50px, 5vh, 150px);
        width: clamp(130px, 13vw, 200px);
        background-color: #000;
        border-radius: 5px;
    }

    .title-sub-section {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }

    .project-title {
        font: 600 clamp(30px, 2vw, 40px) 'Roboto';
        margin: 10px 0;
    }

    .profileImage {
        margin: 10px 0 20px 10px;
    }

    .profileImage img {
        width: clamp(50px, 2vw, 70px);
        height: clamp(50px, 2vh, 70px);
    }

    .profile-desc {
        margin: 0 20px;
    }

    .profile-desc .name {
        font: 400 clamp(10px, 2vw, 20px) 'Roboto';
        margin: 5px 0;
    }

    .profile-desc .reading-time,
    .profile-desc .reading-time .fas {
        font: 100 clamp(10px, 2vw, 20px) 'Roboto';
        opacity: 0.4;
        margin-right: 5px;
    }

    .menulist {
        display: inline-flex;
        margin: 2rem 0;
        gap: 20px;
    }

    .project-container {
        display: grid;
        grid-template-columns: 80% 20%;
    }

    .project-detail {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .project-detail .more-contents {
        display: flex;
        flex-direction: row;
        width: 100%;
    }

    .image-container:nth-child(n) {
        background-color: #b3d9ff;
        width: 50%;
        min-height: 300px;
    }

    .image-container .img {
        width: 100%;
        height: 100%;
        background-color: violet;
        border-radius: 5px;
    }

    .contents:nth-child(n) {
        background-color: #ffb3b3;
        min-height: 300px;
        width: 50%;
    }

    .project-detail .contents p {
        font: 400 1rem 'Roboto';
        padding: clamp(1em, 2vw, 3em);
        color: rgb(23, 27, 30);
    }

    .page-contents {
        position: sticky;
        top: 5%;
        max-width: 500px;
        max-height: 300px;
        background-color: #4897e7;
        padding: 2rem;
        margin-left: 10px;
    }

    .page-contents .content-heading {
        margin: 15px 0;
        font: 500 clamp(10px, 2vw, 16px) 'Roboto';
        text-decoration: underline;
        text-transform: uppercase;
    }

    .page-contents ol li::before {
        color: #000;
    }

    .page-contents ol .list-text {
        font: 300 clamp(12px, 2vw, 18px) 'Roboto';
        margin: 5px 0;
        color: tomato;
        cursor: pointer;
    }

    @media screen and (max-width: 800px) {

        .project-container {
            grid-template-columns: 100% 0%;
        }

        .project-detail .more-contents {
            flex-direction: column-reverse;

        }

        .image-container:nth-child(n),
        .contents:nth-child(n) {
            width: 100%;
        }

        .page-contents {
            display: none;
        }
    }
</style>

<div class="title-section">
    <div>
        <img class="logo_image" href="#" src="/img/logoDeeDev.svg" alt="Logo" />
    </div>
    <div class="menulist">
        <a href="/">Home >> </a><a href="/#projects">Projects >> </a><a href=""> Project detail</a>
    </div>
    <div class="project-title"></div>
    <div class="title-sub-section">
        <div class="profileImage">
            <a href="/auth/profile">
                <img href="#" src="<%- loggedIn.image %>" alt="" style="width:40px; border-radius: 100%;" />
            </a>
        </div>
        <div class="profile-desc">
            <div class="name"><%- loggedIn.username || loggedIn.displayName %></div>
            <div class="reading-time">
                <i class="fas fa-user"></i><span></span>
            </div>
        </div>
    </div>
</div>
<div class="project-container">
    <div class="project-detail">
    </div>
    <div class="page-contents">
        <div class="content-heading">
            Page Contents
        </div>
        <ol>
        </ol>
    </div>
</div>

<script>
    const jsonData = {
        "project_details": [
            {
                "title": "Wagefigurer (Mobile App)",
                "reading_time": "June 19, 2022 . 4 minutes to read",
                "more_contents": [
                    {
                        "id": "section1",
                        "image_src": "img/hello.svg",
                        "content": " Wagefigurer (Mobile App) Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic."
                    },
                    {
                        "id": "section2",
                        "image_src": "img/hello.svg",
                        "content": " Wagefigurer (Mobile App) Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic."
                    },
                ],
                "page_contents": {
                    "fixed_contents": "page-contents",
                    "sections": [
                        {
                            "title": "Wagefigurer (Mobile App)"
                        },
                        {
                            "title": "section2"
                        }
                    ]
                }
            },
            {
                "title": "abc 12",
                "reading_time": "Jan 10, 2022 . 2 minutes to read",
                "more_contents": [
                    {
                        "id": "section1",
                        "image_src": "img/hello.svg",
                        "content": " abc Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic."
                    },
                    {
                        "id": "section2",
                        "image_src": "img/hello.svg",
                        "content": " abc Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic."
                    },
                    {
                        "id": "section3",
                        "image_src": "img/hello.svg",
                        "content": " abc Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic."
                    },
                    {
                        "id": "section4",
                        "image_src": "img/hello.svg",
                        "content": " abc Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic."
                    },
                ],
                "page_contents": {
                    "fixed_contents": "page-contents",
                    "sections": [
                        {
                            "id": "section1",
                            "title": "Wagefigurer (Mobile App)"
                        },
                        {
                            "id": "section4",
                            "title": "section2"
                        }
                    ]
                }
            },
            {
                "title": "123",
                "reading_time": "Jan 5, 2021 . 5 minutes to read",
                "more_contents": [
                    {
                        "id": "section1",
                        "image_src": "img/hello.svg",
                        "content": " abc Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic."
                    }
                ],
                "page_contents": {
                    "fixed_contents": "page-contents",
                    "sections": [
                        {
                            "id": "section1",
                            "title": "Wagefigurer (Mobile App)"
                        },
                        {
                            "id": "section4",
                            "title": "section4"
                        }
                    ]
                }
            },
            {
                "title": "ABC",
                "reading_time": "Nov 11, 2021 . 5 minutes to read",
                "more_contents": [
                    {
                        "id": "section1",
                        "image_src": "img/hello.svg",
                        "content": " abc Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente accusamus, assumenda sit iste corporis architecto quaerat accusantium cum qui officia exercitationem similique quam nisi ipsa eaque at animi voluptate hic."
                    }
                ],
                "page_contents": {
                    "fixed_contents": "page-contents",
                    "sections": [
                        {
                            "title": "Wagefigurer (Mobile App)"
                        },
                        {
                            "title": "section2"
                        }
                    ]
                }
            }
        ]
    };

    function createProjectDetails(detail) {
        const projectDetail = document.querySelector('.project-detail');
        const projectTitle = document.querySelector('.project-title');
        const readingTime = document.querySelector('.reading-time span');
        htmlRender = [];
        var html = '';
        // html += `<div class="project-title">${detail.title}</div>`
        projectTitle.textContent = detail.title;
        readingTime.textContent = detail.reading_time;

        detail.more_contents.forEach(moreContent => {
            html += `<div class="more-contents" id="${moreContent.id}">`
            html += `<div class="contents"><p>${moreContent.content}</p></div>`
            html += `<div class="image-container">`
            html += `<img class="img" src=${moreContent.image_src} alt="Project Image">`
            html += `</div>`
            html += `</div>`
        });
        htmlRender.push(html);
        projectDetail.innerHTML = htmlRender.join('');
    }

    const createPageContents = (detail) => {
        const contents = document.querySelector('.page-contents ol');
        const htmlRender = [];
        detail.page_contents.sections.forEach(sec => {
            var html = '';
            html += `<li>`
            html += `<a class="list-text" href="#${sec.id}">${sec.title}</a>`
            html += `</li>`
            htmlRender.push(html);
        });
        contents.innerHTML = htmlRender.join('');
    }

    function displayProjectDetails() {
        const title = localStorage.getItem('title');
        jsonData.project_details.forEach(detail => {
            if (detail.title === title) {
                createProjectDetails(detail);
                createPageContents(detail);
            }
        });
    }

    document.addEventListener('DOMContentLoaded', function () {
        displayProjectDetails();
    });

</script>