<div class="project" id="Top">
    <div class="title-section">
        <div>
            <img class="logo_image" href="#" src="/img/logoDeeDev.svg" alt="Logo" />
        </div>
        <div class="menulist">
            <a href="/">Home >> </a><a href="/#projects">Projects >> </a><a href=""> Project detail</a>
        </div>
        <div class="project-title"></div>
        <div class="title-sub-section">
            <div class="profileImage">
                <a href="/auth/profile">
                    <picture>
                        <source srcset="https://res.cloudinary.com/dedqid79f/image/upload/v1642646586/samples/bike.jpg"
                            type="image/cloudinary">
                        <img src="https://res.cloudinary.com/dedqid79f/image/upload/v1642646586/samples/bike.jpg"
                            alt="KuldeepDhillon" title="KuldeepDhillon" width="125px" height="125px" loading="lazy">
                    </picture>
                </a>
            </div>
            <div class="profile-desc">
                <div class="name">Kuldeep Dhillon</div>
                <div class="reading-time">
                    <i class="fas fa-user"></i><span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="project-container">
        <div class="project-detail">
        </div>
        <div class="page-contents">
        </div>
    </div>
    <div class="written-by">
        <picture>
            <source srcset="https://res.cloudinary.com/dedqid79f/image/upload/v1642646586/samples/bike.jpg"
                type="image/cloudinary">
            <img src="https://res.cloudinary.com/dedqid79f/image/upload/v1642646586/samples/bike.jpg"
                alt="KuldeepDhillon" title="KuldeepDhillon" width="125px" height="125px" loading="lazy">
        </picture>
        <div class="writer-detail">
            <h3>Written by</h3>
            <h2>Kuldeep Dhillon</h2>
            <div class="bio">
                <p>Hello! I am Kuldeep Dhillon, a Freelance Developer & Consultant from Melbourne, Australia.</p>
                <p>I specialize in React, React Native, Express.js & TypeScript application development.</p>
                <p>If you need help on a project, please reach out, and let’s work together.</p>
            </div>
            <div class="contact-me">
                <a href="/#contactSection">CONTACT ME </a>
            </div>
        </div>

    </div>
</div>

<script>

    function createProjectDetails(detail) {
        const projectDetail = document.querySelector('.project-detail');
        const projectTitle = document.querySelector('.project-title');
        const readingTime = document.querySelector('.reading-time span');
        htmlRender = [];
        var html = '';
        // html += `<div class="project-title">${detail.title}</div>`
        projectTitle.textContent = detail.title;
        readingTime.textContent = detail.reading_time;

        detail.more_contents.forEach(moreContent => {
            // html += `<div class="more-contents" id="${moreContent.id}">`
            html += `<div class="more-contents" id="${moreContent.id}">`
            const contentWithLineBreaks = moreContent.content.replace(/\n/g, '<br>');
            html += `<div class="contents"><p>${contentWithLineBreaks}</p></div>`
            html += `<div class="image-container">`
                moreContent.images.forEach( image => {
                    html += `<img class="img" src=${image.image_src} alt="Project_Image">`
                });        
            html += `</div>`
            html += `</div>`
        });
        htmlRender.push(html);
        projectDetail.innerHTML = htmlRender.join('');
    }

    const createPageContents = (detail) => {
        const contents = document.querySelector('.page-contents');
        const htmlRender = [];

        var html = `<div class="content-heading">Page Contents</div>`
        html += '<ol>';
        detail.page_contents.forEach(title => {
            console.log('id==', title);
            html += `<li>`
            html += `<a class="list-text" href="#${title}">${title}</a>`
            html += `</li>`
        });
        html += '</ol>';
        htmlRender.push(html);

        var htmlTech = `<div class="project-technologies">`;
        detail.technologies.forEach(tech => {
            htmlTech += `<div>`
            htmlTech += `<p class="p">${tech}</p>`
            htmlTech += `</div>`
        });
        htmlTech += `</div>`;
        htmlRender.push(htmlTech);

        contents.innerHTML = htmlRender.join('');
    }

    document.addEventListener('DOMContentLoaded', function () {
        const title = localStorage.getItem('title');
        fetch('/jsonData/project-detail.json')
            .then(response => {
                if (!response.ok) {
                    throw new Error("HTTP error " + response.status);
                }
                return response.json();
            })
            .then(json => {
                json.project_details.forEach(projectDetail => {
                    // console.log(projectDetail.title, title)
                    if (projectDetail.title === title) {
                        createProjectDetails(projectDetail);
                        createPageContents(projectDetail);
                    }
                })
            })
            .catch(function () {
                console.log("An error occurred while fetching the JSON file.");
            });
    });

</script>