

<section class="project-detail" id="Top">
    <img class="logo_image" src="/img/logoDeeDev.svg" alt="Logo" />

    <div class="menulist">
        <a href="/portfolio">Home ➣➣</a>
        <a href="/portfolio/#projects">Projects ➣➣</a>
        <a href="#">Project Detail</a>
    </div>

    <p class="title"></p>

    <a href="/auth/profile">
        <picture>
            <img src="https://lh3.googleusercontent.com/a/AGNmyxYKP7KlSgpMYZ1EngEaDDBvDyjCH97coxhOrCmiaA=s96-c"
                alt="Kuldeep_Dhillon" title="KuldeepDhillon" width="125" height="125" loading="lazy">
        </picture>
    </a>
    <p>
        Kuldeep Dhillon <br>
        🕒 <span></span>
    </p>

    <div class="project"></div>
    <div class="page-contents"></div>

    <%- include('../../writer-detail.ejs') %>
</section>


<script>
    const projectDetail = document.querySelector('.project-detail .project');
    const projectTitle = document.querySelector('.project-detail .title');
    const readingTime = document.querySelector('.project-detail span');
    const contents = document.querySelector('.project-detail .page-contents');

    function createProjectDetails(detail) {
        projectTitle.textContent = detail.title;
        readingTime.textContent = detail.reading_time;

        const htmlRender = detail.more_contents.map(moreContent => {
            let html = `<div class="more-contents" id="${moreContent.id}">`;
            const contentWithLineBreaks = moreContent.content.replace(/\n/g, '<br>');
            html += `<div class="contents" style="${!moreContent.images.length ? 'width: 100%;' : ''}">
                <p>${contentWithLineBreaks}</p></div>`;

            if (moreContent.images.length > 0 && moreContent.images[0].image_src.trim() !== "") {
                const images = moreContent.images.map(image =>
                    `<img src="${image.image_src}" width="${image.width}" height="${image.height}" style="box-shadow: ${image['box-shadow']}; top: ${image['top']}; left: ${image['left']}}" alt="Project_Image">`
                ).join('');
                html += `<div class="image-container">${images}</div>`;
            }

            html += `</div>`;
            return html;
        });

        projectDetail.innerHTML = htmlRender.join('');
    }

    function createPageContents(detail) {
        const contentItems = detail.page_contents.map(list =>
            `<li><a href="#${list}">${list}</a></li>`
        ).join('');

        const technologies = detail.technologies.map(tech =>
            `<p class="tech">${tech}</p>`
        ).join('');

        contents.innerHTML = `
            <p>Page Contents</p>
            ${contentItems}
            ${technologies}
        `;
    }

    document.addEventListener('DOMContentLoaded', async () => {
        const title = localStorage.getItem('title');
        try {
            const response = await fetch('/jsonData/project-detail.json');
            if (!response.ok) throw new Error(`HTTP error ${response.status}`);

            const data = await response.json();
            const projectDetail = data.project_details.find(project => project.title === title);

            if (projectDetail) {
                createProjectDetails(projectDetail);
                createPageContents(projectDetail);
            }
        } catch (error) {
            console.error("An error occurred while fetching the JSON file:", error);
        }
    });
</script>