<section id="projects" class="projects">
  <div class="project-sub-section">

    <h2 class="h2">Here are my projects. 😎</h2>
    <div class="project-grid">      
    </div>

  </div>
</section>

<script>
  function goToPage2(title) {
    const projectTitles = document.querySelectorAll('.project-title')
    projectTitles.forEach(projecttitle => {
      // console.log('project titles==', projecttitle.textContent, title);
      if (projecttitle.textContent === title) {
        localStorage.setItem('title', projecttitle.textContent);
        window.location.href = '/project-detail';
      }
    })
  }

  function displayProjects(projects) {
    const projectDetail = document.querySelector('.project-grid');
    const detailRender = [];
    var html = " ";
    // Select the first two items and then items from the 5th to the end
    // const selectedProjects = projects.slice(0, 3).concat(projects.slice(4));

    // Now, loop over the selected projects
    // selectedProjects.forEach(detail => {
      // projects.slice(0,2).forEach(detail => {
      projects.forEach(detail => {
      html += `<div class='project-grid-item'>`;
      html += `<div class='project-detail'>`
      html += `<h3 class='project-subtitle'> ${detail.subtitle} </h3>`
      html += `<h1 class='project-title'>${detail.title}</h1>`

      // Display only part of the content with a 'Read More' toggle
      const shortContent = detail.content.slice(0, 100); // Adjust number of characters as needed
      const fullContent = detail.content;
      html += `<div class='project-content'>
                  <p class="short-content">${shortContent}...</p>
                  <p class="full-content hidden">${fullContent}</p>
                  <a href="javascript:void(0)" class="read-more-toggle" onclick="toggleReadMore(this)">Read More</a>
               </div>`

      html += `<div class="project-technologies">`
      detail.technologies.forEach(tech => {
        html += `<div>`
        html += `<p class="p">${tech}</p>`
        html += `</div>`
      });
      html += `</div>`

      // html += `<button data-title="${detail.title}" onclick='goToPage2(this.dataset.title)'>[View Project]</button>`
      
      if (detail.type != "") {
      html += `<a href='${detail.url}'>[View Online]</a>`
      }
    
      html += `</div>`

      html += `<div class='project-img'>`
      // if (detail.images && Array.isArray(detail.images)) {
      //   detail.images.forEach(image => {
      //     html += `<img src="${image.image_src}" width="${image.width}" height="${image.height}" style="position: ${image['position']}" alt="">`
      //   });
      // }
          html += detail.video
       
      html += `</div>`
      html += `</div>`
    });
    detailRender.push(html);
    projectDetail.innerHTML = detailRender.join('');
  }

  function toggleReadMore(link) {
    const projectContent = link.parentElement;
    const shortContent = projectContent.querySelector(".short-content");
    const fullContent = projectContent.querySelector(".full-content");

    if (fullContent.classList.contains("hidden")) {
      shortContent.classList.add("hidden");
      fullContent.classList.remove("hidden");
      link.textContent = "Read Less";
    } else {
      shortContent.classList.remove("hidden");
      fullContent.classList.add("hidden");
      link.textContent = "Read More";
    }
  }

  document.addEventListener('DOMContentLoaded', function () {
    const title = localStorage.getItem('title');
    fetch('/jsonData/projects.json')
      .then(response => {
        if (!response.ok) {
          throw new Error("HTTP error " + response.status);
        }
        return response.json();
      })
      .then(json => {
        let projects = json.projects;
        try {
          displayProjects(projects);
        } catch (e) {
          console.log("An error occurred within the displayProjects function: ", e);
        }
      })
      .catch(function () {
        console.log("An error occurred while fetching the JSON file.");
      });
  });    
</script>