<section class="why-me">
    <div class="project-sub-section">
      <a href="/project-detail">project detail</a>

      <h2 class="h2">I have done it before, many times. Here are my latest projects. 😎</h2>
  
      <div class="project-grid">
        <div class="project-img">
          <img src="" alt="">
        </div>
        <div class="project-detail">
          <h4 class="project-subtitle">APPLICATION DEVELOPMENT</h4>
          <h1 class="project-title">Wagefigurer (Mobile App)</h1>
          <div class="project-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto pariatur labore quidem necessitatibus
              ullam possimus quaerat iure esse accusamus voluptatibus nihil, nesciunt repellendus cupiditate adipisci sit
              velit, magni recusandae perferendis?</p>
          </div>
          <div class="project-technologies">
            <div>
              <p class="p">React Native</p>
            </div>
            <div>
              <p class="p">NPM</p>
            </div>
            <div>
              <p class="p">SQLight</p>
            </div>
          </div>
          <div class="project-url">
            <a href="/project-detail">[View Project]</a>
          </div>
        </div>
      </div>
  
      <div class="project-grid">
        <div class="project-detail">
          <h4 class="project-subtitle">APPLICATION DEVELOPMENT</h4>
          <h1 class="project-title">Wagefigurer (Mobile App)</h1>
          <div class="project-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto pariatur labore quidem necessitatibus
              ullam possimus quaerat iure esse accusamus voluptatibus nihil, nesciunt repellendus cupiditate adipisci sit
              velit, magni recusandae perferendis?</p>
          </div>
          <div class="project-technologies">
            <div>
              <p class="p">React Native</p>
            </div>
            <div>
              <p class="p">NPM</p>
            </div>
            <div>
              <p class="p">SQLight</p>
            </div>
          </div>
          <div class="project-url">
            <a href="">[View Project]</a>
          </div>
        </div>
        <div class="project-img">
          <img src="" alt="">
        </div>
      </div>
  
      <div class="project-grid">
        <div class="project-img">
          <img src="" alt="">
        </div>
        <div class="project-detail">
          <h4 class="project-subtitle">APPLICATION DEVELOPMENT</h4>
          <h1 class="project-title">Wagefigurer (Mobile App)</h1>
          <div class="project-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto pariatur labore quidem necessitatibus
              ullam possimus quaerat iure esse accusamus voluptatibus nihil, nesciunt repellendus cupiditate adipisci sit
              velit, magni recusandae perferendis?</p>
          </div>
          <div class="project-technologies">
            <div>
              <p class="p">React Native</p>
            </div>
            <div>
              <p class="p">NPM</p>
            </div>
            <div>
              <p class="p">SQLight</p>
            </div>
          </div>
          <div class="project-url">
            <a href="">[View Project]</a>
          </div>
        </div>
      </div>
  
      <div class="project-grid">
        <div class="project-detail">
          <h4 class="project-subtitle">APPLICATION DEVELOPMENT</h4>
          <h1 class="project-title">Wagefigurer (Mobile App)</h1>
          <div class="project-content">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto pariatur labore quidem necessitatibus
              ullam possimus quaerat iure esse accusamus voluptatibus nihil, nesciunt repellendus cupiditate adipisci sit
              velit, magni recusandae perferendis?</p>
          </div>
          <div class="project-technologies">
            <div>
              <p class="p">React Native</p>
            </div>
            <div>
              <p class="p">NPM</p>
            </div>
            <div>
              <p class="p">SQLight</p>
            </div>
          </div>
          <div class="project-url">
            <a href="">[View Project]</a>
          </div>
        </div>
        <div class="project-img">
          <img src="" alt="">
        </div>
      </div>
  
    </div>
  </section>