/* styles.css */
  
  .container {
    max-width: 1200px;
    margin: var(--navheight) auto;
    padding: 0 15px;
  }
  
  section {
    padding: 30px 0;
  }
  
  section h1 {
    color: #11ABB0;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
  }
  
  section p {
    font-size: 1.125rem;
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .form-container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
  }
  
  .form-container h1 {
    font-size: 1.5rem;
    text-align: center;
  }
  
  .form-container .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
  }
  
  .question-label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 0.5rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }
  
  input,
  textarea {
    margin-bottom: 1rem;
    padding: 0.5rem;    
    border-radius: 4px;
    font-size: 1rem;
  }

  input {
    border: none;
    border-bottom: 1px solid gray;
  }
  .form-container .next-button, .form-container .previous-button{
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #333333;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
  }

  .form-container .next-button:hover, .form-container .previous-button:hover {
    background-color: #555555;
  }
  
  #submit-button {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: tomato;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

 #submit-button:hover{
  background-color: rgb(225, 97, 74);
}
  
  @media (max-width: 867px) {
    .container {
      padding: 0 10px;
    }
  
    section h1 {
      font-size: 1.75rem;
    }
  
    section p {
      font-size: 1rem;
    }
    
  
    .form-container {
      padding: 20px;
    }
  
    .form-container h1 {
      font-size: 1.25rem;
    }

    .question-label {
      font-size: 0.9rem;
    }

    .signUpContainer {
      width: 80%;
    }

    .form-container button {
      padding: 8px 15px;
      font-size: 12px;
    }
  }
  
  @media (max-width: 576px) {
    section h1 {
      font-size: 1rem;
    }
  
    section p {
      font-size: 0.875rem;
    }
  
    .form-container {
      padding: 15px;
    }
  
    .form-container h1 {
      font-size: 1.15rem;
    }

    .signUpContainer {
      width: 100%;
    }

    .form-container button {
      padding: 5px 10px;
      font-size: 10px;
    }
  }
  