

<section id="portfolioPage">
    <link rel="stylesheet" href="/css/home/about.css">
    <section class="main-section index-section">
        <div class="left-section">
             <h1>About me</h1>
            <div class="sub-sub-about">
              <p>Hello, my name is Dee. I am a Developer & Consultant from Melbourne, Australia.</p>
              <!-- <p>I specilize in design and development cross platform application. -->
              </p>
              <div class="about-me-icons">
                <div><i class="fab fa-react"></i> Next.js</div>
                <div><i class="fab fa-python"></i> Python</div>
                <div><i class="fab fa-node-js"></i> Express.js</div>
                <div><i class="fab fa-react"></i> React Native</div>
                <div><i class="fab fa-js-square"></i> TypeScript</div>
                <div><i class="fas fa-database"></i> MongoDB</div>
                <div><i class="fas fa-database"></i> MySQL</div>
            </div>
                     
              <p>I have over 4 years of experience in this field.</p>
            </div>
            <p>
                As a professional software developer, I create full stack applications for both mobile and desktop to help your business grow. My services aim to enhance your online presence and visibility, delivering tailored solutions to meet your specific needs and achieve your business goals.
            </p>
            <p>You can send me a message <span><a href="#contactSection">here</a></span> </p>
            <div class="about-me-social-icons">
              <!-- <a href="https://www.facebook.com/">
                <i class="fab fa-facebook"></i>
              </a> -->
              <a href="https://www.linkedin.com/in/dee-dhillon-15b8b3259/">
                <i class="fab fa-linkedin"></i>
              </a>
              <a href="https://github.com/deep-dot">
                <i class="fab fa-git-alt"></i>
              </a>
              <a href="#contactSection">
                <i class="fas fa-envelope"></i>
              </a>
            </div>
        </div>
        <div class="right-section">
            <div class="top-image">
                <img src="../img/profileImages/profilepic.png" alt="Descriptive Alt Text">
                <h3>Dee Dhillon - Freelance Developer & Consultant</h3>
            </div>
            <!-- <div class="bottom-text">
                <div class="text-content">
                    <h3>Dee Dhillon - Freelance Developer & Consultant</h3>
                </div>
            </div> -->
        </div>
    </section>

    <section class="skill-section">
        <h1>My Skills</h1>
        <div class="skill">
            <ul class="software">
                <li>
                    <p>system modelling</p>
                    <span class="bar"><span class="html"></span>70%</span>
                </li>
                <li>
                    <p>big data analytics</p>
                    <span class="bar"><span class="css"></span>70%</span>
                </li>
                <li>
                    <p>AWS cloud computing</p>
                    <span class="bar"><span class="javascript"></span>60%</span>
                </li>
                <li>
                    <p>Web design & development</p>
                    <span class="bar"><span class="python"></span>55%</span>
                </li>
                <li>
                    <p>It problem solving</p>
                    <span class="bar"><span class="python"></span>55%</span>
                </li>
            </ul>
            <li>
            <ul class="languages">
                <li>
                    <h2>Languages</h2>
                    <p>html</p>
                    <span class="bar"><span class="html"></span>70%</span>
                </li>
                <li>
                    <p>css</p>
                    <span class="bar"><span class="css"></span>70%</span>
                </li>
                <li>
                    <p>Javascript</p>
                    <span class="bar"><span class="javascript"></span>60%</span>
                </li>
                <li>
                    <p>python</p>
                    <span class="bar"><span class="python"></span>55%</span>
                </li>
            </ul>
            <ul class="frameworks">
                <h2>Frameworks or Libraries</h2>
                <li>
                    <p>jquerry</p>
                    <span class="bar"><span class="jquerry"></span>60%</span>
                </li>
                <li>
                    <p>React</p>
                    <span class="bar"><span class="react"></span>60%</span>
                </li>
                <li>
                    <p>React Native</p>
                    <span class="bar"><span class="reactnative"></span>60%</span>
                </li>
                <li>
                    <p>Express</p>
                    <span class="bar"><span class="express"></span>65%</span>
                </li>
            </ul>
        </li>
        </div>
    </section>

    <link rel="stylesheet" href="/css/home/why-me.css">
    <%- include('../../why-me/projects/projects') %>

      
    <section class="internship main-section">
        <h1>Internship</h1>
        <p>During my internship, I worked on variety of web and mobile app, design
            and development projects that required a creative and innovative
            approach. I collaborated with teams to develop unique and user-friendly
            websites.</p>
        <div class="company1">
            <div class="aboutCompany">
                <h2>Northern Design</h1>
                    <img src="https://images.unsplash.com/photo-1570126618953-d437176e8c79?q=80&w=2878&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="company1">
            </div>
            <div class="internDescription">
                <p>During my tenure at Northern Design, an innovative technology firm known for pioneering software
                    solutions, I embraced the role of a Web Design Intern. My experience was characterized by a dynamic
                    environment where creativity and technology met to push the boundaries of web usability and
                    aesthetics.
                </p>
                <div class="details">
                    <div class="detail">
                        <strong>Date:</strong>
                        <span>March 2024 - June 2024</span>
                    </div>
                    <div class="detail">
                        <strong>Location:</strong>
                        <span>Melbourne, VIC, AUS</span>
                    </div>
                    <div class="detail">
                        <strong>Role:</strong>
                        <span>Web Design Intern</span>
                    </div>
                    <div class="detail">
                        <strong>Responsibilities:</strong>
                        <span>Assisting with website design and development</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="company2">
            <div class="aboutCompany">
                <h2>Orion Innovations</h2>
                <img src="https://images.unsplash.com/photo-1552664730-d307ca884978?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fElUJTIwY29tcGFueXxlbnwwfHwwfHx8MA%3D%3D" alt="company2">
            </div>
            <div class="internDescription">
                <p>As a Data Analytics Intern at Orion Innovations, a leader in data-driven technologies, I immersed myself in complex data sets to derive actionable insights that influenced strategic decisions.</p>
                <div class="details">
                    <div class="detail">
                        <strong>Date:</strong>
                        <span>May 2023 - Aug 2023</span>
                    </div>
                    <div class="detail">
                        <strong>Location:</strong>
                        <span>Melbourne, VIC, AUS</span>
                    </div>
                    <div class="detail">
                        <strong>Role:</strong>
                        <span>Data Analytics Intern</span>
                    </div>
                    <div class="detail">
                        <strong>Responsibilities:</strong>
                        <span>Performing data analysis and reporting</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="company3">
            <div class="aboutCompany">
                <h2>AquaPure Solutions</h2>
                <img src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8SVQlMjBjb21wYW55fGVufDB8fDB8fHww" alt="company3">
            </div>
            <div class="internDescription">
                <p>During my internship at AquaPure Solutions, an environmental tech company focused on sustainable water technologies, I contributed to research and development projects that aimed to improve water purification processes.</p>
                <div class="details">
                    <div class="detail">
                        <strong>Date:</strong>
                        <span>Oct 2023 - Jan 2024</span>
                    </div>
                    <div class="detail">
                        <strong>Location:</strong>
                        <span>Sydney, NSW, AUS</span>
                    </div>
                    <div class="detail">
                        <strong>Role:</strong>
                        <span>Environmental Tech Intern</span>
                    </div>
                    <div class="detail">
                        <strong>Responsibilities:</strong>
                        <span>Researching and developing new water technologies</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonial-container  main-section">
        
          <!-- <h1>Happy Clients</h1>
          <p>Read what our clients have to say about us</p> -->
        
        <div class="testimonial-cards">
          <div class="card">
            <div class="stars">★★★★★</div>
            <p>Our experience working with Dee Developer was exceptional.</p>
            <div class="user-info">
              <img
                src="https://images.unsplash.com/photo-1620736214006-6b0ad171bf48?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGluZGl2aWR1YWx8ZW58MHx8MHx8fDA%3D"
                alt="User 4">
              <p>Jessica Dyke</p>
            </div>
          </div>
          <div class="card">
            <div class="stars">★★★★</div>
            <p>Working with Dee Developer was a pleasure and they delivered outstanding results.</p>
            <div class="user-info">
              <img
                src="https://images.unsplash.com/photo-1620736214134-7c56feb7ad04?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGluZGl2aWR1YWx8ZW58MHx8MHx8fDA%3D"
                alt="User 4">
              <p>Sarah Nasci</p>
            </div>
          </div>
          <div class="card">
            <div class="stars">★★★★★</div>
            <p>It's been awesome to get the project done from Dee Developer.</p>
            <div class="user-info">
              <img
                src="https://media.istockphoto.com/id/903210012/photo/smiling-worker.jpg?s=2048x2048&w=is&k=20&c=JQDzu-cmbZOKV6iLFfZGE09qEDUkzj22A2ajTcSM2bc="
                alt="User 4">
              <p>Samual White</p>
            </div>
          </div>
        </div>
      </section>

      <!-- <section class="contact-section main-section">
        <h1>Contact Us</h1>
        <a href="/#contactSection">
            <i class="fas fa-phone"></i>Contact
          </a>
        <p>Feel free to drop us a message using the form below!</p>
        <div class="section">
            <div class="subsection1">
                <h2>Leave a Message</h2>
                <p>Fill out the form with your name, email, and a brief message.</p>
                <form>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>

                    <label for="email"><i class="fa fa-envelope"></i>Email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="message"><i class="fa fa-comment"></i>Message:</label>
                    <textarea id="message" name="message" required></textarea>

                    <label for="verification-code" id="verification-code-label" hidden>Verification Code:</label>
                    <input type="text" id="verification-code" hidden>

                    <p id="message-to-user" hidden></p>
                    <input id="submit-button" type="submit" value="Send">

                </form>
            </div>
            <div class="subsection2">
                <img src="../img/profileImages/contactus.png" alt="Decorative Image">
            </div>
        </div>
    </section> -->

    <section class="contact-me-box">
            <div class="sub-contact-me-box">
              <h2>
                Let's build your dream project together. 🤝 </h2>
              <p>
                Schedule a free call with me to discuss your project. I will answer all your questions and concerns and provide
                you with a quote adjusted to your budget. </p>
              <a class="contact-button" href="/#contactSection">book your free call</a><br>
            </div>
    </section>

</section>
<!-- contact-form -->
<script src="/js/home/contactForm.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    contactMe();
  });
</script>
    
    <script src="/js/scripts.js"></script>
    <script src="/js/portfolio.js"></script>