

<section id="portfolioPage">
    <section class="main-section index-section">
        <div class="left-section">
            <div class="content">
                <h1>Software at the Forefront: Shaping a Brighter Future</h1>
                <p>Discover my Software Development journey and aspirations on this site.</p>
                <!-- <button onclick="location.href='contact.html';">Contact</button> -->
            </div>
        </div>
        <div class="right-section">
            <div class="top-image">
                <img src="../img/profileImages/profilepic.png" alt="Descriptive Alt Text">
            </div>
            <div class="bottom-text">
                <div class="text-content">
                    <h2>About Me</h2>
                    <h3>Dee Dhillon - Freelance Developer & Consultant</h3>
                    <p>Hello! I'm Dee Dhillon, a Developer and Consultant based in Melbourne, specializing in design and
                        development for cross-platform mobile and web applications.</p>
                    <button onclick="location.href='contact.html';">Contact Me</button>
                </div>
            </div>
        </div>
    </section>

    <section class="skill-section">
        <h1>My Skills</h1>
        <div class="skill">
            <ul class="languages">
                <li>
                    <p>html</p>
                    <span class="bar"><span class="html"></span>70%</span>
                </li>
                <li>
                    <p>css</p>
                    <span class="bar"><span class="css"></span>70%</span>
                </li>
                <li>
                    <p>Javascript</p>
                    <span class="bar"><span class="javascript"></span>60%</span>
                </li>
            </ul>
            <ul class="frameworks">
                <li>
                    <p>React</p>
                    <span class="bar"><span class="react"></span>60%</span>
                </li>
                <li>
                    <p>React Native</p>
                    <span class="bar"><span class="reactnative"></span>60%</span>
                </li>
                <li>
                    <p>Express</p>
                    <span class="bar"><span class="express"></span>65%</span>
                </li>
            </ul>
        </div>
    </section>

    <section class="gallery main-section">
        <div class="galleryHeader">
            <h1>Project Gallery</h1>
            <p>Explore our impressive collection of work.</p>
        </div>
        <div class="carousel" data-carousel>
          <button class="carousel-button prev" data-carousel-button="prev">&#8656;</button>
          <button class="carousel-button next" data-carousel-button="next">&#8658;</button>
          <ul data-slides>
            <li class="slide" data-active >              
              <img src="../img/profileImages/WF.png" alt="Nature Image #1">              
              <p class="description">The Wage Figurer app for Android and iOS helps cabbies with their daily payment calculations and report creation.</p>
            </li>
            <li class="slide" >
              <img src="../img/profileImages/cabBooking.png" alt="Nature Image #1">
              <p class="description">An across-platform cab ride project would help the public travel from one place to another at fair prices.</p>
            </li>
            <li class="slide" >
              <img src="../img/profileImages/deedeveloper.png" alt="Nature Image #2">
              <p class="description">Deedeveloper.com a platform providing design, development, and consulting services to those in need within the IT industry.</p>
            </li>
            <li class="slide" >
              <img src="../img/profileImages/dietingApp.png" alt="Nature Image #3">
              <p class="description">Comming soon.</p>
            </li>
            <li class="slide" >
              <img src="../img/profileImages/foodDeliveryApp.png" alt="Nature Image #3">
              <p class="description">Food delivery cross platform app.</p>
            </li>
            <li class="slide" >
              <img src="https://images.unsplash.com/photo-1615640848864-21d95c1dc365?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8bXVzaWMlMjBhcHB8ZW58MHx8MHx8fDA%3D" alt="Nature Image #3">
              <p class="description">Next Project Music App.</p>
            </li>
          </ul>
        </div>
      </section>
      
    <section class="internship main-section">
        <h1>Internship</h1>
        <p>During my internship, I worked on variety of web and mobile app, design
            and development projects that required a creative and innovative
            approach. I collaborated with teams to develop unique and user-friendly
            websites.</p>
        <div class="company1">
            <div class="aboutCompany">
                <h2>Northern Design</h1>
                    <img src="https://images.unsplash.com/photo-1570126618953-d437176e8c79?q=80&w=2878&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="company1">
            </div>
            <div class="internDescription">
                <p>During my tenure at Northern Design, an innovative technology firm known for pioneering software
                    solutions, I embraced the role of a Web Design Intern. My experience was characterized by a dynamic
                    environment where creativity and technology met to push the boundaries of web usability and
                    aesthetics.
                </p>
                <div class="details">
                    <div class="detail">
                        <strong>Date:</strong>
                        <span>March 2024 - June 2024</span>
                    </div>
                    <div class="detail">
                        <strong>Location:</strong>
                        <span>Melbourne, VIC, AUS</span>
                    </div>
                    <div class="detail">
                        <strong>Role:</strong>
                        <span>Web Design Intern</span>
                    </div>
                    <div class="detail">
                        <strong>Responsibilities:</strong>
                        <span>Assisting with website design and development</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="company2">
            <div class="aboutCompany">
                <h2>Orion Innovations</h2>
                <img src="https://images.unsplash.com/photo-1552664730-d307ca884978?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fElUJTIwY29tcGFueXxlbnwwfHwwfHx8MA%3D%3D" alt="company2">
            </div>
            <div class="internDescription">
                <p>As a Data Analytics Intern at Orion Innovations, a leader in data-driven technologies, I immersed myself in complex data sets to derive actionable insights that influenced strategic decisions.</p>
                <div class="details">
                    <div class="detail">
                        <strong>Date:</strong>
                        <span>May 2023 - Aug 2023</span>
                    </div>
                    <div class="detail">
                        <strong>Location:</strong>
                        <span>Melbourne, VIC, AUS</span>
                    </div>
                    <div class="detail">
                        <strong>Role:</strong>
                        <span>Data Analytics Intern</span>
                    </div>
                    <div class="detail">
                        <strong>Responsibilities:</strong>
                        <span>Performing data analysis and reporting</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="company3">
            <div class="aboutCompany">
                <h2>AquaPure Solutions</h2>
                <img src="https://images.unsplash.com/photo-1542744173-8e7e53415bb0?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8SVQlMjBjb21wYW55fGVufDB8fDB8fHww" alt="company3">
            </div>
            <div class="internDescription">
                <p>During my internship at AquaPure Solutions, an environmental tech company focused on sustainable water technologies, I contributed to research and development projects that aimed to improve water purification processes.</p>
                <div class="details">
                    <div class="detail">
                        <strong>Date:</strong>
                        <span>Oct 2023 - Jan 2024</span>
                    </div>
                    <div class="detail">
                        <strong>Location:</strong>
                        <span>Sydney, NSW, AUS</span>
                    </div>
                    <div class="detail">
                        <strong>Role:</strong>
                        <span>Environmental Tech Intern</span>
                    </div>
                    <div class="detail">
                        <strong>Responsibilities:</strong>
                        <span>Researching and developing new water technologies</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonial-container  main-section">
        
          <h1>Happy Clients</h1>
          <p>Read what our clients have to say about us</p>
        
        <div class="testimonial-cards">
          <div class="card">
            <div class="stars">★★★★★</div>
            <p>Our experience working with Dee Developer was exceptional.</p>
            <div class="user-info">
              <img
                src="https://images.unsplash.com/photo-1620736214006-6b0ad171bf48?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTZ8fGluZGl2aWR1YWx8ZW58MHx8MHx8fDA%3D"
                alt="User 4">
              <p>Jessica Dyke</p>
            </div>
          </div>
          <div class="card">
            <div class="stars">★★★★</div>
            <p>Working with Dee Developer was a pleasure and they delivered outstanding results.</p>
            <div class="user-info">
              <img
                src="https://images.unsplash.com/photo-1620736214134-7c56feb7ad04?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTl8fGluZGl2aWR1YWx8ZW58MHx8MHx8fDA%3D"
                alt="User 4">
              <p>Sarah Nasci</p>
            </div>
          </div>
          <div class="card">
            <div class="stars">★★★★★</div>
            <p>It's been awesome to get the project done from Dee Developer.</p>
            <div class="user-info">
              <img
                src="https://media.istockphoto.com/id/903210012/photo/smiling-worker.jpg?s=2048x2048&w=is&k=20&c=JQDzu-cmbZOKV6iLFfZGE09qEDUkzj22A2ajTcSM2bc="
                alt="User 4">
              <p>Samual White</p>
            </div>
          </div>
        </div>
      </section>

      <section class="contact-section main-section">
        <h1>Contact Us</h1>
        <p>Feel free to drop us a message using the form below!</p>
        <div class="section">
            <div class="subsection1">
                <h2>Leave a Message</h2>
                <p>Fill out the form with your name, email, and a brief message.</p>
                <form>
                    <label for="name">Name:</label>
                    <input type="text" id="name" name="name" required>

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" required>

                    <label for="message">Message:</label>
                    <textarea id="message" name="message" required></textarea>

                    <input type="submit" value="Send">
                </form>
            </div>
            <div class="subsection2">
                <img src="../images/contactus.png" alt="Decorative Image">
            </div>
        </div>
    </section>
</section>
    
    <script src="script.js"></script>