/* @media screen and (max-width: 768px) for tablets and smaller devices
@media screen and (max-width: 576px) for smartphones in landscape mode
@media screen and (max-width: 480px) for smaller smartphones in portrait mode */
/* Add this rule to your Navbar CSS */


.activeNavElement {
  text-decoration: none;
  text-transform: uppercase;
  background: tomato;
  border-radius: 10px;
}

/* hide when scroll up */
header.hidden {
  transform: translateY(-100%);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  transition: all 0.3s ease-in-out;
  transform: translateY(0);
  background: var(--background);
  /* background: #858282; */
  z-index: 20;
  height: var(--navheight);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  display: flex;
}

header .nav {
  margin: 0px 50px 0px 50px;
  display: flex;
  flex-grow: 1;
  height: inherit;
}

header .nav img {
  width: 200px;
  height: inherit;
}

header .nav .nav_list {
  display: flex;
  height: inherit;
  align-items: center;
  list-style: none;
  flex-grow: 1;
  gap: 1.5em;
  margin: 0;
  padding: 0;
}

header .nav .nav_list {
  margin-left: auto;
}

header .nav .nav_list li:nth-of-type(1) {
  margin-left: auto;
}

header .nav .nav_list li:nth-of-type(7) {
  margin-left: auto;
}

header .nav .nav_list li {
  font: 400 1.3vmax "Roboto";
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.icon-margin-right {
  margin-right: 8px;
  color: var(--mainColor);
}

header .nav .nav_list a {
  text-decoration: none;
  color: var(--colorOnBackground);
}

header .nav .nav_list a:hover,
header .nav .nav_list a:focus {
  text-decoration: none;
  color: var(--hoverColor);
  transform: scale(1.05);
}

header .nav .nav_list i {
  margin-right: 10px;
  color: var(--mainColor);
}


header .nav .nav_list .blog>a {
  display: flex;
  justify-content: center;
  align-items: center;
}

header .nav .nav_list .blog .blog-menu {
  display: none;
  color: var(--hoverColor);
  position: absolute;
  background: var(--background);
  margin-top: 2.2rem;
  list-style: none;
  /*margin top equal to list element padding 0.5 + margin 0.5 */
  box-shadow: 2px 2px 0px rgb(23, 162, 184)
}

header .nav .nav_list .blog .blog-menu li {
  width: 150px;
  text-align: left;
  border-bottom: 1px dotted var(--colorOnBackground);
  border-radius: 0;
}

header .nav .nav_list .blog .blog-menu li:last-child {
  border-bottom: none;
  margin: 15px 5px 5px 5px;
}

header .hamburger-menu {
  display: none;
  position: relative;
  z-index: 99;
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

header .hamburger-menu .bar {
  position: relative;
  width: 100%;
  height: 3px;
  background-color: var(--backgroundColor);
  border-radius: 3px;
  transition: 0.5s;
}

header .hamburger-menu .bar::before,
header .hamburger-menu .bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--backgroundColor);
  border-radius: 3px;
  transition: 0.5s;
}

header .hamburger-menu .bar::before {
  transform: translateY(-8px);
}

header .hamburger-menu .bar::after {
  transform: translateY(8px);
}

.main-wrapper.active header .hamburger-menu .bar {
  background-color: transparent;
}

.main-wrapper.active header .hamburger-menu .bar::before {
  transform: translateY(0) rotate(-45deg);
}

.main-wrapper.active header .hamburger-menu .bar::after {
  transform: translateY(0) rotate(45deg);
}

@media screen and (min-width: 867px) and (max-width: 1250px) {

  header .nav img {
    width: 120px;
  }

  header .nav .nav_list {
    display: flex;
  }

  header .nav .nav_list li {
    font: 400 0.8 vmax "Roboto";
  }

  header .nav .nav_list i {
    margin-right: 5px;
  }

}

/* phone's landscape mode */
@media screen and (max-width: 867px) {

  header .nav {
    margin: 0;
    padding: 0;
    height: inherit;
  }

  header .hamburger-menu {
    display: flex;
    position: absolute;
    top: 1rem;
    right: 2rem;
  }

  header .nav .nav_list {
    position: relative;
    display: none;
    background: var(--background);
    padding: 2rem 8rem;
  }

  header .nav>*:not(img) {
    display: none;      
  }

  .main-wrapper.active header .nav {
    display: block;
    transform: translateY(100%);
    transition: 2s;
    height: auto;  
  }

  .main-wrapper.active header .nav img {
    display: flex;
    background: var(--background);
    height: 70px;
    width: 100%;
  }

  .main-wrapper.active header .nav .nav_list {
    display: block;
    text-align: right;
    transform: translateY(-5%);
    background: var(--background);
  }

  .main-wrapper.active header .nav .nav_list a {
    font: 600 2.5vmax "Roboto";
    color: var(--colorOnBackground);
  }

  .main-wrapper.active header .nav .nav_list li:not(:last-child),
  .main-wrapper.active header .nav .nav_list .blog .blog-menu li {
    margin-bottom: 3em;
    border-bottom: 0.5px dotted var(--colorOnBackground);
  }

  .main-wrapper.active header .nav .nav_list li {
    text-align: center;
  }

  .main-wrapper.active header .nav .nav_list li i:not(.fa-caret-down) {
    display: none;
  }

  header .nav .nav_list .blog {
    list-style: none;
    margin-top: 0;
    box-shadow: none;
  }

  header .nav .nav_list .blog>a i {
    margin-right: 10px;
    transform: rotate(90deg);
  }

  header .nav .nav_list .blog .blog-menu {
    margin-top: 0;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--backgroundColor);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

  .main-wrapper.active .overlay {
    pointer-events: all;
    opacity: 1;
  }

}
/* 
@media screen and (max-width: 480px) {

  header .nav {
    margin: 0;
    padding: 0;
  }

  header .nav img {
    width: 150px;
  }

  header .hamburger-menu {
    display: flex;
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  header .nav .nav_list {
    display: none;
  }

  .main-wrapper.active header .nav .nav_list {
    display: block;
    height: auto;
    padding: 1rem 8rem;
    transition: 1s;
    background: var(--background);
  }

  .main-wrapper.active header .nav .nav_list a {
    font: 600 2.5vmax "Roboto";
    color: var(--colorOnBackground);
  }

  .main-wrapper.active header .nav .nav_list li:not(:last-child) {
    text-align: center;
    margin-bottom: 3em;
    border-bottom: 0.5px dotted var(--colorOnBackground);
  }

  .main-wrapper.active header .nav .nav_list li:last-child {
    text-align: center;
  }

  .main-wrapper.active header .nav .nav_list li i:not(.fa-caret-down) {
    display: none;
  }

  header .nav .nav_list .blog {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    position: relative;
    list-style: none;
    margin-top: 0;
    box-shadow: none;
  }

  header .nav .nav_list .blog>a i {
    margin-right: 10px;
  }

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--backgroundColor);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

  .main-wrapper.active .overlay {
    pointer-events: all;
    opacity: 1;
  }

} */