
.activeNavElement {
  text-decoration: none;
  text-transform: uppercase;
  background: tomato;
  border-radius: 10px;
}

/* hide when scroll up */
header.hidden {
  transform: translateY(-100%);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 20;
  height: var(--navheight);
  background: var(--background);  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
  /* background: #858282; */
}

.nav_bar{
  max-width: 1440px;
  margin: auto;  
  height: inherit;  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.nav_bar .logo_image {
  height: inherit;
  width: 175px;
  padding: 0;
}

nav {
  display: flex;  
  padding: 0 20px 0 20px;
  height: inherit;
  transition: all 0.3s ease-in-out;
  background: var(--background); 
}

nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 1.5em;
}

/* 
nav nav ul li:nth-of-type(1),
nav nav ul li:nth-of-type(7) {
  margin-left: auto;
} */

/* nav nav ul li:nth-of-type(8) {  
  margin-right: auto;
} */

nav ul li {
  font: 400 1em "Roboto";
  text-decoration: none;
  text-transform: uppercase;
}

nav ul a{
  color: var(--colorOnBackground);
  display: block;
}
/* 
nav ul a:hover,
nav ul a:focus {
  text-decoration: none;
  color: var(--hoverColor);
  transform: scale(1.05);
} */

nav ul i {
  margin-right: 10px;
  color: var(--mainColor);
}

.nav_bar .blog-menu,
.nav_bar .about-menu {
  display: block;
  max-height: 0;
  position: absolute;
  overflow: hidden;
  top: var(--navheight);
  transition: max-height 0.4s ease-in-out;
  background-color: var(--colorOnBackground); 
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.nav_bar .blog-menu li a,
.nav_bar .about-menu li a {  
  padding: 10px;
  text-align: left;
  color: var(--background);
  border-bottom: 1px dotted var(--background);
  border-radius: 0;
}

.nav_bar .blog-menu li:last-child {
  border-bottom: none;
}
/* 
.blog > a {
  display: flex;
  justify-content: center;
  align-items: center;
} */

nav ul #loggedIn a,
nav ul #loggedOut a,
nav ul #reg a{
  background-color: var(--backgroundColor);
  color: var(--colorOnBackgroundColor);
  border:none;
  border-radius: 20px;
  padding: 0.5em 1em;
}

nav ul #loggedIn a:hover,
nav ul #loggedOut a:hover,
nav ul #reg a:hover{
  background-color: var(--mainColor);
}

nav ul .fa-user-plus,
nav ul .fa-sign-in-alt,
nav ul .fa-sign-out-alt {
  color: var(--colorOnBackgroundColor);
}

.toggle-btn {
  cursor: pointer; 
  border: none;
  background-color: var(--backgroundColor);
  color: var(--colorOnBackgroundColor);
  outline: none;
  cursor: pointer;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  font-size: 1rem;
  transition: 0.3s;
}

.toggle-btn i {
  line-height: 35px;
}

.toggle-btn:hover {
  background: var(--hoverColor);
}

.main-wrapper.light .toggle-btn i:last-child,
.main-wrapper.dark .toggle-btn i:first-child {
  display: none;
}

.main-wrapper.light .toggle-btn i:first-child,
.main-wrapper.dark .toggle-btn i:last-child {
  display: block;
}

@media screen and (max-width: 768px) {
  
  .logo_image {
    flex: 1;
    margin: auto;
    height: var(--navheight);
  }


.nav_bar nav {
  display: none;
}

.nav_bar.active nav {
  display: block;
  position: absolute;   
  height: auto;
  top: var(--navheight);  
  padding: 0; 
  width: 100%;
}

nav ul{
  display: flex;
  flex-direction: column;
  margin: 2em 0; 
}

 nav ul li{       
  padding: 5px 10px;
  width: 100%;
 }

nav ul li i:not(.toggle-icon) {
display: none;
}

.nav_bar .blog a,
.nav_bar .navAbout a {
  display: flex;
  flex: 1;
  align-items: center;  
  justify-content: space-between;
}

nav ul #loggedIn a,
nav ul #loggedOut a,
nav ul #reg a{
  text-align: center;
}

nav ul li:not(:first-child), 
nav ul .blog-menu li:not(:first-child),
nav ul .about-menu li:not(:first-child) {
  border-top: 0.5px dotted var(--colorOnBackground);  
}

.nav_bar .blog,
.nav_bar .navAbout {
  max-height: 2em;
  box-shadow: none;
}

.nav_bar .blog-menu,
.nav_bar .about-menu {
  max-height: 0;
  top: 0;
  position: relative;  
  overflow: hidden;
  background-color: var(--colorOnBackground); 
}

 .nav_bar .blog-menu,
 .nav_bar .about-menu,
 .nav_bar .blog,
 .nav_bar .about,
  .nav_bar #loggedIn,
  .nav_bar #Testimonial {
  width: 100%;
  transition: max-height 0.4s ease-in-out;
  box-shadow: inset 2px 2px 10px rgba(0, 0, 0, 0.3);
}

.nav_bar .blog-menu li a,
.nav_bar .about-menu li a{
  color: var(--background);
}

  .nav_bar .hamburger-menu {
    flex: 1;    
    cursor: pointer; 
    padding: 0 10px 0 0px;
  }

.hamburger-menu .bar {
  position: relative;
  margin-left: auto;
  height: 3px;
  width: 8vw;
  background-color: var(--backgroundColor);
  border-radius: 3px;
}

.hamburger-menu .bar::before,
.hamburger-menu .bar::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--backgroundColor);
  transition: 0.5s;
}

.hamburger-menu .bar::before {
  transform: translateY(-8px);
}

.hamburger-menu .bar::after {
  transform: translateY(8px);
}

.nav_bar.active .hamburger-menu .bar {
  background-color: transparent;
}

.nav_bar.active .bar::before {
  transform: translateY(0) rotate(-45deg);
}

.nav_bar.active .bar::after {
  transform: translateY(0) rotate(45deg);
}

  .overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--backgroundColor);
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
  }

  .nav_bar.active .overlay {
    pointer-events: all;
    opacity: 1;
  }
}

@media screen and (max-width: 480px) {

    nav ul .profileImage {
      right:30%;
    }

}