
<div class="edit-post hidden">
    <p>Edit Post</p>
    <form method="POST" action="/post/<%- blogpost._id %>?_method=PUT" enctype="multipart/form-data">
        <input type="text" name="title" id="title" value="<%- blogpost.title %>" placeholder="Title" />
        <textarea id="summernote" name="post"><%- blogpost.post %></textarea>
        <img src="<%- blogpost.image %>" alt="Post image" />
        <input type="file" id="image" name="image" placeholder="Image" />
        <div class="button-container">
            <button type="submit">Update</button>
            <button type="button" onclick="window.history.back();">Cancel</button>
        </div>        
    </form>
</div>

<!-- Summernote Lite JS -->
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>
<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            height: 200, 
            width: '100%',
        });
    });
</script>
