<style>
    .faq {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }

    .faq h1,
    .faq h2,
    .faq span {
        color: var(--colorOnBackgroundColor);
    }

    .faq p,
    .faq em {
        color: var(--colorOnBackground);
    }

    .faq h1 {
        font: 600 1.9em 'Roboto';
        margin: 2rem 0;
    }

    .faq h2 {
        font: 500 1.5em 'Roboto';
        margin: 2rem 0;
    }

    .faq p {
        font: 400 1.2em 'Roboto';
    }

    .faq span {
        font: 500 1.5em 'Roboto';
    }

    .faq .faq-item {
        background: var(--backgroundColor);
        border-bottom: 0.5px solid #d4d4d4;
        padding: 1rem;
        margin: 1rem 0;
    }

    .faq .faq-question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
    }

    .faq .faq-answer {
        max-height: 0;
        overflow: hidden;
        background: var(--background);
        transition: max-height 0.4s ease-in-out;
        margin-top: 1rem;
        border-radius: 5px;
    }

    .faq .sub-faq-answer {
        padding: 1rem;
    }

    .faq .faq-answer.open {
        max-height: 10em;
    }

    .faq .toggle-icon {
        font-size: 1.2rem;
        transition: transform 0.3s ease-in-out;
    }

    .faq .toggle-icon.open {
        transform: rotate(180deg);
    }

    @media (max-width: 768px) {
    .faq {
      width: 100%;
    }
  }

</style>

<div class="faq">
    <h1>F.A.Q.</h1>
    <h2>Here are answers to the most frequently asked questions.</h2>
    <div class="faq-item">
        <div class="faq-question" onclick="toggleFaq(event)">
            <span>How much does it cost to build a web application?</span>
            <span class="toggle-icon">+</span>
        </div>
        <div class="faq-answer">
            <div class="sub-faq-answer">
                <p>It depends. A web application can cost between: <strong>4,000$ and 50,000$.</strong></p>
                <p>A very big application can cost even more.</p>
                <em>Everything</em>
                <em> depends on your needs and the scope of the project.</em>
                <p>The best way to get a fair estimate of the cost of your application is to book a free consultation
                    with me or to send me a message.</p>
            </div>
        </div>
    </div>

    <div class="faq-item">
        <div class="faq-question" onclick="toggleFaq(event)">
            <span>What is your process of web application development?</span>
            <span class="toggle-icon">+</span>
        </div>
        <div class="faq-answer">
            <div class="sub-faq-answer">
                <p>Here is a brief description of the process:</p>
                <ol style="margin-left: 30px">
                    <li>Free Consultation & quote</li>
                    <li>Discovery & competitor analysis</li>
                    <li>High-level planning</li>
                    <li>Architecture of the application (database, sitemap)</li>
                    <li>UI/UX design</li>
                    <li>Prototyping</li>
                    <li>Development (Front-end, Back-end)</li>
                    <li>QA Testing</li>
                    <li>Deployment & launch</li>
                    <li>Maintenance & support</li>
                </ol>
                <p>The process is the same for single-page applications and cross-platform web applications.</p>
            </div>
        </div>
    </div>

    <div class="faq-item">
        <div class="faq-question" onclick="toggleFaq(event)">
            <span>What programming languages & technologies do you use to build applications?</span>
            <span class="toggle-icon">+</span>
        </div>
        <div class="faq-answer">
            <div class="sub-faq-answer">
                <p>I use a variety of languages & web technologies to build applications.</p>
                <ul style="margin-left: 25px">
                    <li>On the front-end, I use React with TypeScript.</li>
                    <li>On the back-end, I use Node.js.</li>
                    <li>For the database, I use either MariaDB, MySQL, or MongoDB.</li>
                    <li>For the infrastructure, I use docker, docker-compose, and Kubernetes.</li>
                    <li>For cross-platform applications, I use Electron.</li>
                </ul>
            </div>
        </div>
    </div>

    <div class="faq-item">
        <div class="faq-question" onclick="toggleFaq(event)">
            <span>What are the different types of web applications that you make?</span>
            <span class="toggle-icon">+</span>
        </div>
        <div class="faq-answer">
            <div class="sub-faq-answer">
                <p>I can create single-page applications, dynamic applications, and cross-platform applications using Electron.</p>
            </div>
        </div>
    </div>

    <!-- Add more FAQ items as needed -->
</div>

<script>
    function toggleFaq(event) {
      const questionElement = event.currentTarget;
      const answerElement = questionElement.nextElementSibling;
      const toggleIcon = questionElement.querySelector(".toggle-icon");
  
      if (answerElement.style.maxHeight) {
        answerElement.style.maxHeight = null;
      } else {
        answerElement.style.maxHeight = answerElement.scrollHeight + "px";
      }
  
      toggleIcon.classList.toggle("open");
      toggleIcon.textContent = answerElement.style.maxHeight ? "-" : "+";
    }
  </script>
