<section id="processPage">
    <h1>Web design &amp; development process</h1>

    <ul>
        <li>
            <p>01</p>
            <div>
                <h3>Research</h3>
                <p>Our process starts with hours of research. We ask who
                    your
                    competitors are and take a look at their websites who rank
                    highly on Google.
                    We research the design and
                    content to merge the best design ideas in our new website.
                </p>
            </div>
        </li>
        <li>
            <p>02</p>
            <div>
                <h3>Strategic Planning</h3>
                <p>This is where we determine the structure of your website –
                    the sitemap.
                    Using information about your products and services, we plan
                    the order of
                    the pages, sub-menu pages and news categories for your
                    website.
                </p>
            </div>
        </li>

        <li>
            <p>03</p>
            <div>
                <h3>Design</h3>
                <p>While we always incorporate certain elements for
                    functionality, we use your business logo
                    as well as any
                    promotional material to design a website that reflects the
                    look and feel of your brand.</p>
            </div>
        </li>
        <li>
            <p>04</p>
            <div>
                <h3>Development</h3>
                <p>Then we take all the ingredients we’ve gathered and
                    put them together, take the
                    design concept and bring it to life using
                    technical skill.</p>
            </div>
        </li>
        <li>
            <p>05</p>
            <div>
                <h3>Social Media</h3>
                <p>Everybody wants social media integration with their website,
                    and Social media is an integral part of your
                    website and online marketing, so we incorporate social
                    media features into our website designs and functionality.
                </p>
            </div>
        </li>
        <li>
            <p>06</p>
            <div>
                <h3>Google Analytics</h3>
                <p> We adds unique Google Analytics code to every
                    website it creates as standard practice. Analytics are essential in
                    monitoring your website. You can track which pages people are landing on,
                    how long they are staying for, what devices people use to view your site
                    and much more.</p>
            </div>
        </li>
        <li>
            <p>07</p>
            <div>
                <h3>Launch</h3>
                <p> AppOnpress doesn’t only research, plan, design, write and
                    develop your website, we also ensure it has a smooth entry into the world wide web.
                    We handle and closely supervise the online changes, updates and other
                    details that are part of a new website going live. So you dont have to worry
                    about a thing.</p>
            </div>
        </li>
    </ul>
</section>