
<div id="sitemap">
    <h1>Website Sitemap</h1>
    <ul>
        <li><a href="http://www.example.com/">Home</a></li>
        <li><a href="http://www.example.com/about">About Us</a></li>
        <li><a href="http://www.example.com/services">Services</a>
            <ul>
                <li><a href="http://www.example.com/services/service1">Service 1</a></li>
                <li><a href="http://www.example.com/services/service2">Service 2</a></li>
            </ul>
        </li>
        <li><a href="http://www.example.com/blog">Blog</a>
            <ul>
                <li><a href="http://www.example.com/blog/post1">Post 1</a></li>
                <li><a href="http://www.example.com/blog/post2">Post 2</a></li>
            </ul>
        </li>
        <li><a href="http://www.example.com/contact">Contact Us</a></li>
        <li><a href="http://localhost:5000/post/6451d93fbe659d7a17d9ad71">post link</a></li>
    </ul>
</div>

