
:root {
    --navheight: 11vh;
     --mainColor: #17a2b8;
     --hoverColor: #5bacdf;
     --backgroundColor: #f1f8fc;
     --background: #2a4657;
     --colorOnBackground: #f1f8fc;
     --colorOnBackgroundColor: #2a4657;
  }
  
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Roboto', sans-serif;
    background-color: #f6f6f6;
    color: #333;
    line-height: 1.6;
  }

  /* Button styles */
.back-to-top {
  display: none;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  z-index: 9999;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: var(--background);
  color: var(--colorOnBackground);
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
  outline: none;
}

.back-to-top.visible {
  display: block;
}

.back-to-top:hover {
  opacity: 0.8;
}