<div class="login_wrapper">
    <div class="sub_login_wrapper">
        <h1>Forgot Password</h1>
        <p>Password Reset Token will be sent to your entered email address.</p>
        <div class="login-error">
            <p style="text-align: center;">
                <%= error %>
            </p>
        </div>
        <div class="login-success">
            <p>
                <%= success %>
            </p>
        </div>
        <form id="loginForm" method="post" action="/auth/login" content-type="application/json">
            <div class="email">
                <i class="fas fa-envelope icon"></i>
                <input name="email" type="email" required id="email" placeholder="Email Address *" />
            </div>

            <button class="login-btn" id="send" type="submit">Send</button>

            <div id="sending">
                <button>
                    <i class="fa fa-circle-o-notch fa-spin"></i>Sending
                </button>
            </div>
            <div id="success">
                <button class="btn bg-success">
                    Sent
                </button>
            </div>
            <div id="error">
                <button class="btn bg-danger">
                    Error
                </button>
            </div>
            <div>
                <p>
                    <a href="/auth/login" class="link-danger">Back</a>
                </p>
            </div>
        </form>

        <script>
            document.getElementById('sending').style.display = 'none';
            document.getElementById('success').style.display = 'none';
            document.getElementById('error').style.display = 'none';

            document.getElementById('forgotpassword').addEventListener('submit', e => {
                e.preventDefault();
                document.getElementById('sending').style.display = 'block';
                document.getElementById('send').style.display = 'none';
                const email = document.querySelector('#email').value;
                return fetch('/auth/password/forgot', {
                    method: 'POST',
                    headers: { 'Content-type': 'application/json' },
                    body: JSON.stringify({ email: email })
                })
                    .then(res => res.json())
                    .then(data => {
                        if (data.success) {
                            document.getElementById('send').style.display = 'none';
                            document.getElementById('sending').style.display = 'none';
                            document.getElementById('success').style.display = 'block';
                            // alert(data.message)
                            window.location.reload();
                        } else {
                            document.getElementById('send').style.display = 'none';
                            document.getElementById('sending').style.display = 'none';
                            document.getElementById('error').style.display = 'block';
                            //alert(data.msg);
                            window.location.reload();
                        }
                    });
            });
        </script>
    </div>
</div>