<div class="pt-5 col-lg-6 col-md-6 offset-lg-3 offset-md-3">
    <div class="login_wrapper">
        <div class="w3-center">
            <h3>Forgot Password</h3>
            <p>Password Reset Token will be sent to your entered email address.</p>
        </div>
        <div class="col-lg-8 col-md-8">
            <p style=" font-size:14px; color:red">
                <%= error %>
            </p>
        </div>
        <div class="col-lg-8 col-md-8">
            <p style=" font-size:14px; color:green">
                <%= success %>
            </p>
        </div>
        <form id="forgotpassword" class="formsix-pos">
            <div class="formsix-pos">
                <div class="form-group i-email ">
                    <i class="fas fa-envelope icon"></i>
                    <input name="email" type="email" class="form-control" required id="email"
                        placeholder="Email Address *" />
                </div>
            </div>

            <div class="w3-center">
                <button id="send" type="submit" class="btn btn-lg">Send</button>
            </div>
            <div id="sending" class="w3-center">
                <button class="btn btn-lg">
                    <i class="fa fa-circle-o-notch fa-spin"></i>Sending
                </button>
            </div>
            <div id="success" class="w3-center">
                <button class="btn bg-success">
                    Sent
                </button>
            </div>
            <div id="error" class="w3-center">
                <button class="btn bg-danger">
                    Error
                </button>
            </div>
            <div class="w3-center">
                <p class="small fw-bold mt-2 pt-1 mb-0">
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="/auth/login" class="link-danger">Back</a>
                </p>
            </div>
        </form>

        <script>
            document.getElementById('sending').style.display = 'none';
            document.getElementById('success').style.display = 'none';
            document.getElementById('error').style.display = 'none';

            document.getElementById('forgotpassword').addEventListener('submit', e => {
                e.preventDefault();
                document.getElementById('sending').style.display = 'block';
                document.getElementById('send').style.display = 'none';
                const email = document.querySelector('#email').value;
                return fetch('/auth/password/forgot', {
                    method: 'POST',
                    headers: { 'Content-type': 'application/json' },
                    body: JSON.stringify({ email: email })
                })
                    .then(res => res.json())
                    .then(data => {
                        if (data.success) {
                            document.getElementById('send').style.display = 'none';
                            document.getElementById('sending').style.display = 'none';
                            document.getElementById('success').style.display = 'block';
                            // alert(data.message)
                            window.location.reload();
                        } else {
                            document.getElementById('send').style.display = 'none';
                            document.getElementById('sending').style.display = 'none';
                            document.getElementById('error').style.display = 'block';
                            //alert(data.msg);
                            window.location.reload();
                        }
                    });
            });
        </script>
    </div>
</div>