<div class="pt-5 col-lg-6 col-md-6 offset-lg-3 offset-md-3">
    <div class="login_wrapper">
      <h3 class="w3-center">Reset Password</h3>
      <div class="col-lg-8 col-md-8">
        <p style=" font-size:14px; color:red">
          <%= error %>
        </p>
      </div>
      <div class="col-lg-8 col-md-8">
        <p style=" font-size:14px; color:green">
          <%= success %>
        </p>
      </div>
      <form id="resetpassword" class="formsix-pos" method="POST" action='/auth/password/reset/<%= token %>?_method=PUT'
        content-type="application/json" required>
        <div class="formsix-e">
          <div class="form-group i-password">
            <i id="locked" class="fas fa-lock icon"></i>
            <i id="unlocked" class="fas fa-lock-open icon"></i>
            <input name="password" id="password" type="password" class="form-control" required
              placeholder="New Password" />
          </div>
          <div class="form-group i-password">
            <i id="confirmlocked" class="fas fa-lock icon"></i>
            <i id="confirmunlocked" class="fas fa-lock-open icon"></i>
            <input name="confirmpassword" id="confirmpassword" type="password" class="form-control" required
              placeholder="Confirm Password" />
          </div>
        </div>
  
        <input type="hidden" name="token" value="<%= token %>" id="token" />
        <div class=" m-3 form-check">
          <input class="form-check-input me-2" type="checkbox" id="showPassword" name="showPassword"
            onclick="showresetpassword()" />
          <label class="form-check-label" for="showPassword">
            Show Passwords
          </label>
        </div>
  
  
        <div class="text-center text-lg-start mt-4 pt-2">
          <button type="submit" class="btn" style="padding-left: 2.5rem; padding-right: 2.5rem;">Send</button>
          <p class="small fw-bold mt-2 pt-1 mb-0">Back to
            &nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/auth/login" class="link-danger">Login</a>
          </p>
        </div>
      </form>
  
      <script type="text/javascript">
        document.getElementById("unlocked").style.display = 'none';
        document.getElementById("confirmunlocked").style.display = 'none';
        function showresetpassword() {
          document.getElementById("locked").style.display = 'none';
          var x = document.getElementById("password");
          var y = document.getElementById("confirmpassword");
          if (x.type === "password") {
            x.type = "text";
            document.getElementById("unlocked").style.display = 'block';
          } else {
            x.type = "password";
            document.getElementById("unlocked").style.display = 'none';
            document.getElementById("locked").style.display = 'block';
          }
          if (y.type === "password") {
            y.type = "text";
            document.getElementById("confirmunlocked").style.display = 'block';
            document.getElementById("confirmlocked").style.display = 'none';
          } else {
            y.type = "password";
            document.getElementById("confirmunlocked").style.display = 'none';
            document.getElementById("confirmlocked").style.display = 'block';
          }
        }
      </script>
      <!-- <script>
                    document.getElementById('resetpassword').addEventListener('submit', e => {
                      e.preventDefault();
                      const password = document.querySelector('#password').value;
                      const confirmpassword = document.querySelector('#confirmpassword').value;
                      const token = document.querySelector('#token').value;
                      return fetch('/auth/password/reset/:token', {
                        method: 'PUT',
                        headers: { 'Content-type': 'application/json' },
                        body: JSON.stringify({ password: password, confirmpassword: confirmpassword, token: token })
                      })
                        .then(res => res.json())
                        .then(data => {
                          if (data.success) {
                            alert(data.message)
                            window.location.href = 'http://localhost:4000/auth/login'
                          } else {
                            alert(data.msg);
                            window.location.reload();
                          }
                        });
                    });
                  </script> -->
    </div>
  </div>